.lot\:button {
  display: inline-flex;
  .button {
    .title {
      .icon {
        &.caret {
          &:only-child {
            margin-right: (-$x / 2);
            margin-left: (-$x / 2);
          }
        }
      }
    }
    + .button {
      margin-left: 1px;
    }
  }
}
