.lot\:input {
  display: inline-flex;
  position: relative;
  * {
    + * {
      margin-left: -1px;
    }
  }
  &.width {
    display: flex;
  }
  .fix {
    @extend .input;
    background: none;
    width: auto;
    max-width: 50%;
    cursor: default;
    white-space: nowrap;
    text-overflow: ellipsis;
    @include user-select(none);
    &.icon {
      width: ($x * 1.5);
      padding: (($y / 6) + 1) 0; // (($y / 6) + border-y-width) 0
    }
  }
  .button {
    background: none;
    color: inherit;
    border-width: 1px;
    line-height: ($h - 2); // $h - (border-top-width + border-bottom-width)
    // .title {
    //   .icon {
    //     margin: -1px;
    //     &:first-child {
    //       margin-left: (-(($x / 4) + 1)); // -(($x / 4) + border-left-width)
    //     }
    //     &:last-child {
    //       margin-right: (-(($x / 4) + 1)); // -(($x / 4) + border-right-width)
    //     }
    //     &:only-child {
    //       margin-right: (-(($x / 4) + 1)); // -(($x / 4) + border-right-width)
    //       margin-left: (-(($x / 4) + 1)); // -(($x / 4) + border-left-width)
    //     }
    //   }
    // }
    &:focus,
    &:active {
      background: rgba(0, 0, 0, .05);
      color: inherit;
    }
  }
  .lot\:button {
    .button {
      + .button {
        margin-left: -1px;
      }
    }
  }
}
