*,
::before,
::after {
  background: none;
  box-sizing: border-box;
  color: inherit;
  font: inherit;
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-transform: none;
}

::placeholder {
  @include placeholder(.5);
}

:focus {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  outline: 0;
}

:focus-visible {
  box-shadow: var(--shadow--focus-visible, none);
  outline: 3px solid var(--stroke--focus-visible, transparent);
  z-index: 1;
}

[role='link'],
a {
  @extend .a;
}

:root, body {
  min-height: 100%;
}

:root {
  background: var(--fill);
  border: 0 solid var(--stroke);
  color: var(--color);
  font: normal normal var(--font-size)/var(--font-height) var(--font-face);
  scroll-behavior: smooth;
  text-align: left;
}

abbr {
  border: 0;
  border-bottom: 1px solid transparent;
  cursor: inherit;
  text-decoration: none;
  &[title]:hover {
    border-bottom-color: var(--stroke);
    cursor: help;
  }
}

article,
aside,
footer,
header,
main,
nav,
section {
  display: block;
}

b,
dt,
legend,
strong,
th {
  @extend .b;
}

dfn,
em,
i,
var {
  @extend .i;
}

caption,
figure {
  text-align: center;
}

code {
  @extend .code;
}

del,
s {
  @extend .s;
}

dialog {
  background: var(--fill-dialog, var(--fill));
  border: 0 solid transparent;
  border-color: var(--stroke-dialog, var(--stroke));
  bottom: 0;
  box-shadow: var(--shadow-dialog, var(--shadow));
  color: var(--color-dialog, var(--color));
  display: block;
  height: fit-content;
  left: 0;
  margin: auto;
  max-width: 100%;
  min-width: calc(var(--x) * 12);
  padding: var(--y) var(--x);
  position: fixed;
  right: 0;
  top: 0;
  width: fit-content;
}

dialog::backdrop {
  @include user-select(none);
  background: var(--fill-dialog--backdrop, rgba(0, 0, 0, .5));
}

dialog:not([open]) {
  display: none;
}

dialog > form > p > input,
dialog > form > p > select,
dialog > form > p > textarea {
  display: block;
  min-width: 100%;
  width: 100%;
}

dialog [role='group'] {
  display: flex;
  flex-wrap: wrap;
  gap: calc(var(--x) / 4);
  justify-content: end;
}

[role='img'],
img {
  @extend .img;
}

ins,
u {
  @extend .u;
}

kbd,
small,
sub,
sup {
  @extend .small;
}

sub,
sup {
  line-height: 0;
  position: relative;
}

sub {
  top: .125em;
  vertical-align: sub;
}

sup {
  top: -.125em;
  vertical-align: super;
}

mark {
  background: var(--fill-mark);
  color: var(--color-mark);
}

pre {
  font-style: normal;
  font-weight: normal;
  overflow: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  code {
    background: var(--fill-code-block);
    border: 0 solid;
    border-color: var(--stroke-code-block);
    border-radius: var(--arc-code-block);
    box-shadow: var(--shadow-code-block);
    color: var(--color-code-block);
    display: block;
    padding: calc(var(--y) - var(--z)) calc(var(--x) / 2);
  }
}

table {
  @extend .table;
}

::-moz-color-swatch {
  border: 0;
}

::-moz-focus-inner {
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
}

::-webkit-color-swatch {
  border: 0;
}

::-webkit-color-swatch-wrapper {
  padding: 0;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  @include appearance(none);
  margin: 0;
}

@each $v in (-ms-browse, -webkit-file-upload-button, file-selector-button) {
  ::#{$v} {
    background: rgba(128, 128, 128, .025);
    border: 0;
    color: var(--color-link);
    font: inherit;
    margin: 0;
    margin-inline-end: calc(var(--x) / 2);
    padding: calc(var(--y) / 4) calc(var(--x) / 2);
    @each $w in (hover, focus, active) {
      &:#{$w} {
        color: var(--color-link--#{$w}, var(--color-link));
      }
    }
  }
}

// [role='combobox'],
[role='button'],
[role='checkbox'],
[role='listbox'],
[role='radio'],
[role='slider'],
[role='switch'],
button,
input[type='button'],
input[type='checkbox'],
input[type='color'],
input[type='file'],
input[type='image'],
input[type='radio'],
input[type='range'],
input[type='reset'],
input[type='submit'],
label,
select,
summary {
  @include user-select(none);
  cursor: pointer;
}

input[type='number'],
input[type='search'] {
  @include appearance(textfield);
}

button,
input,
select,
textarea {
  &:disabled {
    cursor: not-allowed;
  }
}

@for $i from 0 through 5 {
  h#{$i + 1} {
    @if 0 == $i {
      font-size: calc(var(--z) * 2);
    } @else {
      font-size: calc(var(--z) * (2 - (#{$i} / 4)));
    }
    line-height: 1;
  }
}

kbd {
  cursor: pointer;
  display: inline-block;
  padding: 0 calc(var(--z) / 2);
  vertical-align: middle;
}

blockquote,
details,
dl,
dt,
fieldset,
figcaption,
figure,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
nav,
ol,
p,
pre,
table,
ul {
  @extend .p;
}

blockquote {
  font-size: calc(var(--z) * 1.1);
  margin-right: var(--x);
  margin-left: var(--x);
}

dl {
  margin-left: var(--x);
}

figure {
  [role='img'],
  img {
    display: block;
    margin: 0 auto;
  }
  figcaption {
    + * {
      margin-top: calc(var(--y) / 2);
    }
  }
  * {
    + figcaption {
      margin-top: calc(var(--y) / 2);
    }
  }
}

ol,
ul {
  margin-left: calc(var(--x) + var(--z));
}

ol,
ul {
  & & {
    margin-left: var(--z);
  }
}

ul {
  list-style: square;
}

fieldset,
hr {
  border: 1px solid var(--stroke);
  color: inherit;
}

fieldset {
  padding: var(--y) var(--x);
  legend {
    padding: 0 calc(var(--x) / 3);
    + * {
      margin-top: calc(var(--h) / -2);
    }
  }
}

hr {
  border-style: dashed;
  border-width: 1px 0 0;
}