@import './content/column.scss';
@import './content/columns.scss';
@import './content/row.scss';
@import './content/rows.scss';
@import './content/section.scss';
@import './content/siema.scss';
@import './content/stack.scss';
@import './content/tab.scss';

pre {
  &.is\:text {
    code {
      background: none;
      border-style: dotted;
      border-width: 1px;
      color: inherit;
      display: inline-block;
    }
  }
}