@import './lot/bar.scss';
@import './lot/column.scss';
@import './lot/columns.scss';
@import './lot/desk.scss';
@import './lot/field.scss';
@import './lot/fields.scss';
@import './lot/file-folder.scss';
@import './lot/files-folders.scss';
@import './lot/links.scss';
@import './lot/menu.scss';
@import './lot/menus.scss';
@import './lot/page.scss';
@import './lot/pager.scss';
@import './lot/pages.scss';
@import './lot/row.scss';
@import './lot/rows.scss';
@import './lot/section.scss';
@import './lot/stack.scss';
@import './lot/stacks.scss';
@import './lot/tab.scss';
@import './lot/tabs.scss';
@import './lot/tasks.scss';

body {
  > .lot {
    margin-bottom: 0;
    > .lot\:bar {
      margin-bottom: 0;
    }
    > .lot\:desk {
      margin-bottom: 0;
    }
  }
}

form[name='set'] {
  margin-bottom: 0;
}