// Disable smooth scrolling when user(s) have `prefers-reduced-motion` enabled
@media (prefers-reduced-motion: reduce) {
  :root {
    scroll-behavior: auto;
  }
}

@media (min-width: 720px) {
  .can\:flex {
    display: flex;
    &.has\:gap {
      gap: calc(var(--y) + (var(--h) - var(--z))) calc(var(--x) + (var(--h) - var(--z)));
    }
    > * {
      flex: 1;
      margin: 0;
      min-width: 0; // <https://stackoverflow.com/a/66689926/1163000>
    }
  }
  .lot\:fields {
    &.can\:flex {
      &.has\:gap {
        gap: var(--y) var(--x);
      }
    }
  }
  .lot\:tabs {
    .lot\:links {
      border-bottom: 1px solid;
      border-bottom-color: var(--stroke-tab--current, var(--stroke-tab));
      line-height: calc(var(--y) * 2);
      li {
        background: var(--fill-tab);
        border-radius: var(--arc-tab);
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border: 1px solid;
        border-color: var(--stroke-tab);
        border-bottom-width: 0;
        box-shadow: var(--shadow-tab);
        + li {
          margin-left: -1px;
        }
        &.has\:link {
          background: var(--fill-tab-link, var(--fill-tab));
          border-color: var(--stroke-tab-link, var(--stroke-tab));
          box-shadow: var(--shadow-tab-link, var(--shadow-tab));
          @each $v in (hover, focus, active) {
            &:#{$v} {
              background: var(--fill-tab-link--#{$v}, var(--fill-tab-link, var(--fill-tab)));
              border-color: var(--stroke-tab-link--#{$v}, var(--stroke-tab-link, var(--stroke-tab)));
              box-shadow: var(--shadow-tab-link--#{$v}, var(--shadow-tab-link, var(--shadow-tab)));
            }
          }
        }
        &.is\:current {
          background: var(--fill-tab--current, var(--fill-tab));
          border-color: var(--stroke-tab--current, var(--stroke-tab));
          box-shadow: var(--shadow-tab--current, var(--shadow-tab));
          z-index: 1;
          &::after {
            border-bottom: 1px solid;
            border-bottom-color: var(--fill);
            bottom: -1px;
            content: "";
            left: 0;
            position: absolute;
            right: 0;
            top: auto;
          }
        }
        &.not\:active {
          background: var(--fill-tab--disabled, var(--fill-tab));
          border-color: var(--stroke-tab--disabled, var(--stroke-tab));
        }
      }
      a {
        padding: 0 calc(var(--z) * 1.25);
      }
    }
    &.has\:gap {
      .content\:tab,
      .lot\:tab {
        background: var(--fill-tab);
        border: 1px solid;
        border-color: var(--stroke-tab);
        border-top-width: 0;
        padding: var(--y) var(--x);
        &.is\:current {
          background: var(--fill-tab--current, var(--fill-tab));
          border-color: var(--stroke-tab--current, var(--stroke-tab));
        }
      }
    }
    &:not(.count\:1):not(.has\:gap) {
      .content\:tab,
      .lot\:tab {
        margin-top: var(--y);
      }
    }
    &:not(.has\:current) {
      .lot\:links {
        border-bottom-color: var(--stroke-tab);
      }
    }
  }
}

@media (max-width: 720px) {
  .lot\:bar {
    .lot\:links {
      &.of\:lot {
        flex: 1;
        min-width: 100%;
        width: 100%;
      }
    }
    .has\:form {
      flex: 1;
      .lot\:field {
        .with\:fields {
          display: flex;
          input {
            flex: 1;
          }
        }
      }
    }
    .has\:menu {
      ul {
        ul {
          left: 25%;
        }
      }
    }
  }
  .lot\:desk,
  .lot\:section {
    padding: calc(var(--y) / 2) calc(var(--x) / 2);
  }
  .lot\:field {
    flex-direction: column;
    width: auto;
    > * {
      + * {
        margin-top: calc(var(--y) / 3);
      }
    }
    > label {
      padding: 0;
      text-align: inherit;
      width: auto;
      + div {
        padding: 0;
        text-align: inherit;
        width: auto;
      }
    }
  }
  .lot\:pager {
    > span {
      &:first-child,
      &:last-child {
        display: none;
      }
    }
  }
  .lot\:tabs {
    .lot\:links {
      ul {
        gap: 0 var(--x);
        margin-bottom: var(--y);
      }
      li {
        &.is\:current {
          opacity: .5;
        }
      }
      .title {
        svg {
          display: none;
        }
      }
    }
  }
}