.a {
  color: inherit;
  &:where(:any-link) {
    background: var(--fill-link, none);
    color: var(--color-link);
    @each $v in (hover, focus, active) {
      &:#{$v} {
        background: var(--fill-link--#{$v}, var(--fill-link, none));
        color: var(--color-link--#{$v}, var(--color-link));
      }
    }
  }
  &.not\:active {
    background: var(--fill-link--disabled, var(--fill-link, none));
    color: var(--color-link--disabled, var(--color-link));
  }
}

.b {
  font-weight: bolder;
}

.code {
  color: var(--color-code);
  font-family: var(--font-face-mono);
  font-size: 90%; // Magic :(
}

.description {
  font-weight: 300;
}

.figure {
  background: repeating-conic-gradient(rgba(128, 128, 128, .125) 0% 25%, rgba(0, 0, 0, 0) 0% 50%) 50% 50% / calc(var(--x) / 2) calc(var(--y) / 2);
  padding: var(--x) var(--y);
  [role='img'],
  img {
    box-shadow: var(--shadow-dialog);
  }
  figcaption {
    + * {
      margin-top: var(--y);
    }
  }
  * {
    + figcaption {
      margin-top: var(--y);
    }
  }
}

.has\:height {
  display: flex;
  height: 100%;
}

.has\:width {
  display: flex;
  width: 100%;
}

.i {
  font-style: italic;
}

.image,
.img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

.is\:fix {
  cursor: default;
}

.not\:active {
  color: var(--color--disabled, inherit);
  cursor: not-allowed;
}

.p {
  * + & {
    margin-top: var(--y);
  }
}

.small {
  font-size: calc(var(--z) * .75);
}

.s {
  text-decoration: line-through;
}

.table {
  border-collapse: collapse;
  width: 100%;
  caption {
    caption-side: bottom;
    margin-top: calc(var(--y) / 2);
  }
  th,
  td {
    border: 1px solid var(--stroke);
    padding: calc(var(--y) / 4) calc(var(--x) / 2);
    text-align: inherit;
    vertical-align: top;
  }
}

.title {
  .status {
    display: inline-block;
    line-height: normal;
    margin-left: calc(var(--x) / 4);
    vertical-align: middle;
  }
}

.u {
  text-decoration: underline;
}

[hidden] {
  display: none !important;
}