// @desk
.desk {
  // max-width:@--w;
  .p2;
  margin:0 auto;
  &::before,
  &::after {.clear}
  > header {.m2b}
  > footer {
    .m2t;
    > .tools {margin-left:(@--x * 5)}
  }
  @media (max-width:@--w-narrow) {
    .p1;
    > header {.m1b}
    > footer {
      .m1t;
      > .tools {margin-left:0}
    }
  }
}

// @container
.container {.p1}

// @message
.messages {
  margin:0;
  padding:0;
  position:fixed;
  right:(@--x * .5);
  bottom:(@--y * .5);
  z-index:9999;
  visibility:visible;
  opacity:1;
  .transition(all .5s ease-out);
  &.exit {
    visibility:hidden;
    opacity:0;
  }
}
.message {
  background:#000;
  color:#fff;
  padding:(@--y * .25) (@--x * .5);
  .icon {.margin-icon}
  .title {color:inherit}
  p,.links {margin:(@--y * .25) 0 0}
  a {
    color:inherit;
    opacity:.6;
    &:focus,
    &:hover {
      color:inherit;
      opacity:1;
    }
  }
  + .message {margin-top:(@--y * .5)}
}

// @layer
.layers {position:relative}
.js .layer {display:none}
.layer,
.js .layer.active {display:block}
.layer + .layer {.m1t}
.js .layer + .layer {.m0t}

// @form (full page)
html.form,
html.form body {
  display:table;
  margin:0;
  padding:0;
  width:100%;
  height:100%;
}
html.form {
  body {
    display:table-cell;
    vertical-align:middle;
    .desk {
      .m0;
      .p0;
      > footer .tools {.m0}
    }
    form {
      max-width:(@--x * 10);
      margin:0 auto;
      .field > label {display:none}
    }
  }
}

// @nav
.nav {
  line-height:(@--y * 2);
  ul,
  li,
  .form,
  .field {
    display:block;
    width:auto;
    height:inherit;
    margin:0;
    padding:0;
    list-style:none;
    position:relative;
  }
  ul {
    height:(@--y * 2);
    ul {.menus}
  }
  li {
    float:left;
    &.right {
      float:right;
      ul {
        right:0;
        left:auto;
        ul {right:100%}
      }
    }
    &.inverse {
      .color-html;
      a {.color-a}
      &.active > a {
        position:relative;
        z-index:9999; /* must be greater than `.nav > ul > li > ul` */
        background:inherit;
        color:inherit;
      }
    }
    &.separator {
      width:1px;
      height:@--y;
      margin:(@--y * .5) 0;
      overflow:hidden;
      &:first-child,
      &:last-child {display:none}
    }
  }
  a {
    display:block;
    padding:0 (@--x * .75);
    overflow:hidden;
  }
  .icon {
    .margin-icon;
    margin-top:(@--y * .5);
  }
  .field {
    margin:0;
    .button {display:none}
    .input {
      display:block;
      width:(@--x * 8);
      height:(@--y * 2);
      line-height:(@--y * 2);
      margin:0;
      padding:0 @--z;
      border:0;
    }
  }
}
html:not(.js) .nav li:hover > ul,
html:not(.js) .nav li:focus-within > ul {display:block}

@media (max-width:@--w-narrow) {
  .nav {
    > ul > li {
      display:none;
      &.li\:lot,
      &.li\:search,
      &.li\:message {display:block}
      &.li\:search {
        position:absolute;
        top:0;
        right:(@--x * 2);
        left:(@--x * 2);
        .input {width:100%}
      }
    }
    ul ul ul {left:25%}
  }
}

// @footer
.footer {
  .p2;
  .p0t;
  .desk & {.p0}
  @media (max-width:@--w-narrow) {
    .p1;
    .p0t;
  }
  &::after {.clear}
  p.right,
  p.left {margin:0}
}

// @code-mirror
html {
  .CodeMirror {
    cursor:text;
    background:#fff;
    color:#000;
    padding:0;
  }
  .CodeMirror-gutters {
    background:rgba(0,0,0,.05);
    border-color:rgba(0,0,0,.125);
  }
  .CodeMirror-lines {padding:(@--y * .25) 0} // vertical padding
  .CodeMirror pre {padding:0 (@--x * .5)} // horizontal padding
  .CodeMirror-linenumber {
    padding:0 (@--x * .25) 0 (@--x * .5);
    min-width:(@--x * .75);
    color:rgba(0,0,0,.6);
  }
  .CodeMirror-selected {background:rgba(0,0,0,.125)}
  .CodeMirror-focused .CodeMirror-selected {background:rgba(0,0,0,.25)}
  .CodeMirror-placeholder {opacity:.5}
  .CodeMirror {
    .cm-trailingspace {
      background:#f00;
      opacity:.25;
    }
    .cm-trailing-space-a,
    .cm-trailing-space-b,
    .cm-trailing-space-new-line {background:none}
    .cm-trailing-space-a::before,
    .cm-trailing-space-b::before {
      position:absolute;
      content:'\00B7';
    }
    .cm-trailing-space-new-line::before {
      position:absolute;
      content:'\21B5';
    }
  }
}

// @t-i-b
html {
  span.tags {
    padding:0;
    .tags-view {border-spacing:(@--y / 6)}
    .tag {
      height:(@--y * 1.5) - 10;
      line-height:(@--y * 1.5) - 10;
      padding:0 (@--x / 3);
    }
    .tags-input span + span,
    .tags-input span:focus + span {.placeholder}
  }
}