// @import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,400i,700i|Roboto+Mono:400,700,400i,700i');

@import '@';
@import 'a';
@import 'b';
@import 'c';





// THEME
html {
  color:lighten(@color, 50%);
}
a {
  color:#89a;
  &:hover {
    color:lighten(#89a, 5%);
  }
  &:focus,
  &:active {
    color:darken(#89a, 5%);
  }
}
.button,
.pager > a,
.pager > span a {
  background:#7e90b4;
  color:@color_inverse;
  .box-shadow(~'inset 0 -1px 0 rgba(0,0,0,.125),0 1px 2px rgba(0,0,0,.25)');
  &:hover {
    background:lighten(#7e90b4, 3%);
    color:@color_inverse;
  }
  &:focus,
  &:active {
    background:darken(#7e90b4, 3%);
    color:@color_inverse;
  }
}
.button {
  &.text {
    background:none;
    color:#89a;
    .box-shadow(none);
    &:hover {
      color:lighten(#89a, 5%);
    }
    &:focus,
    &:active {
      color:darken(#89a, 5%);
    }
  }
}
.input,
.select,
.textarea {
  background:#f8f8ff;
  color:lighten(@color, 40%);
  border-color:lighten(@color, 75%) lighten(@color, 85%) lighten(@color, 90%);
  .box-shadow(inset 0 1px 1px rgba(0,0,0,.05));
}

.nav {
  border-bottom:1px dashed lighten(@color, 95%);
  ul {
    ul {
      a {
        + i {
          background:#7eb2e8;
        }
      }
    }
  }
  li {
    a:focus,
    &.active > a {
      color:inherit;
    }
  }
  a {
    + i {
      color:#7eb2e8;
    }
    .icon {
      &.arrow {
        color:lighten(@color, 80%);
      }
    }
  }
}

.dialog,
.menu,
.menu ul,
.nav ul ul {
  .box-shadow();
}

.dialog > footer {
  background:darken(@color_inverse, 2%);
}

.tabs {
  > nav {
    li {
      background:darken(@color_inverse, 1%);
      border-color:lighten(@color, 80%);
      @media (max-width:@view-mobile) {
        background:none;
      }
      &.active {
        background:none;
        &::before,
        &::after {
          border-color:lighten(@color, 80%);
        }
        a {
          color:inherit;
        }
      }
    }
    a {
      color:lighten(@color, 60%);
    }
    @media (max-width:@view-mobile) {
      a {
        color:lighten(@color, 75%);
      }
    }
  }
}

hr,
fieldset,
details {
  border-color:lighten(@color, 85%);
}
hr {border-style:dashed}

.file {
  &.is-file::before {
    border:1px solid #7eb2e8;
  }
  &.is-file::after {
    border-bottom-color:#7eb2e8;
    border-left-color:#7eb2e8;
  }
  &.is-folder::before {
    background:#7eb2e8;
  }
  &.is-folder::after {
    border-top-color:#7eb2e8;
  }
}

.field {
  .hints {
    background:lighten(@color, 50%);
    border-bottom:0;
    margin-top:2px;
  }
}

.messages .message {background:#7eb2e8}