@import url('//fonts.googleapis.com/css?family=Roboto+Condensed:400,700,400i,700i|Roboto+Mono:400,700,400i,700i');
html {
  font-family: "Roboto Condensed", Roboto, sans-serif;
  background: #fff;
  color: #000;
}
a {
  color: #009;
}
a:focus,
a:active {
  color: #900;
}
mark {
  background: #ff0;
}
pre {
  background: #333;
  color: #fff;
}
code,
.code {
  font-family: "Roboto Mono", "Courier New", Courier, "Nimbus Mono L", monospace;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: #66a;
}
blockquote,
figcaption,
.table caption {
  color: #808080;
}
.button,
.input,
.select,
.textarea {
  background: #ffa;
  color: #000;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .25);
}
.button {
  background: #009;
  color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .25);
}
.button:focus:not([disabled]),
.button:active:not([disabled]) {
  background: #900;
  color: #fff;
}
.input[readonly],
.select[readonly],
.textarea[readonly] {
  box-shadow: none;
}
.input:focus:invalid,
.textarea:focus:invalid {
  color: #f00;
  border-color: #f00;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .25), 0 0 0 2px rgba(255, 0, 0, .25);
}
.input[pattern]:focus:valid,
.textarea[pattern]:focus:valid,
.input[required]:focus:valid,
.textarea[required]:focus:valid {
  color: #090;
  border-color: #090;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .25), 0 0 0 2px rgba(0, 153, 0, .25);
}
.input[type="file"] {
  box-shadow: none;
}
.select optgroup,
.select option {
  background: #fff;
}
.input[type="checkbox"],
.input[type="color"],
.input[type="image"],
.input[type="radio"],
.input[type="range"] {
  background: none;
  border: 0;
  padding: 0;
  box-shadow: none;
}
.input-group .fix {
  background: #dda;
}
.input-group .button {
  background: #ffc;
  box-shadow: none;
}
.input-group .button:focus:not([disabled]),
.input-group .button:active:not([disabled]) {
  background: #eeb;
}
.menus,
.menus ul {
  background: #fff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .05), 0 4px 8px rgba(0, 0, 0, .25);
}
.menus li.current > a {
  background: #d00;
  color: #fff;
}
.menus li.current > a:focus,
.menus li.current > a:hover {
  background: #c40000;
  color: #fff;
}
.menus li.separator {
  background: #000;
}
.menus a {
  color: #009;
}
.menus a:focus,
.menus a:active {
  color: #900;
}
.menus a:focus,
.menus a:hover,
.menus .active > a {
  background: #eef;
}
.menus .active > a:focus,
.menus .active > a:hover {
  background: #d5d5ff;
}
.button.text {
  background: none;
  border: 0;
  color: #009;
  border-radius: 0;
  box-shadow: none;
}
.button.text:focus:not([disabled]),
.button.text:active:not([disabled]) {
  background: none;
  color: #900;
  border-radius: 0;
  box-shadow: none;
}
.field.required > label:not(:empty)::before {
  color: #f00;
}
.field .hint {
  color: #888;
}
.input.plain {
  background: none;
  border: 0;
  box-shadow: none;
}
.tabs > nav li {
  box-shadow: inset 0 3px 0 #fcc;
}
.tabs > nav .active {
  box-shadow: inset 0 3px 0 #ccf;
}
@media (max-width: 720px) {
  .tabs > nav li {
    background: none;
    box-shadow: none;
  }
  .tabs > nav li.active {
    box-shadow: none;
  }
  .tabs > nav li.active a {
    color: inherit;
  }
  .tabs > nav a {
    color: #009;
  }
}
.file {
  background: #fff;
  border: 0 solid #fff;
}
.file:focus,
.file:hover {
  background: #eef;
  border-color: #eef;
}
.file.active {
  background: #fec;
  border-color: #fec;
}
.file.is-file::before {
  background: #fea;
  border-color: #000;
}
.file.is-file::after {
  border-color: #000;
  border-top-color: inherit;
  border-right-color: inherit;
}
.file.is-folder::before {
  background: #d00;
}
.file.is-folder::after {
  border-top-color: #a00;
}
.page h2 code {
  background: #fc0;
  color: #000;
}
.pages .page {
  background: #fff;
  border-color: #fff;
}
.pages .page:focus,
.pages .page:hover {
  background: #eef;
  border-color: #fcfcfc;
}
.pages .page.active {
  background: #fec;
  border-color: #fec;
}
.data {
  background: #def;
  border: 0 solid #def;
}
.data:focus,
.data:hover {
  background: #cde;
  border-color: #cde;
}
.data.active {
  background: #fc9;
  border-color: #fc9;
}
.pager > span {
  padding: 0;
}
.pager > span > a,
.pager > span > b,
.pager > span > span {
  background: #009;
  color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .25);
}
.pager > span > a:focus,
.pager > span > b:focus,
.pager > span > span:focus {
  background: #900;
  color: #fff;
}
.pager > span > b,
.pager > span > span {
  background: none;
  color: inherit;
  box-shadow: none;
}
.messages--static .message {
  box-shadow: 0 1px 2px rgba(0, 0, 0, .4);
}
.message {
  background: #666;
  color: #fff;
  box-shadow: 0 5px 5px -1px rgba(0, 0, 0, .5);
}
.message-error {
  background: #c14;
}
.message-info {
  background: #78a;
}
.message-success {
  background: #690;
}
.nav {
  background: #1a1a1a;
  color: #ccc;
}
.nav ul ul,
.nav ul ul ul {
  background: #fff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .05), 0  4px 8px rgba(0, 0, 0, .25);
}
.nav ul ul li.current > a {
  background: #d00;
  color: #fff;
}
.nav ul ul li.current > a:focus,
.nav ul ul li.current > a:hover {
  background: #c40000;
  color: #fff;
}
.nav ul ul li.separator {
  background: #000;
}
.nav ul ul a {
  color: #009;
}
.nav ul ul a:focus,
.nav ul ul a:active {
  color: #900;
}
.nav ul ul a:focus,
.nav ul ul a:hover,
.nav ul ul .active > a {
  background: #eef;
}
.nav ul ul .active > a:focus,
.nav ul ul .active > a:hover {
  background: #d5d5ff;
}
.nav li.inverse {
  background: #fff;
  color: #000;
}
.nav li.inverse a {
  color: #009;
}
.nav li.inverse a:focus,
.nav li.inverse a:active {
  color: #900;
}
.nav li.inverse.active > a {
  background: inherit;
  color: inherit;
}
.nav li.separator {
  background: #fff;
}
.nav li.li\:message.current svg {
  color: #0f0;
}
.nav a {
  color: #ddd;
}
.nav svg.caret {
  color: #777;
}
.nav li a:hover svg.caret,
.nav li a:focus svg.caret {
  color: #999;
}
.nav .field .input {
  background: #000;
  color: #fff;
}
.nav > ul > li > a:focus,
.nav > ul > li > a:active,
.nav > ul > li.active > a {
  color: #fafafa;
}