@import url('//fonts.googleapis.com/css?family=Roboto+Condensed:400,700,400i,700i|Roboto+Mono:400,700,400i,700i');
html {
  font-family: "Roboto Condensed", Roboto, sans-serif;
  background: #fff;
  color: #000;
}
a {
  color: #009;
}
a:focus,
a:active {
  color: #900;
}
mark {
  background: #ff0;
}
pre {
  background: #333;
  color: #fff;
}
code,
.code {
  font-family: "Roboto Mono", "Courier New", Courier, "Nimbus Mono L", monospace;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: #66a;
}
blockquote,
figcaption,
caption {
  color: #808080;
}
.button,
.input,
.select,
.textarea {
  background: #ffa;
  color: #000;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .25);
}
.button {
  background: #009;
  color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .25);
}
.button:focus,
.button:active {
  background: #900;
  color: #fff;
}
.input[disabled],
.input.disabled,
.select[disabled],
.select.disabled,
.textarea[disabled],
.textarea.disabled {
  background: #ffd;
  color: #999;
  opacity: 1;
}
.button[disabled],
.button.disabled {
  background: #bfbfe5; /* opacity: .25 */
  opacity: 1;
  box-shadow: none;
}
.button.text {
  background: none;
  border: 0;
  color: #009;
  border-radius: 0;
  box-shadow: none;
}
.button.text:focus,
.button.text:active {
  background: none;
  color: #900;
  border-radius: 0;
  box-shadow: none;
}
.button.text[disabled],
.button.text.disabled {
  color: #bfbfe5; /* opacity: .25 */
}
.input[readonly],
.select[readonly],
.textarea[readonly] {
  box-shadow: none;
}
.input:focus:invalid,
.textarea:focus:invalid {
  color: #f00;
  border-color: #f00;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .25), 0 0 0 2px rgba(255, 0, 0, .25);
}
.input[pattern]:focus:valid,
.textarea[pattern]:focus:valid,
.input[required]:focus:valid,
.textarea[required]:focus:valid {
  color: #090;
  border-color: #090;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .25), 0 0 0 2px rgba(0, 153, 0, .25);
}
.input[type="file"] {
  box-shadow: none;
}
.select optgroup,
.select option {
  background: #fff;
}
.input[type="checkbox"],
.input[type="color"],
.input[type="image"],
.input[type="radio"],
.input[type="range"] {
  background: none;
  border: 0;
  padding: 0;
  box-shadow: none;
}
.lot\:input .fix {
  background: #dda;
}
.lot\:input .button {
  background: #bdf;
  box-shadow: none;
}
.lot\:input .button:focus,
.lot\:input .button:active {
  background: #cef;
}
.lot\:menu,
.lot\:menu ul {
  background: #fff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .05), 0 4px 8px rgba(0, 0, 0, .25);
}
.lot\:menu li.current > a {
  background: #d00;
  color: #fff;
}
.lot\:menu li.current > a:focus,
.lot\:menu li.current > a:hover,
.lot\:menu li.current.active > a {
  background: #ce0000;
  color: #fff;
}
.lot\:menu li.current.active > a:focus,
.lot\:menu li.current.active > a:hover {
  background: #c40000;
}
.lot\:menu li.current a.disabled {
  background: #ea6565;
}
.lot\:menu li.current.active a.disabled {
  background: #e16565;
}
.lot\:menu li.separator {
  background: #000;
}
.lot\:menu a {
  color: #009;
}
.lot\:menu svg.caret {
  color: #000;
  opacity: .25;
}
.lot\:menu a:focus,
.lot\:menu a:active {
  color: #900;
}
.lot\:menu a:focus,
.lot\:menu a:hover,
.lot\:menu li.active > a {
  background: #eef;
}
.lot\:menu li.active > a:focus,
.lot\:menu li.active > a:hover {
  background: #d5d5ff;
}
.lot\:menu a.disabled {
  background: #f5f5f5;
  color: #888;
  opacity: 1;
}
.lot\:menu li.active a.disabled {
  background: #eee;
}
.field.required > label:not(:empty)::before {
  color: #f00;
}
.field .hint,
.lot\:page .page .hint {
  color: #888;
}
.input.plain {
  background: none;
  border: 0;
  box-shadow: none;
}
.lot\:tab > nav li {
  box-shadow: inset 0 3px 0 #fcc;
}
.lot\:tab > nav .active {
  box-shadow: inset 0 3px 0 #ccf;
}
.lot\:tab > nav a.disabled {
  box-shadow: inset 0 3px 0 #fff;
}
@media (max-width: 720px) {
  .lot\:tab > nav li {
    background: none;
    box-shadow: none;
  }
  .lot\:tab > nav li.active {
    box-shadow: none;
  }
  .lot\:tab > nav li.active a {
    color: inherit;
  }
  .lot\:tab > nav a {
    color: #009;
  }
}
.file {
  background: #fff;
  border: 0 solid #fff;
}
.file:focus,
.file:hover {
  background: #eef;
  border-color: #eef;
}
.file.active {
  background: #fec;
  border-color: #fec;
}
.file.is-file::before {
  background: #fea;
  border-color: #000;
}
.file.is-file::after {
  border-color: #000;
  border-top-color: inherit;
  border-right-color: inherit;
}
.file.is-folder::before {
  background: #d00;
}
.file.is-folder::after {
  border-top-color: #a00;
}
.page h2 code {
  background: #fc0;
  color: #000;
}
.lot\:page .page {
  background: #fff;
  border-color: #fff;
}
.lot\:page .page:focus,
.lot\:page .page:hover {
  background: #eef;
  border-color: #fcfcfc;
}
.lot\:page .page.active {
  background: #fec;
  border-color: #fec;
}
.data {
  background: #def;
  border: 0 solid #def;
}
.data:focus,
.data:hover {
  background: #cde;
  border-color: #cde;
}
.data.active {
  background: #fc9;
  border-color: #fc9;
}
.pager > span {
  padding: 0;
}
.pager > span > a,
.pager > span > b,
.pager > span > span {
  background: #009;
  color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .25);
}
.pager > span > a:focus,
.pager > span > b:focus,
.pager > span > span:focus {
  background: #900;
  color: #fff;
}
.pager > span > b,
.pager > span > span {
  background: none;
  color: inherit;
  box-shadow: none;
}
.messages--static .message {
  box-shadow: 0 1px 2px rgba(0, 0, 0, .4);
}
.message {
  background: #666;
  color: #fff;
  box-shadow: 0 5px 5px -1px rgba(0, 0, 0, .5);
}
.message-error {
  background: #c14;
}
.message-info {
  background: #78a;
}
.message-success {
  background: #690;
}
.lot\:nav {
  background: #1a1a1a;
  color: #ccc;
}
.lot\:nav li.inverse {
  background: #fff;
  color: #000;
}
.lot\:nav li.inverse > a {
  color: #009;
}
.lot\:nav li.inverse > a:focus,
.lot\:nav li.inverse > a:active {
  color: #900;
}
.lot\:nav li.inverse.active > a {
  background: inherit;
  color: inherit;
}
.lot\:nav > ul > li.separator {
  background: #222;
}
.lot\:nav > ul > li > a {
  color: #ddd;
}
.lot\:nav > ul > li > a > svg.caret {
  color: #777;
}
.lot\:nav > ul > li > a:hover > svg.caret,
.lot\:nav > ul > li > a:focus > svg.caret {
  color: #999;
}
.lot\:nav .field .input {
  background: #000;
  color: #fff;
}
.lot\:nav > ul > li > a:focus,
.lot\:nav > ul > li > a:active,
.lot\:nav > ul > li.active > a {
  color: #fafafa;
}
.lot\:table .table th,
.lot\:table .table td {
  background: #eef;
  color: inherit;
  cursor: default;
}
.lot\:table .table tbody tr:hover td {
  background: #dde;
}
.lot\:table .table th {
  background: #ccd;
}