@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,700,400i,700i|Inter:400,700,400i,700i|Work+Sans:400,700,400i,700i');
:root{color:#343a40;font-family:inter}
a[href]{color:#6c757d}
code,.code{font-family:ibm plex mono}
.input,.textarea,.select{
  background:#fafbfc;
  border-color:#e1e4e8;
  box-shadow:inset 0 1px 1px rgba(0,0,0,.05)
}
.button{background:#6c757d;box-shadow:0 1px 1px rgba(0,0,0,.25)}
h1,h2,h3,h4,h5,h6{font-family:work sans,inter}
pre code{background:#fafbfc;color:inherit}
.description,blockquote,caption{color:#6c757d}
.table th,.table td{border-color:#ced4da}
.lot\:tab > nav li,.lot\:tab > nav li.is\:active::before,.lot\:tab > nav li.is\:active::after {border-color:#eaecef}
.lot\:tab > nav li:not(.is\:active) {
  background: #fafbfc;
  color:#6c757d;
}
.lot\:menu {
  box-shadow:0 5px 10px rgba(0,0,0,.4)
}
.lot\:menu a:hover{background:#f8f9fa}

