.lot\:field.type\:item {
  .with\:options {
    display: flex;
    flex-wrap: wrap;
    gap: 0 var(--x);
    height: auto;
    max-height: 100%;
    &.is\:block {
      display: block;
    }
    > label {
      align-items: center;
      display: inline-flex;
      gap: 0 calc(var(--x) / 3);
      white-space: nowrap;
    }
  }
}