@import '../../../../../../../../node_modules/@taufik-nurrohman/option-picker/index.scss';

.lot\:field.type\:option {
  .option-picker {
    background: var(--fill-input);
    border-color: var(--stroke-input);
    border-radius: var(--radius-input);
    box-shadow: var(--shadow-input);
    color: var(--color-input);
    height: calc(var(--y) * 1.5);
    line-height: calc((var(--y) * 1.5) - (var(--y) / 2) - 2px); // See `.input`
    padding: calc(var(--y) / 4) calc(var(--x) / 2);
    $states: hover, focus, active, disabled;
    @each $state in $states {
      &:#{$state} {
        background: var(--fill-input--#{$state}, var(--fill-input));
        border-color: var(--stroke-input--#{$state}, var(--stroke-input));
        border-radius: var(--radius-input--#{$state}, var(--radius-input));
        box-shadow: var(--shadow-input--#{$state}, var(--shadow-input));
        color: var(--color-input--#{$state}, var(--color-input));
      }
    }
    &::after {
      right: calc(var(--x) / 2);
    }
    &.width {
      display: flex;
      width: 100%;
    }
    &__option {
      background: var(--fill-menu-link, var(--fill-link, none));
      color: var(--color-menu-link, var(--color-link));
      $states: hover, focus, active;
      @each $state in $states {
        &:#{$state} {
          background: var(--fill-menu-link--#{$state}, var(--fill-menu-link, var(--fill-link, none)));
          color: var(--color-menu-link--#{$state}, var(--color-menu-link, var(--color)));
        }
      }
      &--active {
        background: var(--fill-menu-link--current, var(--fill-menu-link, var(--fill-link, none)));
        color: var(--color-menu-link--current, var(--color-menu-link, var(--color)));
      }
    }
    &__options {
      background: var(--fill-menu, var(--fill));
      border-color: inherit;
      line-height: var(--h);
    }
    &__source {
      + .option-picker {
        margin-left: 0;
      }
      &:not([multiple]) {
        + .option-picker {
          &--open {
            z-index: 9999; // Buggy! :(
          }
        }
      }
    }
    &__values {
      padding: 0;
    }
  }
}