@import '../../../../../../../../node_modules/@taufik-nurrohman/option-picker/index.scss';

.lot\:field.type\:option {
  .option-picker {
    background: var(--fill-input);
    border-color: var(--stroke-input);
    border-radius: var(--radius-input);
    box-shadow: var(--shadow-input);
    color: var(--color-input);
    height: calc(var(--y) * 1.5);
    line-height: calc((var(--y) * 1.5) - (var(--y) / 2) - 2px); // See `.input`
    padding: calc(var(--y) / 4) calc(var(--x) / 2);
    $states: hover, focus, active, disabled;
    @each $state in $states {
      &:#{$state} {
        background: var(--fill-input--#{$state});
        border-color: var(--stroke-input--#{$state});
        border-radius: var(--radius-input--#{$state});
        box-shadow: var(--shadow-input--#{$state});
        color: var(--color-input--#{$state});
      }
    }
    &::after {
      right: calc(var(--x) / 2);
    }
    &.width {
      display: flex;
      width: 100%;
    }
    &__options {
      line-height: var(--h);
    }
    &__source {
      + .option-picker {
        margin-left: 0;
      }
      &:not([multiple]) {
        + .option-picker {
          &--open {
            z-index: 9999; // Buggy! :(
          }
        }
      }
    }
    &__values {
      padding: 0;
    }
  }
}