@import '../../../../../../../../node_modules/@taufik-nurrohman/option-picker/index.scss';

.lot\:field.type\:option {
  .option-picker {
    background: $color-back;
    color: inherit;
    border-color: inherit;
    height: ($y * 1.5);
    line-height: (($y * 1.5) - ($y / 2) - 2); // See `.input`
    padding: ($y / 4) ($x / 2);
    &::after {
      right: ($x / 2);
    }
    &.width {
      display: flex;
      width: 100%;
    }
    &__options {
      line-height: $h;
    }
    &__source {
      + .option-picker {
        margin-left: 0;
      }
      &:not([multiple]) {
        + .option-picker {
          &--open {
            z-index: 9999; // Buggy! :(
          }
        }
      }
    }
    &__values {
      padding: 0;
    }
  }
}
