@import '../../../../../../../../node_modules/@taufik-nurrohman/tag-picker/index.scss';

.lot\:field.type\:query {
  .tag-picker {
    height: auto;
    min-height: calc(var(--y) * 1.5);
    padding: calc(var(--y) / 12) calc(var(--x) / 12);
    width: var(--width-input);
    &.width {
      display: flex;
      width: 100%;
    }
    &__tag {
      border: 1px solid transparent;
      height: calc((var(--y) * 1.5) - 4px - 4px - 2px); // ($y * 1.5) - (margin * 2) - (padding:parent * 2) - (border-width:parent * 2)
      margin: calc(var(--y) / 12) calc(var(--x) / 12);
      padding: 0 calc((var(--z) / 2) - 1px);
    }
    &__source {
      position: fixed;
      + .tag-picker {
        margin-left: 0;
      }
    }
  }
}