.tag-picker {
  height: auto;
  min-height: calc(var(--y) * 1.5);
  padding: calc(var(--y) / 12) calc(var(--x) / 12);
  width: var(--width-input);
  &--focus {
    @extend :focus-visible;
  }
  &.width {
    display: flex;
    width: 100%;
  }
  &__input {
    span {
      min-height: var(--y);
    }
  }
  &__tag {
    margin: calc(var(--y) / 12) calc(var(--x) / 12);
    padding: 0 calc(var(--z) / 2);
    // Fix link color specifity
    &-x:any-link {
      color: var(--color-tag-picker__tag-x);
      @each $v in (hover, focus, active) {
        &:#{$v} {
          color: var(--color-tag-picker__tag-x--#{$v}, var(--color-tag-picker__tag-x));
        }
      }
    }
  }
  &__source {
    position: fixed;
    &:not(:read-only) {
      + .tag-picker.input {
        // This is a fake `<input>` element with `tabindex`, so this will always match with the `:read-only` pseudo class
        // But this element does not mean to be styled as a read-only `<input>` element, so we need to normalize it!
        --color-input--read-only: var(--color-input);
        --fill-input--read-only: var(--fill-input);
        --shadow-input--read-only: var(--shadow-input);
        --stroke-input--read-only: var(--stroke-input);
      }
    }
    + .tag-picker.input {
      margin-left: 0;
      .tag-picker__tag {
        border: 1px solid transparent;
      }
    }
  }
}