@import '../../../../../../../../node_modules/@taufik-nurrohman/tag-picker/index.scss';

.lot\:field.type\:query {
  .tag-picker {
    background: var(--fill-input);
    border-color: var(--stroke-input);
    border-radius: var(--radius-input);
    box-shadow: var(--shadow-input);
    color: var(--color-input);
    height: auto;
    min-height: calc(var(--y) * 1.5);
    padding: calc(var(--y) / 12) calc(var(--x) / 12);
    $states: hover, focus, active, disabled;
    @each $state in $states {
      &:#{$state} {
        background: var(--fill-input--#{$state});
        border-color: var(--stroke-input--#{$state});
        border-radius: var(--radius-input--#{$state});
        box-shadow: var(--shadow-input--#{$state});
        color: var(--color-input--#{$state});
      }
    }
    &.width {
      display: flex;
      width: 100%;
    }
    &__tag {
      border: 1px solid transparent;
      height: calc((var(--y) * 1.5) - 4px - 4px - 2px); // ($y * 1.5) - (margin * 2) - (padding:parent * 2) - (border-width:parent * 2)
      margin: calc(var(--y) / 12) calc(var(--x) / 12);
      padding: 0 calc((var(--z) / 2) - 1px);
    }
    &__source {
      position: fixed;
      + .tag-picker {
        margin-left: 0;
      }
    }
  }
}