.lot\:field.type\:toggle {
  @extend .lot\:field.type\:item;
  .input {
    &[type='checkbox'] {
      border-radius: calc((var(--z) * 1.25) / 2);
      border-width: 0;
      height: calc(var(--z) * 1.25);
      width: calc(var(--z) * 2);
      &::before {
        @include transform(rotate(0));
        background: var(--color-button);
        border-radius: calc(((var(--z) * 1.25) - 4px) / 2);
        border: 0;
        height: calc((var(--z) * 1.25) - 4px);
        left: 2px;
        top: 2px;
        visibility: visible;
        width: calc((var(--z) * 1.25) - 4px);
      }
      &:checked {
        &::before {
          left: calc(var(--z) - 2px);
        }
      }
    }
  }
}