<Files 'index.css'>
  Allow from all
</Files>

<Files 'index.min.css'>
  Allow from all
</Files>

<Files 'index.js'>
  Allow from all
</Files>

<Files 'index.min.js'>
  Allow from all
</Files>

<Files 'index.png'>
  Allow from all
</Files>