@mixin appearance($appearance: none) {
  -webkit-appearance: $appearance;
  -moz-appearance: $appearance;
  appearance: $appearance;
}

@mixin placeholder($opacity: 1, $color: inherit) {
  color: $color;
  opacity: $opacity;
}

@mixin transform($value) {
  -webkit-transform: $value;
  -moz-transform: $value;
  transform: $value;
}

@mixin user-select($select: normal) {
  -webkit-user-select: $select;
  -moz-user-select: $select;
  user-select: $select;
}
