.button,
.input,
.select,
.textarea,
.lot\:input .fix {
  display: inline-block;
  vertical-align: middle;
  background: $color-back;
  color: inherit;
  border: 1px solid;
  width: ($x * 8);
  height: ($y * 1.5);
  line-height: (($y * 1.5) - ($y / 2) - 2); /* height - (padding-top + padding-bottom) - (border-top-width + border-bottom-width) */
  padding: ($y / 4) ($x / 2);
  text-align: left;
  position: relative;
  z-index: 0;
  &:focus {
    z-index: 1;
  }
  &[disabled],
  &.not\:active {
    opacity: .5;
    cursor: not-allowed;
  }
  &[readonly] {
    border-style: dotted;
  }
}

.button {
  width: auto;
  text-align: center;
  background: $color-back-button;
  color: $color-button;
  border-width: 0;
  line-height: $y; // Why?
  &[href] {
    color: $color-button;
  }
}

.button,
details > summary,
label {
  @include user-select(none);
  cursor: pointer;
}

.input,
.textarea {
  &:focus:invalid {
    color: $color-error;
    border-color: $color-border-error;
    box-shadow: none;
  }
}

.button {
  &.is\:text {
    background: none;
    border: 0;
    color: $color-link;
    &:focus {
      background: none;
    }
    &:active {
      background: none;
    }
  }
}

.input {
  &[type='color'],
  &[type='file'],
  &[type='range'] {
    cursor: pointer;
  }
}

.input {
  &[type='file'],
  &[type='range'] {
    background: none;
    border: 0;
    padding: 0;
    font-size: ($z * .75);
    line-height: $y;
    box-shadow: none;
  }
}

.input {
  &[type='checkbox'],
  &[type='color'],
  &[type='image'],
  &[type='radio'] {
    margin: 0;
    padding: 0;
    background: none;
    border: 0;
    width: 1em;
    height: 1em;
    line-height: 1em;
    cursor: pointer;
  }
  &[type='checkbox'][readonly],
  &[type='radio'][readonly] {
    pointer-events: none;
  }
  &[type='color'] {
    width: ($x * 1.5);
    height: ($y * 1.5);
  }
  &[type='image'] {
    width: auto;
    height: auto;
    box-shadow: none;
  }
}

.select {
  cursor: pointer;
  &[multiple] {
    height: auto;
    optgroup,
    option {
      background: none;
    }
  }
  optgroup,
  option {
    background: $color-back;
    color: inherit;
    margin: 0;
    padding: 0;
  }
  optgroup {
    font-weight: bolder;
    option {
      font-weight: normal;
      padding-left: ($x / 3);
    }
  }
  &:not([multiple]) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.width {
  display: flex;
  width: 100%;
}

.textarea {
  min-height: ($y * 3.75);
  resize: vertical;
  overflow: auto;
  &.height {
    height: ($y * 10.75);
  }
}

label {
  > input {
    &[type='checkbox'],
    &[type='radio'] {
      + span {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
  &.is\:frozen {
    opacity: .5;
    pointer-events: none;
  }
  &.not\:active {
    cursor: not-allowed;
  }
}

// Custom appearance for modern browser(s)
.input {
  &[type='checkbox'],
  &[type='radio'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    &[disabled] {
      background: $color;
    }
    &::before {
      content: "";
      position: absolute;
      top: 2px;
      right: 2px;
      bottom: 2px;
      left: 2px;
      background: $color-button;
    }
  }
  &[type='checkbox'] {
    background: $color-back-button;
    &:checked {
      &::before {
        top: 1px;
        right: 5px;
        bottom: 4px;
        left: 5px;
        background: none;
        border-right: 2px solid $color-button;
        border-bottom: 2px solid $color-button;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        transform: rotate(45deg);
        visibility: visible;
      }
    }
  }
  &[type='radio'] {
    background: $color-back-button;
    &:checked {
      &::before {
        background: none;
        border: 2px solid $color-button;
        visibility: visible;
      }
    }
    &,
    &::before {
      border-radius: 100%;
    }
  }
}

.field\:toggle {
  .input {
    &[type='checkbox'] {
      width: ($z * 2);
      height: ($z * 1.25);
      background: $color-back-button;
      border-width: 0;
      border-radius: (($z * 1.25) / 2);
      &[disabled] {
        background: $color;
      }
      &::before {
        border: 0;
        width: (($z * 1.25) - 4);
        height: (($z * 1.25) - 4);
        top: 2px;
        left: 2px;
        background: $color-button;
        border-radius: ((($z * 1.25) - 4) / 2);
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        transform: rotate(0);
        visibility: visible;
      }
      &:checked {
        &::before {
          left: ($z - 2);
        }
      }
    }
  }
}
