$x: 24px;
$y: 24px;

$z: 16px;
$h: $y;

$mono: monospace;
$sans: sans-serif;
$serif: serif;

$color: #000;
$color-back: #fff;
$color-back-button: #00f;
$color-back-button-active: #f00;
$color-back-button-focus: #f00;
$color-back-mark: #ff0;

$color-button: #fff;

$color-error: #c00;
$color-border-error: #f00;

$color-link: #00f;
$color-link-active: #f00;
$color-link-focus: #f00;
