$base: #222 !default;
$mix: #fff !default;

$body: 'Nimbus Sans L', sans-serif !default;
$code: 'Nimbus Mono L', monospace !default;

@function skin($percent: 0%) {
  @return mix($mix, $base, $percent);
}

.is\:dark {
  background: skin(0%);
  border-color: skin(5%);
  font-family: $body;
  color: skin(60%);
  a {
    &[href] {
      color: skin(40%);
      &:focus,
      &:active {
        color: skin(50%);
      }
    }
    &.not\:active {
      color: skin(20%);
    }
  }
  blockquote,
  caption,
  figcaption,
  .description {
    color: skin(50%);
  }
  code, .code {
    font-family: $code;
  }
  fieldset, hr,
  .table td,
  .table th {
    border-color: skin(5%);
  }
  pre {
    > code {
      background: skin(5%);
      color: inherit;
    }
    &.is\:text {
      > code {
        background: none;
        border-color: skin(5%);
      }
    }
  }
  .alert {
    p {
      background: skin(1%);
    }
  }
  .button {
    &,
    &[href] {
      background: skin(30%);
      color: skin(95%);
      &:not(.not\:active) {
        &:focus {
          background: skin(40%);
          color: skin(95%);
        }
        &:active {
          background: skin(20%);
          color: skin(95%);
        }
      }
    }
  }
  .input,
  .select,
  .textarea {
    background: skin(5%);
    border-color: skin(10%);
    color: skin(70%);
    &:focus {
      &:invalid {
        border-color: mix(red, skin(10%), 50%);
        color: mix(red, skin(70%), 50%);
      }
    }
    &.not\:active,
    &[disabled] {
      &,
      &:focus,
      &:active {
        opacity: 1;
        background: none;
        border-color: skin(5%);
      }
    }
  }
  .input {
    &[type='color'],
    &[type='file'],
    &[type='image'],
    &[type='range'] {
      background: none;
    }
  }
  .field {
    &.not\:active {
      .fix {
        opacity: 1;
        background: none;
        color: skin(20%);
        border-color: skin(5%);
      }
    }
  }
  .field\:toggle {
    .input {
      &[type='checkbox'] {
        &::before {
          background: skin(90%);
        }
        &:checked {
          &::before {
            background: skin(90%);
          }
        }
      }
    }
  }
  .lot\:bar {
    > ul {
      > li {
        > a {
          &:focus,
          &:hover {
            background: skin(1%);
          }
        }
        &.is\:current {
          > a {
            background: skin(2%);
            &:focus,
            &:hover {
              background: skin(3%);
            }
          }
        }
        &.is\:separator {
          background: skin(5%);
        }
      }
    }
    .not\:active {
      opacity: 1;
      color: skin(20%);
    }
  }
  .lot\:field {
    > .description {
      border-bottom-color: skin(5%);
    }
    .tag-picker {
      .tag {
        &:not(.editor) {
          background: skin(15%);
          color: inherit;
          &:focus {
            background: skin(20%);
          }
        }
      }
    }
  }
  .lot\:input {
    .fix {
      background: skin(4%);
      border-color: skin(10%);
    }
  }
  .lot\:menu {
    background: skin(0%);
    color: skin(60%);
    a {
      &:focus,
      &:hover {
        background: skin(1%);
      }
    }
    li {
      &:focus,
      &:hover {
        > a {
          background: skin(1%);
        }
      }
      &.is\:current {
        > a {
          background: skin(2%);
          &:focus,
          &:hover {
            background: skin(3%);
          }
        }
      }
      &.is\:separator {
        background: skin(5%);
      }
    }
    .not\:active {
      opacity: 1;
      color: skin(20%);
    }
  }
  .lot\:file {
    .is\:file {
      &::before {
        background: skin(0%);
        border-color: skin(30%);
      }
      &::after {
        border-bottom-color: skin(30%);
        border-left-color: skin(30%);
      }
    }
    .is\:folder {
      &::before {
        background: skin(60%);
      }
      &::after {
        background: skin(40%);
      }
    }
  }
  .lot\:file,
  .lot\:page {
    li {
      border: 0 solid skin(0%);
      &:hover {
        background: skin(1%);
        border-color: skin(1%);
      }
      &.is\:active {
        background: skin(2%);
        border-color: skin(2%);
        &:hover {
          background: skin(3%);
          border-color: skin(3%);
        }
      }
    }
    .lot\:task {
      &,
      > * {
        margin: 0;
      }
      > * {
        .title {
          span {
            display: none;
          }
        }
      }
    }
  }
  .lot\:pager {
    > span {
      > a {
        background: skin(30%);
        color: skin(95%);
        &:focus {
          background: skin(40%);
          color: skin(95%);
        }
        &:active {
          background: skin(20%);
          color: skin(95%);
        }
      }
      > b,
      > span {
        background: none;
        color: inherit;
      }
    }
  }
  .lot\:tab {
    > nav {
      li {
        border-color: skin(5%);
        a:not(.has\:link) {
          color: inherit;
        }
        &.is\:current {
          &::before,
          &::after {
            border-color: skin(5%);
          }
        }
        @media (min-width: 720px) {
          &:not(.is\:current) {
            background: skin(1%);
            color: skin(60%);
          }
        }
        &.not\:active {
          opacity: 1;
          color: skin(20%);
        }
      }
    }
  }
  .input {
    &[type='checkbox'],
    &[type='radio'] {
      background: skin(30%);
      &:not(.not\:active):focus {
        background: skin(40%);
      }
      &:not(.not\:active):active {
        background: skin(20%);
      }
      &.not\:active,
      &[disabled] {
        &,
        &:focus,
        &:active {
          opacity: 1;
          background: skin(20%);
        }
      }
      &::before {
        background: skin(0);
      }
      &:checked {
        &::before {
          background: none;
        }
      }
    }
    &[type='checkbox'] {
      &:checked {
        &::before {
          border-right-color: skin(95%);
          border-bottom-color: skin(95%);
        }
      }
    }
    &[type='radio'] {
      &:checked {
        &::before {
          border-color: skin(0%);
        }
      }
    }
  }
}
