@media (max-width: 720px) {
  .m2 {
    margin: 24px;
  }
  .m2t {
    margin-top: 24px;
  }
  .m2r {
    margin-right: 24px;
  }
  .m2b {
    margin-bottom: 24px;
  }
  .m2l {
    margin-left: 24px;
  }
  .p2 {
    padding: 24px;
  }
  .p2t {
    padding-top: 24px;
  }
  .p2r {
    padding-right: 24px;
  }
  .p2b {
    padding-bottom: 24px;
  }
  .p2l {
    padding-left: 24px;
  }
  .lot\:bar > ul:first-child,
  .lot\:bar > ul:first-child li + li {
    flex: 1;
  }
  .lot\:bar > ul:first-child > li + li .input {
    width: 100%;
  }
  .lot\:bar > ul:nth-child(2) {
    display: none;
  }
  .content\:desk,
  .lot\:desk,
  .content\:section,
  .lot\:section {
    padding: 12px;
  }
  .lot\:section > .lot\:task {
    margin-left: 0;
  }
  .pager > span:first-child,
  .pager > span:last-child {
    display: none;
  }
  .lot\:page .page > figure {
    display: none;
  }
  .lot\:page .page > figure + header,
  .lot\:page .page > figure + header + div {
    margin-left: 0;
  }
  .lot\:data {
    -webkit-column-count: 2;
    -webkit-column-gap: 12px;
    -moz-column-count: 2;
    -moz-column-gap: 12px;
    column-count: 2;
    column-gap: 12px;
  }
}