@media (max-width: 720px) {
  .m2 {
    margin: 24px;
  }
  .m2t {
    margin-top: 24px;
  }
  .m2r {
    margin-right: 24px;
  }
  .m2b {
    margin-bottom: 24px;
  }
  .m2l {
    margin-left: 24px;
  }
  .p2 {
    padding: 24px;
  }
  .p2t {
    padding-top: 24px;
  }
  .p2r {
    padding-right: 24px;
  }
  .p2b {
    padding-bottom: 24px;
  }
  .p2l {
    padding-left: 24px;
  }
  .field {
    display: block;
    width: auto;
  }
  .field > label {
    width: auto;
    margin: 0 0 6px;
    padding: 0;
    text-align: inherit;
  }
  .field > label + div,
  .field > label + br + div {
    width: auto;
    margin: 0;
    padding: 0;
    text-align: inherit;
  }
  .panel\:bar > ul:first-child,
  .panel\:bar > ul:first-child li + li {
    flex: 1;
  }
  .panel\:bar > ul:first-child > li + li .input {
    width: 100%;
  }
  .panel\:bar > ul:nth-child(2) {
    display: none;
  }
  .panel\:data {
    -webkit-column-count: 2;
    -webkit-column-gap: 12px;
    -moz-column-count: 2;
    -moz-column-gap: 12px;
    column-count: 2;
    column-gap: 12px;
  }
  .panel\:desk,
  .panel\:section {
    padding: 12px;
  }
  .panel\:section > .panel\:task {
    margin-left: 0;
  }
  /*
  .pager > span:first-child,
  .pager > span:last-child {
    display: none;
  }
  */
  .panel\:tab > nav {
    height: auto;
    line-height: inherit;
  }
  .panel\:tab > nav li {
    background: none;
    border-width: 0;
    margin-right: 24px;
  }
  .panel\:tab > nav li:last-child {
    margin-right: 0;
  }
  .panel\:tab > nav li.is\:active::before,
  .panel\:tab > nav li.is\:active::after {
    display: none;
  }
  .panel\:tab > nav li:not(.has\:link) a {
    padding: 0;
    color: #00f;
  }
  .panel\:tab > nav li.is\:active a {
    color: inherit;
  }
  .panel\:tab > nav .title > svg {
    display: none;
  }
}