.message {
  padding:.5em 1em;
  background:#ff0;
}
.message + .message {margin-top:.25em}
.c {
  display:table;
  width:100%;
  table-layout:fixed;
}
.c > form {
  display:table-row;
  margin-top:0;
}
.f {
  display:table;
  table-layout:fixed;
  width:100%;
}
.f > label,
.f > label + span {
  display:table-cell;
  vertical-align:top;
}
.f > label {
  width:8em;
  padding:.25em 1em 0 0;
  text-align:right;
}
.f > label:empty {visibility:hidden}
.f.expand,
.f.expand > label + span {display:block}
.f.expand > label {display:none}
.f.expand + .h {margin-left:0}
.f + .h {
  background:none;
  border:0;
  margin:.5em 0 0 8em;
  padding:0;
  color:#888;
}
.h {
  background:#ff0;
  padding:.5em .75em;
  line-height:1.25;
}
.i {
  font:inherit;
  display:inline-block;
  vertical-align:middle;
  width:1em;
  height:1em;
  position:relative;
}
.i:before,
.i:after {content:""}
.i-d {
  height:.8em;
  background:#000;
}
.i-d:before {
  background:inherit;
  height:1px;
  position:absolute;
  right:.4em;
  bottom:100%;
  left:0;
  margin-bottom:1px;
}
.i-f:before {
  background:#fff;
  border:1px solid #000;
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
}
.i-f:after {
  position:absolute;
  top:0;
  right:0;
  border:2px solid #000;
  border-top-color:#fff;
  border-right-color:#fff;
}
.m,.s {
  display:table-cell;
  vertical-align:top;
  padding:1em;
}
.m {
  background:rgba(0,0,0,.025);
  padding-bottom:4em;
}
.s {width:16em}
.m section + section,
.s section + section {margin-top:1em}
.m section:after {
  content:"";
  display:table;
  clear:both;
}
.m .m-button {
  border-bottom:1px dashed;
  padding-bottom:1em;
  text-align:right;
}
.m .m-page article {
  background:#fff;
  border:1px solid;
  width:16em;
  float:left;
  margin:0 1em 1em 0;
  padding:1em 1.25em 4em 1.25em;
  height:22em;
  position:relative;
  overflow:hidden;
}
.m .m-page article figure {
  margin:-1em -1.25em 1em;
  padding-bottom:55%;
  height:0;
  background:rgba(0,0,0,.25);
  overflow:hidden;
}
.m .m-page article figure img {
  display:block;
  margin:0;
  padding:0;
  border:0;
  outline:0;
}
.m .m-page article h3 {
  font:inherit;
  font-weight:bold;
  margin:0 0 1em;
}
.m .m-page article section {font-size:.9em}
.m .m-page article footer {
  font-size:.7em;
  text-transform:uppercase;
  line-height:3em;
  position:absolute;
  right:0;
  bottom:0;
  left:0;
  padding:0 1em;
}
.m .m-page article.status\.1,
.m .m-page article.is\.pages {border-color:#00f}
.m .m-page article.as\.draft {border-style:dotted}
.m .m-page article.as\.,
.m .m-page article.is\.active {border-color:#f00}
.m .m-page article.is\.hidden {
  border-style:dotted;
  opacity:.2;
}
.m .m-page article.is\.hidden figure {display:none}
.m .m-file article + nav { /* path view */
  margin:.5em .5em 0;
  text-align:right;
}
.m .m-file article,
.m .m-file article h3,
.m .m-file article header,
.m .m-file article section,
.m .m-file article footer {
  font:inherit;
  margin:0;
  padding:0;
}
.m .m-file article {
  background:#fff;
  border-left:1px solid;
  padding:.25em .75em;
  position:relative;
}
.m .m-file article h3 {cursor:default}
.m .m-file article footer {
  font-size:.7em;
  line-height:1;
  text-transform:uppercase;
  position:absolute;
  top:1em;
  right:1em;
}
.m .m-file article + article {margin-top:2px}
.m .m-file article.is\.active {background:#ff0}
.m .m-file article.is\.active .i-f:after {
  border-top-color:#ff0;
  border-right-color:#ff0;
}
.m .m-file .i {margin-right:.2em}
.m .t {
  margin:-1em -1em 1em;
  padding:.5384615384615384em 1em 0;
}
.m .messages + .t {margin-top:.5384615384615384em}
.m .messages + section {margin-top:1em}
.m .t:after {
  content:"";
  display:table;
  clear:both;
}
.m .t a {
  display:block;
  float:left;
}
.m .t a + a {margin-left:1em}
.m .t a.is\.active {color:inherit}
.m .t-c {
  margin-top:0;
  clear:both;
}
.m .t + .t-c,
.m .t-c + .t-c {display:none}
.no-js .m .t {display:none}
.no-js .m .t-c {display:block}
.no-js .m .t-c + .t-c {margin-top:1em}
.n ul,
.n li {
  margin:0;
  list-style:none;
}
.n {line-height:3em}
.n ul {
  background:#fff;
  border:0 solid;
  border-bottom-width:2px;
}
.n ul:after {
  content:"";
  display:table;
  clear:both;
}
.n li {
  float:left;
  position:relative;
}
.n a {
  display:block;
  padding:0 1.25em;
  border:0 solid transparent;
  border-bottom-width:2px;
  margin-bottom:-2px;
  color:inherit;
  cursor:pointer;
}
.n .is\.active a {border-color:#f00}
.n a i {
  font:inherit;
  font-weight:bold;
  background:#f00;
  color:#fff;
  float:right;
  padding:0 .25em;
  line-height:1.5em;
  margin:.75em -.5em 0 .5em;
}
.n li li a i {margin:.5em -.5em 0 0}
.n ul ul {
  position:absolute;
  top:100%;
  left:0;
  z-index:9999;
  min-width:10em;
  border-width:0 0 0 2px;
  box-shadow:0 4px 8px -2px rgba(0,0,0,.4),0 8px 16px -4px rgba(0,0,0,.4);
  display:none;
}
.no-js .n li:hover > ul {display:block}
.n ul ul ul {
  top:0;
  left:100%;
  margin-top:0;
}
.n ul ul li {
  float:none;
  display:block;
  font-size:96%;
  line-height:2.5em;
}
.n ul ul a {
  border-width:0 0 0 2px;
  margin:0 0 0 -2px;
}
.n ul ul a {padding:0 1em}
.n ul + span {
  position:absolute;
  top:0;
  right:0;
  padding:0 3.25em 0 1.25em;
  font-weight:bold;
}
.n ul + span a {padding:0}
.n ul + span img {
  display:block;
  position:absolute;
  top:.5em;
  right:.5em;
  width:2em;
  height:2em;
  background:none;
}
.s-setting {
  background:rgba(0,0,0,.05);
  padding:1em;
  margin:-.5em -.5em .5em;
}
.s-setting .table {
  font-size:85%;
  background:none;
}
.s-setting th,
.s-setting td {
  background:none;
  border:0;
  padding:.25em .5em;
}
.s-setting .table th {
  font-weight:normal;
  background:rgba(0,0,0,.05);
}
.s .s-setting label .input + span {margin-left:0}
.s section + .s-setting {margin-top:1.5em}
.s section h3 {
  font-size:100%;
  margin:0 0 .4em 0;
  padding:0;
  word-wrap:break-word;
}
.s section ul {
  list-style:none;
  margin:.2em 0 0 .4em; /* indent */
  padding:0;
}
.s section li {
  margin:0;
  padding:0 0 0 1.4em; /* indent + .2em */
  position:relative;
  word-wrap:break-word;
}
.s section li .i {margin-right:.2em}
.s section ul ul {margin:0 0 0 .2em}
.s section li:before {
  content:"";
  display:block;
  width:0;
  border-left:1px solid;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
}
.s section li:after {
  content:"";
  display:block;
  width:1em; /* indent - .2em */
  border-top:1px solid;
  position:absolute;
  top:.8em;
  bottom:0;
  left:0;
}
.s section li:last-child:after {background:#fff} /* same with page background */
.s section label .input + span {
  position:relative;
  margin-left:.5em;
}
.s section label .input:not(:checked) + span:after {
  content:"";
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index:4;
}
.s .s-nav {
  position:sticky;
  top:1em;
}
.s .s-search .input {
  display:block;
  width:100%;
}
.s .s-search .button {display:none}
.s h3 {font-size:100%}
.s h4 {font-size:90%}
.t-c\:info {
  background:#fff;
  border:1px solid;
  padding:1em;
}

/*

❓❗ &#x2753;&#x2757;
❔❕ &#x2754;&#x2755;

◆◇ &#x25C6;&#x25C7;

★☆ &#x2605;&#x2606;

⚐⚑ &#x2690;&#x2691;
⎗⎘ &#x2397;&#x2398;

⚓ &#x2693;
⛽ &#x26FD;
✉ &#x2709;
⎙ &#x2399;
⌗ &#x2317;
⌘ &#x2318;
␣ &#x2423;

✓✔ &#x2713;&#x2714;
✗✘ &#x2717;&#x2718;

➕ &#x2795;
➖ &#x2796;
➗ &#x2797;
✖ &#x2716;

✒ &#x2712;

❯ &#x276F;
❮ &#x276E;

► &#x25BA;
◄ &#x25C4;

◢◣◤◥ &#x25E2;&#x25E3;&#x25E4;&#x25E5;
◸◹◺◿ &#x25F8;&#x25F9;&#x25FA;&#x25FF;

◻◼◽◾ &#x25FB;&#x25FC;&#x25FD;&#x25FE;

▲▶▼◀ &#x25B2;&#x25B6;&#x25BC;&#x25C0;
▴▸▾◂ &#x25B4;&#x25B8;&#x25BE;&#x25C2;
△▷▽◁ &#x25B3;&#x25B7;&#x25BD;&#x25C1;
▵▹▿◃ &#x25B5;&#x25B9;&#x25BF;&#x25C3;

⇠ &#x21E0;
⇡ &#x21E1;
⇢ &#x21E2;
⇣ &#x21E3;

⋮ &#x22EE;
⋯ &#x22EF;
⋰ &#x22F0;
⋱ &#x22F1;

*/

.n a .i,
.button .i {
  width:auto;
  height:auto;
}
.p-enter,
.p-enter body,
.p-enter .c,
.p-enter form,
.p-enter .m {
  padding:0;
  border:0;
  width:100%;
  height:100%;
}
.p-enter .m {vertical-align:middle}
.p-enter .m fieldset {
  margin:0 auto;
  max-width:16em;
}
.p-enter .m .messages {
  margin:0 auto .5em;
  max-width:16em;
}
.p-enter .f > label {width:4em}
.p-enter .f > label[for="f-enter"] {display:none}
.p-enter .f > label[for="f-enter"] + span {
  display:block;
  text-align:center;
}
.p-404,
.p-404 body {
  margin:0;
  padding:0;
  display:table;
  width:100%;
  height:100%;
}
.p-404 body {
  display:table-cell;
  vertical-align:middle;
}
.p-404 p {
  font-size:200%;
  font-weight:bold;
  text-align:center;
}

select.select {
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAGAQMAAAA1wBY1AAAABlBMVEUAAAAAAAClZ7nPAAAAAXRSTlMAQObYZgAAABRJREFUCNdjaGI4xvCOoYbBgkEAABY+Avv4eJ89AAAAAElFTkSuQmCC');
  background-repeat:no-repeat;
  background-position:100% 50%;
  background-position:calc(100% - .5em) 50%;
  padding-right:1.5em;
}
input.input[type="number"] {
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  -webkit-appearance:textfield;
  -moz-appearance:textfield;
  appearance:textfield;
  background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAKAQMAAABCAtZOAAAABlBMVEUAAAAAAAClZ7nPAAAAAXRSTlMAQObYZgAAABhJREFUCNdjEGCwYKhh+McABECyBsgTAAAjPAOF2hJkLQAAAABJRU5ErkJggg==');
  background-repeat:no-repeat;
  background-position:100% 50%;
  background-position:calc(100% - .5em) 50%;
}
input.input[type="number"]::-webkit-inner-spin-button, 
input.input[type="number"]::-webkit-outer-spin-button { 
  -webkit-appearance:none;
  margin:0;
}

/* TODO */
.n\:cache,
.n\:comment {display:none}