.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
  text-align: right;
}
.text-left {
  text-align: left;
}
.center {
  float: none;
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
}
.right {
  float: right;
}
.left {
  float: left;
}
.hidden,
[hidden] {
  display: none;
}
.invisible {
  visibility: hidden;
}
.m0 {
  margin: 0;
}
.m0t {
  margin-top: 0;
}
.m0r {
  margin-right: 0;
}
.m0b {
  margin-bottom: 0;
}
.m0l {
  margin-left: 0;
}
.m1 {
  margin: 24px;
}
.m1t {
  margin-top: 24px;
}
.m1r {
  margin-right: 24px;
}
.m1b {
  margin-bottom: 24px;
}
.m1l {
  margin-left: 24px;
}
.m2 {
  margin: 48px;
}
.m2t {
  margin-top: 48px;
}
.m2r {
  margin-right: 48px;
}
.m2b {
  margin-bottom: 48px;
}
.m2l {
  margin-left: 48px;
}
.p0 {
  padding: 0;
}
.p0t {
  padding-top: 0;
}
.p0r {
  padding-right: 0;
}
.p0b {
  padding-bottom: 0;
}
.p0l {
  padding-left: 0;
}
.p1 {
  padding: 24px;
}
.p1t {
  padding-top: 24px;
}
.p1r {
  padding-right: 24px;
}
.p1b {
  padding-bottom: 24px;
}
.p1l {
  padding-left: 24px;
}
.p2 {
  padding: 48px;
}
.p2t {
  padding-top: 48px;
}
.p2r {
  padding-right: 48px;
}
.p2b {
  padding-bottom: 48px;
}
.p2l {
  padding-left: 48px;
}
*,
::before,
::after {
  margin: 0;
  padding: 0;
  font: inherit;
  text-decoration: inherit;
  text-transform: inherit;
  box-sizing: border-box;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: .5;
}
:-moz-placeholder {
  color: inherit;
  opacity: .5;
}
::-moz-placeholder {
  color: inherit;
  opacity: .5;
}
:-ms-input-placeholder {
  color: inherit;
  opacity: .5;
}
::-ms-input-placeholder {
  color: inherit;
  opacity: .5;
}
::placeholder {
  color: inherit;
  opacity: .5;
}
:focus {
  outline: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}
a {
  color: #00f;
}
a:focus,
a:active {
  color: #ff0000;
}
html,
body {
  min-height: 100%;
}
html {
  font: normal normal 16px/24px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-decoration: none;
  text-transform: none;
  text-align: left;
  background: #fff;
  color: #000;
}
abbr {
  border: 0;
  text-decoration: none;
  cursor: inherit;
  border-bottom: 1px solid transparent;
}
abbr[title]:hover {
  border-bottom-color: inherit;
  cursor: help;
}
article,
aside,
footer,
header,
main,
nav,
section {
  display: block;
}
b,
dt,
strong,
th {
  font-weight: bold;
}
blockquote,
caption,
dfn,
em,
figcaption,
i,
var {
  font-style: italic;
}
figure {
  text-align: center;
}
code,
.code {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 12px;
}
del,
s {
  text-decoration: line-through;
}
ins,
u {
  text-decoration: underline;
}
kbd,
small,
sub,
sup,
.small {
  font-size: 14px;
}
sub,
sup {
  display: inline;
  position: relative;
  vertical-align: middle;
}
sub {
  top: 0.5em;
}
sup {
  top: -0.5em;
}
mark {
  background: #ff0;
  color: inherit;
}
pre {
  word-wrap: break-word;
  white-space: pre-wrap;
  font-weight: normal;
  font-style: normal;
  background: #000;
  color: #fff;
  padding: 8px 12px;
  overflow: auto;
}
img {
  max-width: 100%;
  height: auto;
}
h1,
.h1 {
  font-size: 32px;
}
h2,
.h2 {
  font-size: 28px;
}
h3,
.h3 {
  font-size: 24px;
}
h4,
.h4 {
  font-size: 20px;
}
h5,
.h5 {
  font-size: 16px;
}
h6,
.h6 {
  font-size: 12px;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  line-height: 1;
}
kbd {
  display: inline-block;
  vertical-align: middle;
  padding: 0 8px;
  cursor: pointer;
}
blockquote,
dl,
fieldset,
figcaption,
figure,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
ol,
p,
pre,
table,
ul {
  margin: 24px 0 0;
}
blockquote:first-child,
dl:first-child,
fieldset:first-child,
figcaption:first-child,
figure:first-child,
form:first-child,
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child,
hr:first-child,
ol:first-child,
p:first-child,
pre:first-child,
table:first-child,
ul:first-child {
  margin-top: 0;
}
.p {
  margin-top: 24px;
}
.p:first-child {
  margin-top: 0;
}
blockquote {
  font-size: 18px;
  margin-right: 24px;
  margin-left: 24px;
}
figure img {
  display: block;
  margin: 0 auto;
}
figcaption {
  margin-top: 6px;
}
ol,
ul,
dd {
  margin-left: 40px;
}
ol ol,
ol ul,
ul ol,
ul ul {
  margin-top: 0;
  margin-left: 16px;
}
ul {
  list-style: square;
}
details {
  border: 1px solid;
  padding: 24px;
}
details summary {
  padding: 12px;
  margin: -24px;
  height: auto;
  cursor: pointer;
}
details[open] summary {
  margin-bottom: 24px;
}
details + details {
  border-top-width: 0;
}
fieldset,
hr {
  color: inherit;
  border: 1px solid;
}
fieldset {
  padding: 24px;
}
legend {
  padding: 0 8px;
  margin: -8px 0;
  font-weight: bold;
}
legend + blockquote,
legend + dl,
legend + figure,
legend + h1,
legend + h2,
legend + h3,
legend + h4,
legend + h5,
legend + h6,
legend + fieldset,
legend + ol,
legend + p,
legend + pre,
legend + table,
legend + ul,
legend + .p {
  margin-top: 0;
}
hr {
  border-width: 1px 0 0;
}
.button,
.input,
.select,
.textarea,
.lot\:input .fix {
  display: inline-block;
  vertical-align: middle;
  background: #fff;
  color: #000;
  border: 1px solid;
  width: 192px;
  height: 36px;
  line-height: 22px; /* height - (padding-top + padding-bottom) - (border-top-width + border-bottom-width) */
  padding: 6px 12px;
  text-align: left;
  position: relative;
  z-index: 0;
}
.button:focus,
.input:focus,
.select:focus,
.textarea:focus {
  z-index: 1;
}
.button[disabled],
.input[disabled],
.select[disabled],
.textarea[disabled] {
  opacity: .5;
  cursor: not-allowed;
}
.button::-moz-focus-inner,
.input::-moz-focus-inner {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
.button {
  width: auto;
  text-align: center;
  background: #00f;
  color: #fff;
  border-width: 0;
  line-height: 24px;
}
.button:focus,
.button:active {
  background: #f00;
  color: #fff;
}
.lot\:button {
  display: inline-flex;
}
.lot\:button .button + .button {
  margin-left: 1px;
}
.lot\:button .button svg.caret:only-child {
  margin-right: -12px;
  margin-left: -12px;
}
.input[readonly],
.select[readonly],
.textarea[readonly] {
  border-style: dotted;
}
.input:focus:invalid,
.textarea:focus:invalid {
  color: #c00;
  border-color: #f00;
}
.button,
label {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: pointer;
}
.input[type="color"],
.input[type="file"],
.input[type="range"],
.select {
  cursor: pointer;
}
.input[type="file"],
.input[type="range"] {
  background: none;
  border: 0;
  padding: 0;
  line-height: 24px;
}

.select:not([multiple]) {
  padding-top: 0;
  padding-bottom: 0;
}
.select optgroup,
.select option {
  background: #fff;
  color: inherit;
  margin: 0;
  padding: 0;
}
.select optgroup {
  font-weight: bold;
}
.select optgroup option {
  font-weight: normal;
  padding-left: 8px;
}
.select[multiple] {
  height: auto;
}
.select[multiple] optgroup,
.select[multiple] option {
  background: none;
}
.textarea {
  min-height: 90px;
  resize: vertical;
  overflow: auto;
}
.input[type="checkbox"],
.input[type="color"],
.input[type="image"],
.input[type="radio"] {
  margin: 0;
  padding: 0;
  background: none;
  border: 0;
  width: 1em;
  height: 1em;
  line-height: 1em;
  cursor: pointer;
}
.input[type="checkbox"] + span,
.input[type="radio"] + span {
  display: inline-block;
  vertical-align: middle;
}
.input[type="color"] {
  width: 36px;
  height: 36px;
}
.input[type="image"] {
  width: auto;
  height: auto;
}
.lot\:input {
  display: inline-flex;
  position: relative;
}
.lot\:input .fix {
  width: auto;
  max-width: 50%;
  background: rgba(0, 0, 0, .15);
  cursor: auto;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.lot\:input * + * {
  margin-left: -1px;
}
.lot\:input svg.fix {
  padding-right: 6px;
  padding-left: 6px;
}
.lot\:input .button {
  background: none;
  color: inherit;
  border-width: 1px;
  line-height: 22px;
}
.lot\:input .button svg {
  margin: -1px;
}
.lot\:input .button svg:first-child {
  margin-left: -7px;
}
.lot\:input .button svg:last-child {
  margin-right: -7px;
}
.lot\:input .button svg:only-child {
  margin-right: -7px;
  margin-left: -7px;
}
.lot\:input .lot\:button .button + .button {
  margin-left: -1px;
}
.lot\:input .button:focus,
.lot\:input .button:active {
  background: rgba(0, 0, 0, .05);
  color: inherit;
}
.table {
  width: 100%;
  border-collapse: collapse;
}
.table caption {
  margin-bottom: 6px;
  text-align: left;
}
.table th,
.table td {
  border: 1px solid;
  padding: 4px 8px;
  text-align: inherit;
  vertical-align: top;
}
.lot\:table {
  border: 1px solid;
  overflow: auto;
}
.lot\:table .table {
  border-collapse: separate;
  border-spacing: 2px;
}
.lot\:table .table th,
.lot\:table .table td {
  padding: 0 4px;
  border: 0;
  background: #000;
  color: #fff;
  white-space: nowrap;
}
a.disabled,
.button.disabled,
.input.disabled,
.select.disabled,
.textarea.disabled {
  opacity: .5;
  cursor: not-allowed;
}
svg {
  display: inline-block;
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  max-width: 100%;
  max-height: 100%;
  vertical-align: top;
  font-weight: normal;
  font-style: normal;
  fill: currentColor;
  border-color: inherit;
  position: relative;
  overflow: hidden;
  text-indent: -9999px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.title {
  font: inherit;
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.lot\:item {
  display: flex;
  padding-top: 6px;
}
.lot\:item > label {
  margin: 0 12px 0 0;
}
.lot\:item > label:last-child {
  margin-right: 0;
}
.lot\:task {
  display: flex;
  flex-wrap: wrap;
  margin: -3px;
}
.lot\:task .button,
.lot\:task .lot\:button,
.lot\:task .input,
.lot\:task .lot\:input,
.lot\:task .select {
  margin: 3px;
}
.lot\:task .lot\:button .button {
  margin: 0;
}
.lot\:task .lot\:button .button + .button {
  margin-left: 1px;
}
.lot\:task > a {
  display: inline-block;
  vertical-align: middle;
  margin-right: 12px;
}
.lot\:task > a > svg + span {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  margin-left: 3px;
}
.lot\:task.icons > a {
  margin: 0;
}
.lot\:task.icons > a > svg + span {
  display: none;
}
.drop {
  display: inline-flex;
  position: relative;
}
.lot\:menu,
.lot\:menu ul,
.lot\:menu li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.lot\:menu,
.lot\:menu ul {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 9998;
  background: #fff;
  width: 192px;
  height: auto;
  line-height: 24px;
  display: none;
}
.lot\:menu.static {
  position: static;
}
.lot\:menu.enter,
.lot\:menu ul.enter {
  display: block;
}
.lot\:menu ul {
  top: 0;
  left: 100%;
}
.lot\:menu.rtl ul {
  left: auto;
  right: 100%;
}
.lot\:menu li {
  position: relative;
}
.lot\:menu li.separator {
  width: auto;
  height: 1px;
  background: #000;
  opacity: .125;
  margin: 0;
  overflow: hidden;
}
.lot\:menu li.separator:first-child,
.lot\:menu li.separator:last-child {
  display: none;
}
.lot\:menu li.current > a {
  color: inherit;
}
.lot\:menu a {
  display: flex;
  width: 100%;
  padding: 6px 12px;
  color: #00f;
}
.lot\:menu a:focus,
.lot\:menu a:active {
  color: #ff0000;
}
.lot\:menu span {
  flex: 1;
}
.lot\:menu svg {
  margin: 0 -6px;
}
.lot\:menu svg:first-child {
  margin-right: 6px;
}
.lot\:menu svg:last-child {
  margin-left: 6px;
}
.lot\:menu svg:only-child {
  margin-right: -6px;
  margin-left: -6px;
}
.lot\:menu li:hover > ul,
.lot\:menu a:focus + ul {
  display: block;
}
.align-right,
.align-left,
.align-center {
  display: block;
  float: none;
  margin-top: 24px;
}
.align-right {
  margin-bottom: 8px;
  margin-left: 24px;
  float: right;
  text-align: right;
}
.align-left {
  margin-right: 24px;
  margin-bottom: 8px;
  float: left;
  text-align: left;
}
.align-center {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.align-left img,
.align-right img {
  display: block;
}
.align-center,
.align-center img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.button.text {
  background: none;
  border: 0;
  color: #00f;
}
.button.text:focus,
.button.text:active {
  background: none;
  color: #f00;
}
.button svg {
  margin: 0 -6px;
}
.button svg:first-child {
  margin-right: 6px;
}
.button svg:last-child {
  margin-left: 6px;
}
.button svg:only-child {
  margin-right: -6px;
  margin-left: -6px;
}
.button svg.caret:first-child {
  margin-right: 0;
}
.button svg.caret:last-child {
  margin-left: 0;
}
.width {
  display: flex;
  width: 100%;
}
.textarea.height {
  height: 258px;
}
.field {
  display: flex;
}
.field.expanded > label {
  display: none;
}
.field.required > label:not(:empty)::before {
  content: '*';
  font-size: 14px;
  display: inline;
  position: relative;
  vertical-align: middle;
  top: -0.5em;
}
.field > label {
  display: block;
  width: 120px;
  padding-top: 6px;
  padding-right: 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: right;
}
.field > label + span,
.field > label + div,
.field > label + br + span,
.field > label + br + div {
  display: block;
  flex: 1;
  position: relative;
}
.field > label + br {
  display: none;
}
@media (max-width: 720px) {
  .field {
    display: block;
    width: auto;
  }
  .field > label {
    width: auto;
    margin: 0 0 6px;
    padding: 0;
    text-align: inherit;
  }
  .field > label + span,
  .field > label + div,
  .field > label + br + span,
  .field > label + br + div {
    width: auto;
    margin: 0;
    padding: 0;
    text-align: inherit;
  }
  .field.expanded > label {
    display: block;
  }
}
.field .hint {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  margin: 0 0 0 12px;
}
.field .width + .hint {
  display: block;
  margin: 6px 0 0 0;
}
.input.plain {
  width: auto;
  height: auto;
  background: none;
  border: 0;
  padding-right: 0;
  padding-left: 0;
}
.input.plain.width {
  width: 100%;
}
.lot\:tab > nav {
  height: 48px;
  line-height: 48px;
}
.lot\:tab > nav ul,
.lot\:tab > nav li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.lot\:tab > nav ul {
  display: flex;
  overflow: hidden;
}
.lot\:tab > nav li {
  position: relative;
  border: 1px solid;
  border-bottom-width: 0;
}
.lot\:tab > nav li + li {
  border-left-width: 0;
}
.lot\:tab > nav .active {
  z-index: 4;
}
.lot\:tab > nav .active::before,
.lot\:tab > nav .active::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 9999em;
  height: 0;
  border-bottom: 1px solid;
}
.lot\:tab > nav .active::before {
  right: 100%;
}
.lot\:tab > nav .active::after {
  left: 100%;
}
.lot\:tab > nav a {
  display: block;
  padding: 0 24px;
  color: inherit;
}
.lot\:tab > nav svg {
  margin: 12px -12px;
}
.lot\:tab > nav svg:first-child {
  margin-right: 6px;
}
.lot\:tab > nav svg:last-child {
  margin-left: 6px;
}
.lot\:tab > nav svg:only-child {
  margin-right: -12px;
  margin-left: -12px;
}
@media (max-width: 720px) {
  .lot\:tab > nav {
    height: auto;
    line-height: inherit;
  }
  .lot\:tab > nav li {
    background: none;
    border-width: 0;
    margin-right: 24px;
  }
  .lot\:tab > nav li.active::before,
  .lot\:tab > nav li.active::after {
    display: none;
  }
  .lot\:tab > nav li.active a,
  .lot\:tab > nav li.active span {
    color: inherit;
  }
  .lot\:tab > nav li:last-child {
    margin-right: 0;
  }
  .lot\:tab > nav a {
    padding: 0;
    color: #00f;
  }
  .lot\:tab > nav svg {
    display: none;
  }
}
.lot\:tab > section + section {
  margin-top: 24px;
}
.lot\:tab > section {
  margin-top: 24px;
  display: none;
}
.lot\:tab > section.active {
  display: block;
}
.lot\:tab.size-0 {
  display: none;
}
.lot\:tab.size-1 > nav {
  display: none;
}
.lot\:tab.size-1 > section {
  margin-top: 0;
}
.lot\:file {
  margin-right: 0;
  margin-left: 0;
  padding: 0;
  display: block;
  list-style: none;
}
.file,
.file .title,
.file .lot\:task {
  margin: 0;
  padding: 0;
  font: inherit;
  list-style: none;
  border-color: inherit;
}
.file {
  background: #fff;
  border: 0 solid #fff;
  padding: 6px 12px;
  margin: 0 -6px;
  position: relative;
  overflow: hidden;
}
.file .title {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  float: left;
}
.file .lot\:task {
  position: absolute;
  top: 6px;
  right: 6px;
  background: inherit;
}
.file.is-file,
.file.is-folder {
  padding-left: 42px;
}
.file.is-file::before,
.file.is-folder::before,
.file.is-file::after,
.file.is-folder::after {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 6px;
  left: 6px;
}
.file.is-file::before {
  background: transparent;
  border: 1px solid;
  width: 20px;
}
.file.is-file::after {
  width: 0;
  height: 0;
  border: 3px solid;
  border-top-color: inherit;
  border-right-color: inherit;
  left: 20px;
}
.file.is-folder::before {
  background: #000;
  height: 18px;
  top: 11px;
}
.file.is-folder::after {
  border-top: 3px solid #000;
  width: 12px;
  top: 7px;
}
.file.is-hidden:not(:focus):not(:hover) {
  opacity: 0.5;
}
.lot\:page,
.lot\:page .page {
  margin-right: 0;
  margin-left: 0;
  padding: 0;
  display: block;
  list-style: none;
}
.page h2 code {
  display: inline-block;
  vertical-align: top;
  font: inherit;
  font-size: 14px;
  line-height: 1;
  padding: 3.5px 7px;
  background: #000;
  color: #fff;
}
.page-description {
  margin-right: 0;
  margin-left: 0;
  font-style: normal;
  color: inherit;
}
.lot\:page .page {
  background: #fff;
  border: 0 solid #fff;
  padding: 6px 6px;
  margin: 0 -6px;
  position: relative;
  min-height: 76px;
}
.lot\:page .page > div,
.lot\:page .page > figure,
.lot\:page .page > header,
.lot\:page .page .title,
.lot\:page .page .lot\:task {
  margin: 0;
  padding: 0;
  list-style: none;
  border-color: inherit;
}
.lot\:page .page .title {
  font: inherit;
  font-size: 20px;
  color: inherit;
}
.lot\:page .page .hint {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 16px;
}
.lot\:page .page > figure {
  width: 64px;
  height: 64px;
  float: left;
}
.lot\:page .page > figure img {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}
.lot\:page .page > figure + header,
.lot\:page .page > figure + header + div {
  margin-left: 76px;
}
@media (max-width: 720px) {
  .lot\:page .page > figure {
    display: none;
  }
  .lot\:page .page > figure + header,
  .lot\:page .page > figure + header + div {
    margin-left: 0;
  }
}
.lot\:page .page .lot\:task {
  position: absolute;
  top: 6px;
  right: 6px;
}
.lot\:page .page.is-hidden:not(:focus):not(:hover) {
  opacity: 0.5;
}
.lot\:data {
  margin-right: 0;
  margin-left: 0;
  padding: 0;
  display: block;
  list-style: none;
  -webkit-column-count: 4;
  -webkit-column-gap: 12px;
  -moz-column-count: 4;
  -moz-column-gap: 12px;
  column-count: 4;
  column-gap: 12px;
}
@media (max-width: 720px) {
  .lot\:data {
    -webkit-column-count: 2;
    -webkit-column-gap: 12px;
    -moz-column-count: 2;
    -moz-column-gap: 12px;
    column-count: 2;
    column-gap: 12px;
  }
}
.data,
.data .title,
.data .lot\:task {
  margin: 0;
  padding: 0;
  font: inherit;
  list-style: none;
  border-color: inherit;
}
.data {
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  background: #eee;
  border: 0 solid #eee;
  padding: 12px 18px;
  margin-bottom: 12px;
  position: relative;
  overflow: hidden;
  cursor: move;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.data .title {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: inherit;
  float: left;
}
.data .lot\:task {
  position: absolute;
  top: 12px;
  right: 12px;
  background: inherit;
}
.data.is-hidden:not(:focus):not(:hover) {
  opacity: 0.5;
}
.pager::after,
.pager > span::after {
  content: "";
  display: table;
  clear: both;
}
.pager > span,
.pager > span > a,
.pager > span > b,
.pager > span > span {
  display: block;
  float: left;
  font: inherit;
  padding: 0 6px;
  margin-right: 6px;
}
.pager > span:last-child,
.pager > span > a:last-child,
.pager > span > b:last-child,
.pager > span > span:last-child {
  margin-right: 0;
}
.pager > span {
  padding: 0;
}
.pager > span > a,
.pager > span > b,
.pager > span > span {
  background: #00f;
  color: #fff;
}
.pager > span > a:focus,
.pager > span > b:focus,
.pager > span > span:focus {
  background: #f00;
  color: #fff;
}
.pager > span > b,
.pager > span > span {
  background: none;
  color: inherit;
}
@media (max-width: 720px) {
  .pager > span:first-child,
  .pager > span:last-child {
    display: none;
  }
}
.content\:desk,
.lot\:desk {
  padding: 48px 48px;
  margin: 0 auto;
}
.content\:desk::before,
.content\:desk::after,
.lot\:desk::before,
.lot\:desk::after {
  content: "";
  display: table;
  clear: both;
}
.content\:desk > header,
.lot\:desk > header {
  padding: 0;
  margin-bottom: 48px;
}
.content\:desk > main,
.lot\:desk > main {
  padding: 0;
}
.content\:desk > footer,
.lot\:desk > footer {
  padding: 0;
  margin-top: 48px;
}
.lot\:desk > footer > .lot\:task {
  margin-left: 117px;
}
.content\:desk > header:empty,
.content\:desk > footer:empty,
.lot\:desk > header:empty,
.lot\:desk > footer:empty {
  display: none;
}
@media (max-width: 720px) {
  .content\:desk,
  .lot\:desk {
    padding: 24px 24px;
  }
  .content\:desk > header,
  .lot\:desk > header {
    margin-bottom: 24px;
  }
  .content\:desk > footer,
  .lot\:desk > footer {
    margin-top: 24px;
  }
  .lot\:desk > footer > .lot\:task {
    margin-left: 0;
  }
}
.container {
  padding: 24px 24px;
}
.messages {
  margin: 0;
  padding: 0;
  position: fixed;
  right: 12px;
  bottom: 12px;
  z-index: 9999;
  visibility: visible;
  opacity: 1;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.messages.exit {
  visibility: hidden;
  opacity: 0;
}
.message {
  background: #000;
  color: #fff;
  padding: 6px 12px;
}
.message svg {
  margin: 0 -6px;
}
.message .title {
  color: inherit;
}
.message p,
.message .links {
  margin: 6px 0 0;
}
.message a {
  color: inherit;
  opacity: .6;
}
.message a:focus,
.message a:hover {
  color: inherit;
  opacity: 1;
}
.message + .message {
  margin-top: 12px;
}
.layers {
  position: relative;
}
.js .layer {
  display: none;
}
.layer,
.js .layer.active {
  display: block;
}
.layer + .layer {
  margin-top: 24px;
}
.js .layer + .layer {
  margin-top: 0;
}
html.form,
html.form body {
  display: table;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
html.form body {
  display: table-cell;
  vertical-align: middle;
}
html.form body .lot\:desk {
  margin: 0;
  padding: 0;
}
html.form body .lot\:desk > footer .lot\:task {
  margin: 0;
}
html.form body form {
  max-width: 240px;
  margin: 0 auto;
}
html.form body form .field > label {
  display: none;
}
.lot\:nav {
  line-height: 48px;
  display: flex;
  flex-wrap: wrap;
}
.lot\:nav > ul:nth-child(2) {
  flex: 1;
}
.lot\:nav > ul,
.lot\:nav > ul > li,
.lot\:nav .field {
  display: block;
  width: auto;
  height: inherit;
  margin: 0;
  padding: 0;
  list-style: none;
}
.lot\:nav > ul {
  display: flex;
  height: 48px;
}
.lot\:nav > ul > li.active > a {
  color: inherit;
}
.lot\:nav > ul > li.separator {
  width: 1px;
  height: 24px;
  margin: 12px 0;
  overflow: hidden;
}
.lot\:nav > ul > li.separator:first-child,
.lot\:nav > ul > li.separator:last-child {
  display: none;
}
.lot\:nav > ul > li > a {
  display: flex;
  height: inherit;
  padding: 0 18px;
  overflow: hidden;
}
.lot\:nav > ul > li > a > span {
  flex: 1;
}
.lot\:nav > ul > li > a > svg {
  margin: 12px -6px 0;
  margin-top: 12px;
}
.lot\:nav > ul > li > a > svg:first-child {
  margin-right: 6px;
}
.lot\:nav > ul > li > a > svg:last-child {
  margin-left: 6px;
}
.lot\:nav > ul > li > a > svg:only-child {
  margin-right: -6px;
  margin-left: -6px;
}
.lot\:nav > ul > li > a > svg.caret:first-child {
  margin-right: 0;
  margin-left: -12px;
}
.lot\:nav > ul > li > a > svg.caret:last-child {
  margin-right: -12px;
  margin-left: 0;
}
.lot\:nav .field {
  margin: 0;
}
.lot\:nav .field label {
  display: none;
}
.lot\:nav .field .input {
  display: block;
  width: 192px;
  height: 48px;
  line-height: 48px;
  margin: 0;
  padding: 0 16px;
  border: 0;
}
@media (max-width: 720px) {
  .lot\:nav > ul:first-child,
  .lot\:nav > ul:first-child li + li {
    flex: 1;
  }
  .lot\:nav > ul:first-child > li + li .input {
    width: 100%;
  }
  .lot\:nav > ul:nth-child(2) {
    display: none;
  }
}
.footer {
  padding: 48px 48px;
  padding-top: 0;
}
.lot\:desk .footer {
  padding: 0;
}
@media (max-width: 720px) {
  .footer {
    padding: 24px 24px;
    padding-top: 0;
  }
}
.footer::after {
  content: "";
  display: table;
  clear: both;
}
.footer p.right,
.footer p.left {
  margin: 0;
}
.CodeMirror {
  cursor: text;
  background: #fff;
  color: #000;
  padding: 0;
}
.CodeMirror-gutters {
  background: rgba(0, 0, 0, 0.05);
  border-color: rgba(0, 0, 0, 0.125);
}
.CodeMirror-lines {
  padding: 6px 0;
}
.CodeMirror pre {
  padding: 0 12px;
}
.CodeMirror-linenumber {
  padding: 0 6px 0 12px;
  min-width: 18px;
  color: rgba(0, 0, 0, 0.6);
}
.CodeMirror-selected {
  background: rgba(0, 0, 0, 0.125);
}
.CodeMirror-focused .CodeMirror-selected {
  background: rgba(0, 0, 0, 0.25);
}
.CodeMirror-placeholder {
  opacity: 0.5;
}
.CodeMirror .cm-trailingspace {
  background: #f00;
  opacity: .25;
}
.CodeMirror .cm-trailing-space-a,
.CodeMirror .cm-trailing-space-b,
.CodeMirror .cm-trailing-space-new-line {
  background: none;
}
.CodeMirror .cm-trailing-space-a::before,
.CodeMirror .cm-trailing-space-b::before {
  position: absolute;
  content: '\00B7';
}
.CodeMirror .cm-trailing-space-new-line::before {
  position: absolute;
  content: '\21B5';
}
span.tags {
  padding: 0;
}
span.tags .tags-view {
  border-spacing: 4px;
}
span.tags .tag {
  height: 26px;
  line-height: 26px;
  padding: 0 8px;
}
span.tags .tags-input span + span,
span.tags .tags-input span:focus + span {
  color: inherit;
  opacity: .5;
}