*,
:before,
:after {
  margin:0;
  padding:0;
  font:inherit;
  text-decoration:inherit;
  text-transform:inherit;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}
::-webkit-input-placeholder {
  color:inherit;
  opacity:.5;
}
::-moz-placeholder {
  color:inherit;
  opacity:.5;
}
:-moz-placeholder {
  color:inherit;
  opacity:.5;
}
:-ms-input-placeholder {
  color:inherit;
  opacity:.5;
}
:placeholder {
  color:inherit;
  opacity:.5;
}
:focus {outline:0}
a {
  color:#00f;
  text-decoration:none;
}
a:focus,
a:active {color:#f00}
abbr {
  border:0;
  text-decoration:none;
  cursor:inherit;
  border-bottom:1px solid transparent;
}
abbr[title]:hover {border-bottom-color:inherit}
article,aside,footer,header,main,nav,section {display:block}
b,dt,h1,h2,h3,h4,h5,h6,strong,th {font-weight:bold}
caption,em,figcaption,i,var {font-style:italic}
caption,figure {text-align:center}
code,.code {font-family:monospace}
del,s {text-decoration:line-through}
ins,u {text-decoration:underline}
kbd,small,sub,sup {font-size:80%}
mark {
  background:#ff0;
  color:inherit;
}
pre {
  word-wrap:break-word;
  white-space:pre-wrap;
  font-weight:normal;
  font-style:normal;
  overflow:auto;
}
html,
body {min-height:100%}
html {
  font:normal normal 13px/1.5384615384615385em sans-serif;
  text-decoration:none;
  text-transform:none;
  background:#fff;
  color:#000;
}
img {
  max-width:100%;
  height:auto;
}
h1 {font-size:240%}
h2 {font-size:190%}
h3 {font-size:150%}
h4 {font-size:120%}
h6 {font-size:90%}
h1,h2,h3,h4,h5,h6 {line-height:1}
kbd {
  display:inline-block;
  vertical-align:middle;
  line-height:1.5em;
  padding:0 .5em;
  cursor:pointer;
}
blockquote,
dl,
fieldset,
figcaption,
figure,
form,
h1,h2,h3,h4,h5,h6,
hr,ol,p,pre,table,ul,
.p {margin:1rem 0 0}
blockquote {
  font-size:110%;
  font-style:italic;
}
ol,ul,dd {margin-left:2em}
ol ol,
ol ul,
ul ol,
ul ul {
  margin-top:0;
  margin-left:1em;
}
ul {list-style:square}
blockquote:first-child,
dl:first-child,
fieldset:first-child,
figcaption:first-child,
figure:first-child,
form:first-child,
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child,
hr:first-child,
ol:first-child,
p:first-child,
pre:first-child,
table:first-child,
ul:first-child,
.p:first-child {margin-top:0}
fieldset,hr {
  color:inherit;
  border:1px dotted;
}
fieldset {padding:1em}
legend {
  padding:0 .25em;
  margin:-.5em 0;
  font-weight:bold;
}
legend + fieldset,
legend + p,
legend + .p {margin-top:0}
hr {border-width:1px 0 0}
.button,
.input,
.select,
.textarea {
  display:inline-block;
  vertical-align:middle;
  background:#fff;
  border:1px solid;
  padding:.25em .5em;
  width:12em;
  height:2.1538461538461537em;
  text-align:left;
}
.button::-moz-focus-inner,
.input::-moz-focus-inner {
  margin:0;
  padding:0;
  border:0;
  outline:0;
}
.button {
  width:auto;
  text-align:center;
  background:#00f;
  color:#fff;
  border-width:0;
  padding-right:.7em;
  padding-left:.7em;
}
.button:focus,
.button:active {
  background:#f00;
  color:#fff;
}
.button.x,
.button[disabled] {background:#000}
.input:focus:invalid,
.textarea:focus:invalid {
  color:#f00;
  border-color:#f00;
  box-shadow:none;
}
.button,
label {
  -webkit-user-select:none;
  -moz-user-select:none;
  user-select:none;
  cursor:pointer;
}
.select,
.input[type="color"],
.input[type="file"],
.input[type="range"] {cursor:pointer}
.input[type="file"] {width:auto}
.select optgroup,
.select option {padding:0}
.select option[value=""] {color:rgba(0,0,0,.5)}
.select optgroup {font-weight:bold}
.select optgroup option {
  font-weight:normal;
  padding-left:.5em;
}
.textarea {
  height:5em;
  resize:vertical;
}
.textarea.height {height:30em}
.input[type="checkbox"],
.input[type="radio"] {
  margin:0;
  padding:0;
  width:auto;
  height:auto;
  cursor:pointer;
}
.input[type="checkbox"] + span,
.input[type="radio"] + span {
  display:inline-block;
  vertical-align:middle;
}
.input[type="color"] {
  background:none;
  border:0;
  padding:0;
  width:2.1538461538461537em;
}
.input[type="file"],
.input[type="image"],
.input[type="range"] {
  background:none;
  border:0;
  padding:0;
}
.input[disabled],
.select[disabled],
.textarea[disabled] {
  opacity:.8;
  cursor:not-allowed;
}
.input[readonly],
.select[readonly],
.textarea[readonly] {border-style:dotted}
.table {
  width:100%;
  border-collapse:collapse;
}
.table caption {margin-bottom:1rem}
.table th,
.table td {
  border:1px solid;
  padding:.25em .5em;
  text-align:left;
  vertical-align:top;
}
.width {
  display:block;
  width:100%;
}
.button.x,
.input.x,
.select.x,
.textarea.x,
.button[disabled],
.input[disabled],
.select[disabled],
.textarea[disabled] {cursor:not-allowed}
.text-left {text-align:left}
.text-center {text-align:center}
.text-right {text-align:right}
.text-justify {text-align:justify}
.left {float:left}
.right {float:right}
.center {
  float:none;
  display:inline-block;
  margin-right:auto;
  margin-left:auto;
}
.align-left {
  float:left;
  margin:.38461538461538464em 1.5384615384615385em 1.5384615384615385em 0;
  text-align:left;
}
.align-right {
  float:right;
  margin:.38461538461538464em 0 1.5384615384615385em 1.5384615384615385em;
  text-align:right;
}
.align-center {
  float:none;
  display:block;
  margin-right:auto;
  margin-left:auto;
  text-align:center;
}