*,
:before,
:after {
  margin:0;
  padding:0;
  font:inherit;
  text-decoration:none;
  text-transform:none;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}
::-webkit-input-placeholder {
  color:inherit;
  opacity:.5;
}
::-moz-placeholder {
  color:inherit;
  opacity:.5;
}
:-moz-placeholder {
  color:inherit;
  opacity:.5;
}
:-ms-input-placeholder {
  color:inherit;
  opacity:.5;
}
:placeholder {
  color:inherit;
  opacity:.5;
}
:focus {outline:0}
a {
  color:#00f;
  text-decoration:none;
}
abbr {
  border:0;
  text-decoration:none;
  cursor:inherit;
  border-bottom:1px solid transparent;
}
abbr[title]:hover {border-bottom-color:inherit}
article,aside,footer,header,main,nav,section {display:block}
b,dt,h1,h2,h3,h4,h5,h6,strong,th {font-weight:bold}
caption,em,figcaption,i,var {font-style:italic}
caption,figcaption {text-align:center}
code {font-family:monospace}
ins,u {text-decoration:underline}
del,s {text-decoration:line-through}
html {
  font:normal normal 13px/1.5384615384615385em sans-serif;
  background:#fff;
  color:#000;
}
img {
  max-width:100%;
  height:auto;
}
h1 {font-size:240%}
h2 {font-size:190%}
h3 {font-size:150%}
h4 {font-size:120%}
h6 {font-size:90%}
h1,h2,h3,h4 {line-height:1}
kbd {
  display:inline-block;
  vertical-align:middle;
  font-size:80%;
  line-height:1.5em;
  padding:0 .5em;
  cursor:pointer;
}
blockquote,
dl,
fieldset,
figcaption,
figure,
form,
h1,h2,h3,h4,h5,h6,
hr,ol,p,pre,table,ul {margin:1rem 0 0}
ol,ul,dd {margin-left:2em}
ol ol,
ol ul,
ul ol,
ul ul {
  margin-top:0;
  margin-left:1em;
}
ul {list-style:square}
fieldset,hr {
  color:inherit;
  border:1px solid;
}
fieldset {padding:1em}
legend {
  padding:0 .25em;
  font-weight:bold;
}
legend + fieldset,
legend + p {margin-top:-.5384615384615384em}
hr {border-width:1px 0 0}

.button,
.input,
.select,
.textarea {
  display:inline-block;
  vertical-align:middle;
  border:1px solid;
  padding:.25em .5em;
  width:12em;
  height:2.1538461538461537em;
  text-align:left;
}
.button::-moz-focus-inner,
.input::-moz-focus-inner {
  margin:0;
  padding:0;
  border:0;
  outline:0;
}
.button {
  width:auto;
  text-align:center;
  background:#eee;
  border-width:0;
  padding-right:.7em;
  padding-left:.7em;
}
.button,
label {
  -webkit-user-select:none;
  -moz-user-select:none;
  user-select:none;
  cursor:pointer;
}
.select,
.input[type="color"],
.input[type="range"] {cursor:pointer}
.textarea {
  height:5em;
  resize:vertical;
}
.textarea.expand {height:30em}
.input[type="checkbox"],
.input[type="radio"] {
  margin:0;
  padding:0;
  width:auto;
  height:auto;
}
.block {
  display:block;
  width:100%;
}
.button.x,
.input.x,
.select.x,
.textarea.x {cursor:default}

.message {
  padding:.5em 1em;
  background:#ff0;
}
.message + .message {margin-top:.25em}