.lot\:field.type\:blob {
  > label {
    + div {
      .input {
        border: 1px dashed;
        border-color: var(--stroke, transparent);
        height: auto;
        line-height: normal;
        padding: var(--y) var(--x);
        @each $v in (hover, focus, active, disabled) {
          &:#{$v} {
            border-color: var(--stroke--#{$v}, var(--stroke, transparent));
          }
        }
      }
    }
  }
}