.lot\:field.type\:buttons {
  > label {
    + div {
      .with\:options {
        padding: {
          bottom: 0;
          top: 0;
        }
        &.has\:gap {
          gap: calc(var(--y) / 4) calc(var(--x) / 4);
        }
        &.is\:flex {
          display: inline-flex;
        }
      }
    }
  }
}