$name: option-picker;

.#{$name} {
  height: calc(var(--y) * 1.5);
  line-height: calc((var(--y) * 1.5) - (var(--y) / 2) - 2px); // See `input`
  padding: calc(var(--y) / 4) calc(var(--x) / 2);
  width: var(--width-input);
  &::after {
    right: calc(var(--x) / 2);
  }
  &--focus {
    @extend :focus-visible;
    background: var(--fill-#{$name}--focus, var(--fill-#{$name}, var(--fill--focus, var(--fill, none))));
    border-color: var(--stroke-#{$name}--focus, var(--stroke-#{$name}, var(--stroke--focus, var(--stroke, transparent))));
    box-shadow: var(--shadow-#{$name}--focus, var(--shadow-#{$name}, var(--shadow--focus, var(--shadow, none))));
    z-index: 9999;
  }
  &.has\:width {
    display: flex;
    width: 100%;
    .#{$name}__input {
      flex: 1;
    }
  }
  &__options {
    line-height: var(--h);
    margin: 0;
    .#{$name}__option {
      padding: 0 calc(var(--x) / 2);
      &-group {
        padding: 0 calc(var(--x) / 2);
        .#{$name}__option {
          margin: 0 calc(var(--x) / -2);
          padding-left: var(--x);
        }
      }
    }
  }
  &__source {
    + .#{$name} {
      margin-left: 0 !important;
    }
    &:not([multiple]) {
      + .#{$name} {
        padding: {
          bottom: calc(var(--y) / 4);
          top: calc(var(--y) / 4);
        }
      }
    }
  }
  &__input,
  &__values {
    padding: {
      left: 0;
      right: 0;
    }
  }
}