$name: tag-picker;

.#{$name} {
  height: auto;
  min-height: calc(var(--y) * 1.5);
  padding: calc(var(--y) / 12) calc(var(--x) / 12);
  width: var(--width-input);
  &--focus {
    @extend :focus-visible;
    background: var(--fill-#{$name}--focus, var(--fill-#{$name}, var(--fill--focus, var(--fill, none))));
    border-color: var(--stroke-#{$name}--focus, var(--stroke-#{$name}, var(--stroke--focus, var(--stroke, transparent))));
    box-shadow: var(--shadow-#{$name}--focus, var(--shadow-#{$name}, var(--shadow--focus, var(--shadow, none))));
  }
  &.has\:width {
    display: flex;
    width: 100%;
  }
  &__input {
    span {
      min-height: var(--y);
    }
  }
  &__tag {
    margin: calc(var(--y) / 12) calc(var(--x) / 12);
    padding: 0 calc(var(--z) / 2);
    // Fix link color specifity
    &-x:any-link {
      color: var(--color-#{$name}__tag-x, var(--color, inherit));
      @each $v in (hover, focus, active) {
        &:#{$v} {
          color: var(--color-#{$name}__tag-x--#{$v}, var(--color-#{$name}__tag-x, var(--color--#{$v}, var(--color, inherit))));
        }
      }
    }
  }
  &__source {
    position: fixed;
    + .#{$name} {
      margin-left: 0 !important;
      .#{$name}__tag {
        border: 1px solid transparent;
        line-height: calc(var(--y) - 2px);
      }
    }
  }
}