.lot\:bar {
  background: var(--fill-bar, var(--fill, none));
  border: 0 solid;
  border-color: var(--stroke-bar, var(--stroke, transparent));
  border-radius: var(--arc-bar, var(--arc, 0));
  box-shadow: var(--shadow-bar, var(--shadow, none));
  color: var(--color-bar, var(--color, inherit));
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  line-height: calc(var(--y) * 2);
  &.is\:flex {
    flex-direction: row;
  }
  .lot\:links {
    margin: 0;
    > ul,
    > ul > li {
      height: inherit;
      list-style: none;
      margin: 0;
      padding: 0;
      width: auto;
    }
    > ul {
      display: flex;
      height: calc(var(--y) * 2);
      > li {
        > a {
          background: var(--fill-bar-link, var(--fill-link, var(--fill, none)));
          color: var(--color-bar-link, var(--color-link, var(--color, inherit)));
          display: flex;
          height: inherit;
          overflow: hidden;
          padding: 0 calc(var(--x) * .75);
          position: relative;
          .title {
            .icon {
              &:first-child {
                margin-left: calc(var(--x) / -4);
              }
              &:last-child {
                margin-right: calc(var(--x) / -4);
              }
              &.caret {
                fill: var(--color-bar-caret, var(--color-caret, var(--color, currentColor)));
                margin: {
                  left: calc(var(--x) / -4);
                  right: calc(var(--x) / -4);
                }
              }
            }
            .status {
              background: var(--fill-bar-status, var(--fill-status, var(--fill, none)));
              border-radius: var(--arc-bar-status, var(--arc-status, var(--arc, 0)));
              box-shadow: var(--shadow-bar-status, var(--shadow-status, var(--shadow, none)));
              color: var(--color-bar-status, var(--color-status, var(--color, inherit)));
              float: right;
              line-height: var(--h);
              margin: calc(var(--y) / 2) 0 0 calc(var(--x) / 4);
              padding: 0 calc(var(--x) / 4);
            }
          }
          @each $v in (hover, focus, active) {
            &:#{$v} {
              background: var(--fill-bar-link--#{$v}, var(--fill-bar-link, var(--fill-link--#{$v}, var(--fill-link, var(--fill, none)))));
              color: var(--color-bar-link--#{$v}, var(--color-bar-link, var(--color-link--#{$v}, var(--color-link, var(--color, inherit)))));
            }
          }
        }
        &.as\:separator {
          background: var(--stroke);
          height: var(--y);
          margin: calc(var(--y) / 2) 0;
          overflow: hidden;
          width: 1px;
          &:first-child,
          &:last-child {
            display: none;
          }
        }
        &.is\:current {
          > a {
            background: var(--fill-bar-link--current, var(--fill-bar-link, var(--fill-link--current, var(--fill-link, var(--fill, none)))));
            color: var(--color-bar-link--current, var(--color-bar-link, var(--color-link--current, var(--color-link, var(--color, inherit)))));
          }
        }
        &.not\:active {
          > a {
            background: var(--fill-bar-link--disabled, var(--fill-bar-link, var(--fill-link--disabled, var(--fill-link, var(--fill, none)))));
            color: var(--color-bar-link--disabled, var(--color-bar-link, var(--color-link--disabled, var(--color-link, var(--color, inherit)))));
          }
        }
      }
    }
    &.of\:links {
      flex: 1;
    }
  }
  .lot\:field {
    height: inherit;
    margin: 0;
    padding: 0;
    width: auto;
    > label {
      + div {
        margin-top: 0;
        > div {
          display: block;
        }
      }
    }
    .input {
      border: 0;
      box-shadow: none;
      display: block;
      height: calc(var(--y) * 2);
      line-height: calc(var(--y) * 2);
      margin: 0;
      padding: 0 calc(var(--x) / 1.5);
      width: calc(var(--x) * 8);
    }
    label {
      display: none;
    }
    > * {
      margin: {
        left: 0;
        right: 0;
      }
    }
  }
  > hgroup {
    margin: 0;
    padding: 0 calc(var(--x) * 0.75);
    > .description {
      display: none;
    }
    > .title {
      font: {
        size: 100%;
        weight: bold;
      }
      line-height: inherit;
      margin: 0;
    }
  }
}