.lot\:desk {
  outline-offset: calc(var(--y) * -1);
  padding: var(--y) var(--x);
  position: relative;
  > * {
    margin: {
      left: auto;
      right: auto;
    }
    max-width: calc(var(--x) * 36);
  }
  &.has\:width {
    display: block;
    > * {
      max-width: 100%;
    }
  }
}