.lot\:file {
  background: var(--fill-file, none);
  border: 0 solid;
  border-color: var(--stroke-file, var(--fill-file, none));
  border-radius: var(--arc-file);
  box-shadow: var(--shadow-file);
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: calc(var(--y) / 4) calc(var(--x) / 2);
  position: relative;
  z-index: 0;
  &:focus {
    z-index: 1;
  }
  @each $v in (focus, hover, active) {
    &:#{$v} {
      background: var(--fill-file--#{$v}, var(--fill-file, none));
      border-color: var(--stroke-file--#{$v}, var(--stroke-file, var(--fill-file, none)));
      box-shadow: var(--shadow-file--#{$v}, var(--shadow-file));
    }
  }
  &.is\:current {
    background: var(--fill-file--current, var(--fill-file, none));
    border-color: var(--stroke-file--current, var(--stroke-file, var(--fill-file, none)));
    box-shadow: var(--shadow-file--current, var(--shadow-file));
  }
  &::before,
  &::after {
    content: "";
    display: block;
    height: var(--y);
    left: calc(var(--x) / 4);
    position: absolute;
    top: calc(var(--y) / 4);
    width: var(--x);
  }
  > * {
    margin: 0 calc(var(--x) / 8);
  }
  > .lot\:tasks {
    margin-right: calc(var(--x) / -4);
  }
  &.not\:active {
    opacity: .5;
  }
}

.lot\:folder {
  @extend .lot\:file;
  background: var(--fill-folder, none);
  border-color: var(--stroke-folder, var(--fill-folder, none));
  border-radius: var(--arc-folder);
  box-shadow: var(--shadow-folder);
  @each $v in (focus, hover, active) {
    &:#{$v} {
      background: var(--fill-folder--#{$v}, var(--fill-folder, none));
      border-color: var(--stroke-folder--#{$v}, var(--stroke-folder, var(--fill-folder, none)));
      box-shadow: var(--shadow-folder--#{$v}, var(--shadow-folder));
    }
  }
  &.is\:current {
    background: var(--fill-folder--current, var(--fill-folder, none));
    border-color: var(--stroke-folder--current, var(--stroke-folder, var(--fill-folder, none)));
    box-shadow: var(--shadow-folder--current, var(--shadow-folder));
  }
}

.is\:file,
.is\:folder {
  padding-left: calc(var(--x) * 1.75);
}

.is\:file {
  &::before {
    background: var(--fill-file-icon, var(--fill));
    border: 1px solid;
    border-color: var(--stroke-file-icon, var(--stroke));
    width: 20px; // Magic :(
  }
  &::after {
    border: 3px solid;
    border-color: var(--stroke-file-icon, var(--stroke));
    border-right-color: inherit;
    border-top-color: inherit;
    height: 0;
    left: 20px; // Magic :(
    width: 0;
  }
}

.is\:folder {
  &::before {
    background: var(--fill-folder-icon, var(--color));
    border: 0 solid;
    border-color: var(--stroke-folder-icon, var(--stroke));
    height: 18px;
    top: 11px;
  }
  &::after {
    background: var(--fill-folder-icon, var(--color));
    height: 3px;
    top: 7px;
    width: 12px;
  }
}