.lot\:file {
  background: var(--fill-file, var(--fill, none));
  border: 0 solid;
  border-color: var(--stroke-file, var(--stroke, transparent));
  border-radius: var(--arc-file, var(--arc, 0));
  box-shadow: var(--shadow-file, var(--shadow, none));
  display: flex;
  flex-wrap: wrap;
  gap: calc(var(--x) / 8);
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: calc(var(--y) / 4) calc(var(--x) / 2);
  position: relative;
  z-index: 0;
  &:focus {
    z-index: 1;
  }
  @each $v in (focus, hover, active) {
    &:#{$v} {
      background: var(--fill-file--#{$v}, var(--fill-file, var(--fill, none)));
      border-color: var(--stroke-file--#{$v}, var(--stroke-file, var(--stroke, transparent)));
      box-shadow: var(--shadow-file--#{$v}, var(--shadow-file, var(--shadow, none)));
    }
  }
  &.is\:current {
    background: var(--fill-file--current, var(--fill-file, var(--fill, none)));
    border-color: var(--stroke-file--current, var(--stroke-file, var(--stroke, transparent)));
    box-shadow: var(--shadow-file--current, var(--shadow-file, var(--shadow, none)));
  }
  &::before,
  &::after {
    content: "";
    display: block;
    height: var(--y);
    left: calc(var(--x) / 4);
    position: absolute;
    top: calc(var(--y) / 4);
    width: var(--x);
  }
  > .lot\:tasks {
    margin-right: calc(var(--x) / -4);
  }
  &.not\:active {
    opacity: 0.5;
  }
}

.lot\:folder {
  @extend .lot\:file;
  background: var(--fill-folder, var(--fill, none));
  border-color: var(--stroke-folder, var(--stroke, transparent));
  border-radius: var(--arc-folder, var(--arc, 0));
  box-shadow: var(--shadow-folder, var(--shadow, none));
  @each $v in (focus, hover, active) {
    &:#{$v} {
      background: var(--fill-folder--#{$v}, var(--fill-folder, var(--fill, none)));
      border-color: var(--stroke-folder--#{$v}, var(--stroke-folder, var(--stroke, transparent)));
      box-shadow: var(--shadow-folder--#{$v}, var(--shadow-folder, var(--shadow, none)));
    }
  }
  &.is\:current {
    background: var(--fill-folder--current, var(--fill-folder, var(--fill, none)));
    border-color: var(--stroke-folder--current, var(--stroke-folder, var(--stroke, transparent)));
    box-shadow: var(--shadow-folder--current, var(--shadow-folder, var(--shadow, none)));
  }
}

.is\:file,
.is\:folder {
  padding-left: calc(var(--x) * 1.75);
}

.is\:file {
  &::before {
    background: var(--fill-file-icon, var(--fill, none));
    border: 1px solid;
    border-color: var(--stroke-file-icon, var(--stroke));
    width: 20px; // Magic :(
  }
  &::after {
    border: 3px solid;
    border-color: var(--stroke-file-icon, var(--stroke, transparent));
    border-right-color: inherit;
    border-top-color: inherit;
    height: 0;
    left: 20px; // Magic :(
    width: 0;
  }
}

.is\:folder {
  &::before {
    background: var(--fill-folder-icon, var(--fill, none));
    border: 1px solid;
    border-color: var(--stroke-folder-icon, var(--stroke, transparent));
    height: 18px;
    top: 11px;
  }
  &::after {
    background: var(--stroke-folder-icon, var(--stroke, transparent));
    height: 3px;
    top: 7px;
    width: 12px;
  }
}