.lot\:menus {
  background: var(--fill-menus, none);
  border-radius: var(--arc-menus);
  box-shadow: var(--shadow-menus);
  color: var(--color-menus);
  height: auto;
  line-height: var(--y);
  > ul,
  > li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  > ul {
    display: flex;
    > .has\:menu {
      display: flex;
      position: relative;
      > .lot\:menu {
        display: none;
        left: 0;
        margin: 0;
        position: absolute;
        top: 100%;
        z-index: 9998;
        &.is\:enter {
          display: block;
        }
      }
    }
    > li {
      display: flex;
      position: relative;
      &:hover {
        > a {
          background: var(--fill-menus-link--hover, var(--fill-menus-link));
          color: var(--color-menus-link--hover, var(--color-menus-link));
        }
      }
      > a {
        background: var(--fill-menus-link, var(--fill-link, none));
        color: var(--color-menus-link, var(--color-link));
        display: flex;
        flex: 1;
        padding: calc(var(--y) / 4) calc(var(--x) / 2);
        .title {
          flex: 1;
          .icon {
            &:first-child {
              margin-left: calc(var(--x) / -4);
            }
            &:last-child {
              margin-right: calc(var(--x) / 4);
            }
            &.caret {
              color: var(--color-menus-caret, inherit);
              margin-left: calc(var(--x) / -4);
              margin-right: calc(var(--x) / -4);
            }
          }
          .status {
            background: var(--fill-menus-status);
            border-radius: var(--arc-menus-status);
            box-shadow: var(--shadow-menus-status);
            color: var(--color-menus-status);
            float: right;
            margin: 0 calc(var(--x) / -4) 0 0;
            padding: 0 calc(var(--x) / 4);
          }
        }
        @each $v in (hover, focus, active) {
          &:#{$v} {
            background: var(--fill-menus-link--#{$v}, var(--fill-menus-link));
            color: var(--color-menus-link--#{$v}, var(--color-menus-link));
          }
        }
        &:focus {
          + ul {
            display: block;
          }
        }
      }
      &.as\:separator {
        background: var(--stroke);
        height: var(--y);
        margin: calc(var(--y) / 4);
        overflow: hidden;
        width: 1px;
        &:first-child,
        &:last-child {
          display: none;
        }
      }
      &.is\:current {
        > a {
          background: var(--fill-menus-link--current, none);
          color: var(--color-menus-link--current, inherit);
        }
      }
      &.not\:active {
        > a {
          background: var(--fill-menus-link--disabled, none);
          color: var(--color-menus-link--disabled, inherit);
        }
      }
    }
  }
  > .description {
    @extend .small;
    line-height: calc(var(--y) / 1.5);
    margin: calc(var(--y) / -2) 0 0;
    padding: calc(var(--y) / 2) calc(var(--x) / 2);
  }
  > .title {
    font-size: 100%;
    line-height: inherit;
    padding: calc(var(--y) / 4) calc(var(--x) / 2);
  }
}