.has\:menu {
  position: relative;
  .lot\:menu {
    left: 0;
    margin: 0;
    top: 100%;
  }
}

.lot\:menu {
  background: var(--fill-menu, var(--fill, none));
  border-radius: var(--arc-menu, var(--arc, 0));
  box-shadow: var(--shadow-menu, var(--shadow, none));
  color: var(--color-menu, var(--color, inherit));
  display: none;
  height: auto;
  line-height: var(--y);
  margin: 0;
  position: absolute;
  width: var(--width-menu);
  z-index: 9998;
  .has\:menu {
    display: flex;
    position: relative;
    .lot\:menu {
      left: 100%;
      top: 0;
    }
  }
  > ul,
  > ul > li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  > ul {
    > li {
      display: flex;
      position: relative;
      &:hover {
        > a {
          background: var(--fill-menu-link--hover, var(--fill-menu-link, var(--fill-link--hover, var(--fill-link, var(--fill, none)))));
          color: var(--color-menu-link--hover, var(--color-menu-link, var(--color-link--hover, var(--color-link, var(--color, inherit)))));
        }
        > .lot\:menu {
          display: block;
        }
      }
      > a {
        background: var(--fill-menu-link, var(--fill-link, var(--fill, none)));
        color: var(--color-menu-link, var(--color-link, var(--color, inherit)));
        display: flex;
        flex: 1;
        padding: calc(var(--y) / 4) calc(var(--x) / 2);
        .title {
          flex: 1;
          .icon {
            &:first-child {
              margin-left: calc(var(--x) / -4);
            }
            &:last-child {
              margin-right: calc(var(--x) / -4);
            }
            &.caret {
              fill: var(--color-menu-caret, var(--color-caret, var(--color, currentColor)));
              margin-left: calc(var(--x) / -4);
              margin-right: calc(var(--x) / -4);
            }
          }
          .status {
            background: var(--fill-menu-status, var(--fill-status, var(--fill, none)));
            border-radius: var(--arc-menu-status, var(--arc-status, var(--arc, 0)));
            box-shadow: var(--shadow-menu-status, var(--shadow-status, var(--shadow, none)));
            color: var(--color-menu-status, var(--color-status, var(--color, inherit)));
            float: right;
            margin: 0 calc(var(--x) / -4) 0 0;
            padding: 0 calc(var(--x) / 4);
          }
        }
        @each $v in (hover, focus, active) {
          &:#{$v} {
            background: var(--fill-menu-link--#{$v}, var(--fill-menu-link, var(--fill-link--#{$v}, var(--fill-link, var(--fill, none)))));
            color: var(--color-menu-link--#{$v}, var(--color-menu-link, var(--color-link--#{$v}, var(--color-link, var(--color, inherit)))));
          }
        }
        &:focus {
          + ul {
            display: block;
          }
        }
      }
      &.as\:separator {
        background: var(--stroke);
        height: 1px;
        overflow: hidden;
        width: auto;
        &:first-child,
        &:last-child {
          display: none;
        }
      }
      &.is\:current {
        > a {
          background: var(--fill-menu-link--current, var(--fill-menu-link, var(--fill-link--current, var(--fill-link, var(--fill, none)))));
          color: var(--color-menu-link--current, var(--color-menu-link, var(--color-link--current, var(--color-link, var(--color, inherit)))));
        }
      }
      &.not\:active {
        > a {
          background: var(--fill-menu-link--disabled, var(--fill-menu-link, var(--fill-link--disabled, var(--fill-link, var(--fill, none)))));
          color: var(--color-menu-link--disabled, var(--color-menu-link, var(--color-link--disabled, var(--color-link, var(--color, inherit)))));
        }
      }
    }
  }
  > .description {
    @extend .small;
    line-height: calc(var(--y) / 1.5);
    margin: calc(var(--y) / -2) 0 0;
    padding: calc(var(--y) / 2) calc(var(--x) / 2);
  }
  > .title {
    font-size: 100%;
    line-height: inherit;
    padding: calc(var(--y) / 4) calc(var(--x) / 2);
  }
  &.has\:width {
    display: none;
  }
  &.is\:enter {
    display: block;
  }
}