.lot\:menus {
  background: var(--fill-menus, var(--fill, none));
  border-radius: var(--arc-menus, var(--arc, 0));
  box-shadow: var(--shadow-menus, var(--shadow, none));
  color: var(--color-menus, var(--color, inherit));
  height: auto;
  line-height: var(--y);
  > ul,
  > li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  > ul {
    display: flex;
    > .has\:menu {
      display: flex;
      position: relative;
      > .lot\:menu {
        display: none;
        left: 0;
        margin: 0;
        position: absolute;
        top: 100%;
        z-index: 9998;
        &.is\:enter {
          display: block;
        }
      }
    }
    > li {
      display: flex;
      position: relative;
      &:hover {
        > a {
          background: var(--fill-menus-link--hover, var(--fill-menus-link, var(--fill-link--hover, var(--fill-link, var(--fill, none)))));
          color: var(--color-menus-link--hover, var(--color-menus-link, var(--color-link--hover, var(--color-link, var(--color, inherit)))));
        }
      }
      > a {
        background: var(--fill-menus-link, var(--fill-link, var(--fill, none)));
        color: var(--color-menus-link, var(--color-link, var(--color, inherit)));
        display: flex;
        flex: 1;
        padding: calc(var(--y) / 4) calc(var(--x) / 2);
        .title {
          flex: 1;
          .icon {
            &:first-child {
              margin-left: calc(var(--x) / -4);
            }
            &:last-child {
              margin-right: calc(var(--x) / 4);
            }
            &.caret {
              fill: var(--color-menus-caret, var(--color-caret, var(--color, currentColor)));
              margin-left: calc(var(--x) / -4);
              margin-right: calc(var(--x) / -4);
            }
          }
          .status {
            background: var(--fill-menus-status, var(--fill-status, var(--fill, none)));
            border-radius: var(--arc-menus-status, var(--arc-status, var(--arc, 0)));
            box-shadow: var(--shadow-menus-status, var(--shadow-status, var(--shadow, none)));
            color: var(--color-menus-status, var(--color-status, var(--color, inherit)));
            float: right;
            margin: 0 calc(var(--x) / -4) 0 0;
            padding: 0 calc(var(--x) / 4);
          }
        }
        @each $v in (hover, focus, active) {
          &:#{$v} {
            background: var(--fill-menus-link--#{$v}, var(--fill-menus-link, var(--fill-link--#{$v}, var(--fill-link, var(--fill, none)))));
            color: var(--color-menus-link--#{$v}, var(--color-menus-link, var(--color-link--#{$v}, var(--color-link, var(--color, inherit)))));
          }
        }
        &:focus {
          + ul {
            display: block;
          }
        }
      }
      &.as\:separator {
        background: var(--stroke);
        height: var(--y);
        margin: calc(var(--y) / 4);
        overflow: hidden;
        width: 1px;
        &:first-child,
        &:last-child {
          display: none;
        }
      }
      &.is\:current {
        > a {
          background: var(--fill-menus-link--current, var(--fill-menus-link, var(--fill-link--current, var(--fill-link, var(--fill, none)))));
          color: var(--color-menus-link--current, var(--color-menus-link, var(--color-link--current, var(--color-link, var(--color, inherit)))));
        }
      }
      &.not\:active {
        > a {
          background: var(--fill-menus-link--disabled, var(--fill-menus-link, var(--fill-link--disabled, var(--fill-link, var(--fill, none)))));
          color: var(--color-menus-link--disabled, var(--color-menus-link, var(--color-link--disabled, var(--color-link, var(--color, inherit)))));
        }
      }
    }
  }
  > .description {
    @extend .small;
    line-height: calc(var(--y) / 1.5);
    margin: calc(var(--y) / -2) 0 0;
    padding: calc(var(--y) / 2) calc(var(--x) / 2);
  }
  > .title {
    font-size: 100%;
    line-height: inherit;
    padding: calc(var(--y) / 4) calc(var(--x) / 2);
  }
}