.lot\:pager {
  margin-right: calc(var(--x) / -8);
  margin-left: calc(var(--x) / -8);
  &,
  > span {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
  }
  > span {
    > a,
    > span {
      background: var(--fill-button);
      border: 0 solid;
      border-color: var(--stroke-button);
      border-radius: var(--arc-button);
      box-shadow: var(--shadow-button);
      color: var(--color-button);
      font: inherit;
      margin: 0 calc(var(--x) / 8);
      padding: 0 calc(var(--x) / 4);
    }
    > a {
      @each $v in (hover, focus, active) {
        &:#{$v} {
          background: var(--fill-button--#{$v}, var(--fill-button));
          border-color: var(--stroke-button--#{$v}, var(--stroke-button));
          box-shadow: var(--shadow-button--#{$v}, var(--shadow-button));
          color: var(--color-button--#{$v}, var(--color-button));
        }
      }
    }
    > a[aria-current='page'],
    > a[aria-disabled='true'],
    > span {
      background: none;
      border-color: transparent;
      border-radius: 0;
      box-shadow: none;
      color: inherit;
    }
  }
}