.lot\:page {
  @extend .lot\:file;
  background: var(--fill-page, var(--fill-file, var(--fill, none)));
  border-color: var(--stroke-page, var(--stroke-file, var(--stroke, transparent)));
  border-radius: var(--arc-page, var(--arc-file, var(--arc, 0)));
  box-shadow: var(--shadow-page, var(--shadow-file, var(--shadow, none)));
  gap: calc(var(--x) / 2);
  padding: calc(var(--y) / 2);
  @each $v in (focus, hover, active) {
    &:#{$v} {
      background: var(--fill-page--#{$v}, var(--fill-page, var(--fill-file--#{$v}, var(--fill-file, var(--fill, none)))));
      border-color: var(--stroke-page--#{$v}, var(--stroke-page, var(--stroke-file--#{$v}, var(--stroke-file, var(--stroke, transparent)))));
      box-shadow: var(--shadow-page--#{$v}, var(--shadow-page, var(--shadow-file--#{$v}, var(--shadow-file, var(--shadow, none)))));
    }
  }
  &.is\:current {
    background: var(--fill-page--current, var(--fill-page, var(--fill-file--current, var(--fill-file, var(--fill, none)))));
    border-color: var(--stroke-page--current, var(--stroke-page, var(--stroke-file--current, var(--stroke-file, var(--stroke, transparent)))));
    box-shadow: var(--shadow-page--current, var(--shadow-page, var(--shadow-file--current, var(--shadow-file, var(--shadow, none)))));
  }
  > div {
    margin: 0;
    min-height: calc(var(--y) * 2.25);
    &:first-child {
      + div {
        flex: 1;
      }
    }
    > .title {
      display: block;
      font-size: calc(var(--z) * 1.25);
    }
  }
  .description {
    margin: calc(var(--y) / 5) 0 0;
  }
  .image {
    display: block;
    height: calc(var(--y) * 2.25);
    max-height: calc(var(--y) * 2.25);
    max-width: calc(var(--y) * 2.25);
    min-height: 0;
    min-width: 0;
    overflow: hidden;
    position: relative;
    width: calc(var(--y) * 2.25);
    .icon {
      left: 50%;
      margin: calc(var(--y) * -.5) auto auto calc(var(--x) * -.5);
      position: absolute;
      top: 50%;
    }
  }
  &.is\:file,
  &.is\:folder {
    padding-left: calc(var(--x) / 2);
    &::before,
    &::after {
      display: none;
    }
  }
}