.is\:light {
  --color--disabled: #{shade(65%)};
  --color-bar-link--active: #{shade(30%)};
  --color-bar-link--current: #{shade(30%)};
  --color-bar-link--disabled: #{shade(75%)};
  --color-bar-link--focus: #{shade(30%)};
  --color-bar-link--hover: #{shade(40%)};
  --color-bar-link: #{shade(40%)};
  --color-bar-status: #{shade(30%)};
  --color-button--active: #{shade(100%)};
  --color-button--disabled: #{shade(90%)};
  --color-button--focus: #{shade(100%)};
  --color-button--hover: #{shade(100%)};
  --color-button: #{shade(100%)};
  --color-description: #{shade(35%)};
  --color-input--disabled: #{shade(50%)};
  --color-input--hover: #{shade(20%)};
  --color-input--invalid: #{mix(red, shade(20%), 50%)};
  --color-input: #{shade(20%)};
  --color-link--active: #{shade(30%)};
  --color-link--disabled: #{shade(75%)};
  --color-link--focus: #{shade(30%)};
  --color-link--hover: #{shade(40%)};
  --color-link: #{shade(40%)};
  --color-menu-link--active: #{shade(30%)};
  --color-menu-link--current: #{shade(30%)};
  --color-menu-link--disabled: #{shade(75%)};
  --color-menu-link--focus: #{shade(30%)};
  --color-menu-link--hover: #{shade(40%)};
  --color-menu-link: #{shade(40%)};
  --color-menu-status: #{shade(30%)};
  --color-stack--active: #{shade(30%)};
  --color-stack--current: #{shade(30%)};
  --color-stack--disabled: #{shade(65%)};
  --color-stack--focus: #{shade(30%)};
  --color-stack--hover: #{shade(30%)};
  --color-stack-link--active: #{shade(30%)};
  --color-stack-link--disabled: #{shade(75%)};
  --color-stack-link--focus: #{shade(30%)};
  --color-stack-link--hover: #{shade(40%)};
  --color-stack-link: #{shade(40%)};
  --color-stack: #{shade(30%)};
  --color-status: #{shade(50%)};
  --color-tab--active: #{shade(30%)};
  --color-tab--current: #{shade(30%)};
  --color-tab--disabled: #{shade(65%)};
  --color-tab--focus: #{shade(30%)};
  --color-tab--hover: #{shade(30%)};
  --color-tab-link--active: #{shade(30%)};
  --color-tab-link--disabled: #{shade(75%)};
  --color-tab-link--focus: #{shade(30%)};
  --color-tab-link--hover: #{shade(40%)};
  --color-tab-link: #{shade(40%)};
  --color-tab: #{shade(30%)};
  --color: #{shade(30%)};
  --fill-alert: #{shade(98%)};
  --fill-bar-link--active: #{shade(98%)};
  --fill-bar-link--focus: #{shade(98%)};
  --fill-bar-link--hover: #{shade(98%)};
  --fill-bar-status: #{shade(95%)};
  --fill-button--active: #{darken(shade(40%), 5%)};
  --fill-button--disabled: #{shade(60%)};
  --fill-button--focus: #{lighten(shade(40%), 5%)};
  --fill-button--hover: #{shade(40%)};
  --fill-button: #{shade(40%)};
  --fill-code-block: #{shade(95%)};
  --fill-file-icon: #{shade(100%)};
  --fill-fix: #{shade(95%)};
  --fill-folder-icon: #{shade(60%)};
  --fill-input--active: #{shade(90%)};
  --fill-input--disabled: #{shade(95%)};
  --fill-input--focus: #{shade(90%)};
  --fill-input--hover: #{shade(90%)};
  --fill-input: #{shade(90%)};
  --fill-mark: #{shade(90%)};
  --fill-menu-link--active: #{shade(98%)};
  --fill-menu-link--current: #{shade(97%)};
  --fill-menu-link--focus: #{shade(98%)};
  --fill-menu-link--hover: #{shade(98%)};
  --fill-menu-status: #{shade(95%)};
  --fill-stack--current: none;
  --fill-stack--hover: #{shade(98%)};
  --fill-stack: #{shade(98%)};
  --fill-tab--current: none;
  --fill-tab--hover: #{shade(98%)};
  --fill-tab: #{shade(98%)};
  --fill: #{shade(100%)};
  --shadow-button--focus: 0 0 0 3px rgba(0, 0, 0, .05);
  --shadow-input--focus: 0 0 0 3px rgba(0, 0, 0, .05);
  --shadow-input--invalid: 0 0 0 3px rgba(255, 0, 0, .15);
  --stroke--active: #{shade(45%)};
  --stroke--focus-visible: rgba(0, 0, 0, .125);
  --stroke--focus: #{shade(55%)};
  --stroke--hover: #{shade(55%)};
  --stroke-code-block: #{shade(65%)};
  --stroke-file-icon: #{shade(60%)};
  --stroke-fix: #{shade(60%)};
  --stroke-input--active: #{shade(50%)};
  --stroke-input--disabled: #{shade(75%)};
  --stroke-input--focus: #{shade(50%)};
  --stroke-input--hover: #{shade(60%)};
  --stroke-input--invalid: #{mix(red, shade(60%), 50%)};
  --stroke-input: #{shade(60%)};
  --stroke-output: transparent;
  --stroke-stack: #{shade(65%)};
  --stroke-tab: #{shade(65%)};
  --stroke: #{shade(65%)};
  @each $type in (file, folder, page) {
    --fill-#{$type}--active: #{shade(98%)};
    --fill-#{$type}--current: #{shade(97%)};
    --fill-#{$type}--focus: #{shade(98%)};
    --fill-#{$type}--hover: #{shade(98%)};
    --stroke-#{$type}--active: #{shade(98%)};
    --stroke-#{$type}--current: #{shade(97%)};
    --stroke-#{$type}--focus: #{shade(98%)};
    --stroke-#{$type}--hover: #{shade(98%)};
    --stroke-#{$type}: #{shade(100%)};
    // --fill-#{$type}: #{shade(100%)};
  }
  --color-option-picker__option--disabled: var(--color--disabled);
  --color-option-picker__option--selected: var(--color);
  --color-option-picker__option: var(--color);
  --color-tag-picker__tag--disabled: #{shade(40%)};
  --color-tag-picker__tag--read-only: #{shade(40%)};
  --color-tag-picker__tag-x: #{shade(30%)};
  --color-tag-picker__tag: #{shade(25%)};
  --fill-option-picker__option--selected: rgba(0, 0, 0, .025);
  --fill-tag-picker__tag--disabled: #{shade(85%)};
  --fill-tag-picker__tag--focus: #{shade(70%)};
  --fill-tag-picker__tag--read-only: #{shade(80%)};
  --fill-tag-picker__tag--selected: #{shade(70%)};
  --fill-tag-picker__tag: #{shade(75%)};
  @each $v in (hover, focus, active) {
    --color-option-picker__option--#{$v}: var(--color);
    --fill-option-picker__option--#{$v}: rgba(0, 0, 0, .05);
  }
  @each $v in (hover, focus) {
  }
  blockquote,
  caption,
  figcaption,
  .description {
    color: var(--color-description);
  }
  .lot\:menu {
    a {
      &:focus,
      &:hover,
      &:active {
        --fill-menu-link--current: #{shade(96%)};
      }
    }
  }
  .is\:folder {
    &::after {
      --fill-folder-icon: #{darken(shade(60%), 15%)};
    }
  }
  @each $v in (file, folder, page) {
    .lot\:#{$v} {
      &:hover,
      &:active {
        --fill-#{$v}--current: #{shade(96%)};
        --stroke-#{$v}--current: #{shade(96%)};
      }
    }
  }
}