.lot\:field.type\:item {
  .with\:options {
    height: auto;
    max-height: 100%;
    &.has\:gap {
      gap: 0 var(--x);
    }
    &.is\:flex {
      display: flex;
      flex-wrap: wrap;
    }
    > label {
      align-items: center;
      display: inline-flex;
      gap: 0 calc(var(--x) / 3);
      white-space: nowrap;
    }
  }
}