@mixin folder {
  .lot-folder {
    @extend .lot-file;
    background: var(--fill-folder, var(--fill, none));
    border-color: var(--stroke-folder, var(--stroke, transparent));
    border-radius: var(--arc-folder, var(--arc, 0));
    box-shadow: var(--shadow-folder, var(--shadow, none));
    @each $v in (focus, hover, active) {
      &:#{$v} {
        background: var(--fill-folder--#{$v}, var(--fill-folder, var(--fill, none)));
        border-color: var(--stroke-folder--#{$v}, var(--stroke-folder, var(--stroke, transparent)));
        box-shadow: var(--shadow-folder--#{$v}, var(--shadow-folder, var(--shadow, none)));
      }
    }
    &.is-current {
      background: var(--fill-folder--current, var(--fill-folder, var(--fill, none)));
      border-color: var(--stroke-folder--current, var(--stroke-folder, var(--stroke, transparent)));
      box-shadow: var(--shadow-folder--current, var(--shadow-folder, var(--shadow, none)));
    }
  }
  .is-folder {
    padding-left: calc(var(--x) * 1.75);
    &::before {
      background: var(--fill-folder-icon, var(--fill, none));
      border: 1px solid;
      border-color: var(--stroke-folder-icon, var(--stroke, transparent));
      height: 18px;
      top: 11px;
    }
    &::after {
      background: var(--stroke-folder-icon, var(--stroke, transparent));
      height: 3px;
      top: 7px;
      width: 12px;
    }
  }
}