@mixin pager {
  .lot-pager {
    &,
    > span {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      gap: calc(var(--x) / 4);
    }
    > span {
      > a,
      > span {
        background: var(--fill-button, var(--fill, none));
        border: 0 solid;
        border-color: var(--stroke-button, var(--stroke, transparent));
        border-radius: var(--arc-button, var(--arc, 0));
        box-shadow: var(--shadow-button, var(--shadow, none));
        color: var(--color-button, var(--color, inherit));
        font: inherit;
        padding: 0 calc(var(--x) / 4);
      }
      > a {
        @each $v in (hover, focus, active) {
          &:#{$v} {
            background: var(--fill-button--#{$v}, var(--fill-button, var(--fill, none)));
            border-color: var(--stroke-button--#{$v}, var(--stroke-button, var(--stroke, transparent)));
            box-shadow: var(--shadow-button--#{$v}, var(--shadow-button, var(--shadow, none)));
            color: var(--color-button--#{$v}, var(--color-button, var(--color, inherit)));
          }
        }
      }
      > a[aria-current='page'],
      > a[aria-disabled='true'],
      > span {
        background: none;
        border-color: transparent;
        border-radius: 0;
        box-shadow: none;
        color: inherit;
      }
    }
  }
}