.is\:dark {
  --color--disabled: #{shade(20%)};
  --color-bar-link--active: #{shade(50%)};
  --color-bar-link--current: #{shade(60%)};
  --color-bar-link--disabled: #{shade(20%)};
  --color-bar-link--focus: #{shade(50%)};
  --color-bar-link--hover: #{shade(40%)};
  --color-bar-link: #{shade(40%)};
  --color-bar-status: #{shade(65%)};
  --color-button--active: #{shade(95%)};
  --color-button--disabled: #{shade(20%)};
  --color-button--focus: #{shade(95%)};
  --color-button--hover: #{shade(95%)};
  --color-button: #{shade(95%)};
  --color-description: #{shade(50%)};
  --color-input--disabled: #{shade(20%)};
  --color-input--hover: #{shade(70%)};
  --color-input--invalid: #{mix(red, shade(70%), 50%)};
  --color-input: #{shade(70%)};
  --color-link--active: #{shade(50%)};
  --color-link--disabled: #{shade(20%)};
  --color-link--focus: #{shade(50%)};
  --color-link--hover: #{shade(40%)};
  --color-link: #{shade(40%)};
  --color-menu-link--active: #{shade(50%)};
  --color-menu-link--current: #{shade(60%)};
  --color-menu-link--disabled: #{shade(20%)};
  --color-menu-link--focus: #{shade(50%)};
  --color-menu-link--hover: #{shade(40%)};
  --color-menu-link: #{shade(40%)};
  --color-menu-status: #{shade(65%)};
  --color-stack--active: #{shade(70%)};
  --color-stack--current: #{shade(60%)};
  --color-stack--disabled: #{shade(20%)};
  --color-stack--focus: #{shade(70%)};
  --color-stack--hover: #{shade(60%)};
  --color-stack-link--active: #{shade(50%)};
  --color-stack-link--disabled: #{shade(20%)};
  --color-stack-link--focus: #{shade(50%)};
  --color-stack-link--hover: #{shade(40%)};
  --color-stack-link: #{shade(40%)};
  --color-stack: #{shade(60%)};
  --color-status: #{shade(50%)};
  --color-tab--active: #{shade(70%)};
  --color-tab--current: #{shade(60%)};
  --color-tab--disabled: #{shade(20%)};
  --color-tab--focus: #{shade(70%)};
  --color-tab--hover: #{shade(60%)};
  --color-tab-link--active: #{shade(50%)};
  --color-tab-link--disabled: #{shade(20%)};
  --color-tab-link--focus: #{shade(50%)};
  --color-tab-link--hover: #{shade(40%)};
  --color-tab-link: #{shade(40%)};
  --color-tab: #{shade(60%)};
  --color: #{shade(60%)};
  --fill-alert: #{shade(1%)};
  --fill-bar-link--active: #{shade(1%)};
  --fill-bar-link--focus: #{shade(1%)};
  --fill-bar-link--hover: #{shade(1%)};
  --fill-bar-status: #{shade(5%)};
  --fill-button--active: #{darken(shade(30%), 5%)};
  --fill-button--disabled: #{shade(5%)};
  --fill-button--focus: #{lighten(shade(30%), 5%)};
  --fill-button--hover: #{shade(30%)};
  --fill-button: #{shade(30%)};
  --fill-code-block: #{shade(5%)};
  --fill-file-icon: #{shade(0%)};
  --fill-fix: #{shade(4%)};
  --fill-folder-icon: #{shade(40%)};
  --fill-input--active: #{shade(5%)};
  --fill-input--disabled: #{shade(1%)};
  --fill-input--focus: #{shade(5%)};
  --fill-input--hover: #{shade(5%)};
  --fill-input: #{shade(5%)};
  --fill-mark: #{shade(10%)};
  --fill-menu-link--active: #{shade(1%)};
  --fill-menu-link--current: #{shade(2%)};
  --fill-menu-link--focus: #{shade(1%)};
  --fill-menu-link--hover: #{shade(1%)};
  --fill-menu-status: #{shade(5%)};
  --fill-stack--current: none;
  --fill-stack--hover: #{shade(1%)};
  --fill-stack: #{shade(1%)};
  --fill-tab--current: none;
  --fill-tab--hover: #{shade(1%)};
  --fill-tab: #{shade(1%)};
  --fill: #{shade(0%)};
  --stroke--active: #{shade(15%)};
  --stroke--focus-visible: rgba(255, 255, 255, .025);
  --stroke--focus: #{shade(10%)};
  --stroke--hover: #{shade(10%)};
  --stroke-code-block: #{shade(5%)};
  --stroke-file-icon: #{shade(30%)};
  --stroke-fix: #{shade(10%)};
  --stroke-input--active: #{shade(15%)};
  --stroke-input--disabled: #{shade(6%)};
  --stroke-input--focus: #{shade(15%)};
  --stroke-input--hover: #{shade(10%)};
  --stroke-input--invalid: #{mix(red, shade(15%), 50%)};
  --stroke-input: #{shade(10%)};
  --stroke-output: transparent;
  --stroke-stack: #{shade(5%)};
  --stroke-tab: #{shade(5%)};
  --stroke: #{shade(5%)};
  @each $v in (file, folder, page) {
    --fill-#{$v}--active: #{shade(1%)};
    --fill-#{$v}--current: #{shade(2%)};
    --fill-#{$v}--focus: #{shade(1%)};
    --fill-#{$v}--hover: #{shade(1%)};
    --stroke-#{$v}--active: #{shade(1%)};
    --stroke-#{$v}--current: #{shade(2%)};
    --stroke-#{$v}--focus: #{shade(1%)};
    --stroke-#{$v}--hover: #{shade(1%)};
    --stroke-#{$v}: #{shade(0%)};
    // --fill-#{$v}: #{shade(0%)};
  }
  --color-option-picker__option--disabled: var(--color--disabled);
  --color-option-picker__option--selected: var(--color);
  --color-option-picker__option: var(--color);
  --color-tag-picker__tag--disabled: #{shade(60%)};
  --color-tag-picker__tag--read-only: #{shade(60%)};
  --color-tag-picker__tag-x: #{shade(95%)};
  --color-tag-picker__tag: #{shade(75%)};
  --fill-option-picker__option--selected: rgba(255, 255, 255, .025);
  --fill-tag-picker__tag--disabled: #{shade(5%)};
  --fill-tag-picker__tag--focus: #{shade(15%)};
  --fill-tag-picker__tag--read-only: #{shade(8%)};
  --fill-tag-picker__tag--selected: #{shade(15%)};
  --fill-tag-picker__tag: #{shade(10%)};
  @each $v in (hover, focus, active) {
    --color-option-picker__option--#{$v}: var(--color);
    --fill-option-picker__option--#{$v}: rgba(255, 255, 255, .05);
  }
  blockquote,
  caption,
  figcaption,
  .description {
    color: var(--color-description);
  }
  .lot\:menu {
    a {
      &:focus,
      &:hover,
      &:active {
        --fill-menu-link--current: #{shade(3%)};
      }
    }
  }
  .is\:folder {
    &::after {
      --fill-folder-icon: #{darken(shade(40%), 15%)};
    }
  }
  @each $v in (file, folder, page) {
    .lot\:#{$v} {
      &:hover,
      &:active {
        --fill-#{$v}--current: #{shade(3%)};
        --stroke-#{$v}--current: #{shade(3%)};
      }
    }
  }
}