$base: #222;
$mix: #fff;

@function shade($percent: 0%) {
  @return mix($mix, $base, $percent);
}

:root {
  --color-code-block: inherit;
  --color-fix: inherit;
  --color-mark: inherit;
  --color-output: inherit;
}

[pattern],
[required] {
  &:focus:invalid {
    --stroke--focus-visible: rgba(255, 0, 0, .125);
  }
}

.lot\:cards,
.lot\:files,
.lot\:folders,
.lot\:pages {
  .lot\:tasks {
    gap: 0;
    > * {
      .title {
        svg {
          + span {
            display: none; // Remove title
          }
        }
      }
    }
  }
}

@import './_dark.scss';
@import './_light.scss';