@mixin appearance($appearance: none) {
  -webkit-appearance: $appearance;
  -moz-appearance: $appearance;
  appearance: $appearance;
}

@mixin placeholder($opacity: 1, $color: inherit) {
  color: $color;
  opacity: $opacity;
}

@mixin transform($value) {
  -webkit-transform: $value;
  -moz-transform: $value;
  transform: $value;
}

@mixin user-select($select: normal) {
  -webkit-user-select: $select;
  -moz-user-select: $select;
  user-select: $select;
}

:root {
  // Gap
  --x: 24px;
  --y: 24px;
  // Font
  --h: var(--y);
  --z: 16px;
  --font-face-mono: monospace;
  --font-face-sans: sans-serif;
  --font-face-serif: serif;
  --font-face: var(--font-face-sans);
  --font-size: var(--z);
  --font-height: var(--h);
  // Pallete
  --color-alert: #000;
  --color-bar-info: #f00;
  --color-button--active: #fff;
  --color-button--focus: #fff;
  --color-button: #fff;
  --color-code--block: #fff;
  --color-code: #000;
  --color-input--disabled: #999;
  --color-input--invalid: #f00;
  --color-input: #000;
  --color-link--active: #009;
  --color-link--focus: #00c;
  --color-link: #00f;
  --color-mark: #000;
  --color-menu-info: #fff;
  --color-menu-link--active: #009;
  --color-menu-link--focus: #00c;
  --color-menu-link: #00f;
  --color-output: #000;
  --color-tab: #000;
  --color-tab--disabled: #999;
  --color: #000;
  --fill-alert: #ff0;
  --fill-button--active: #009;
  --fill-button--disabled: #999;
  --fill-button--focus: #00c;
  --fill-button: #00f;
  --fill-code--block: #000;
  --fill-input: #fff;
  --fill-input--disabled: #eee;
  --fill-mark: #ff0;
  --fill-menu-info: #f00;
  --fill-output: none;
  --fill-tab--current: none;
  --fill-tab: none;
  --fill: #fff;
  --radius-alert: 0;
  --radius-button: 0;
  --radius-code--block: 0;
  --radius-input: 0;
  --radius-output: 0;
  --shadow-alert: none;
  --shadow-button: none;
  --shadow-code--block: none;
  --shadow-input: none;
  --shadow-menu: 0 1px 5px rgba(0, 0, 0, .25);
  --shadow-output: none;
  --stroke-alert: #000;
  --stroke-button--active: #009;
  --stroke-button--disabled: #999;
  --stroke-button--focus: #00c;
  --stroke-button: #00f;
  --stroke-code--block: #000;
  --stroke-input--active: #009;
  --stroke-input--disabled: #999;
  --stroke-input--focus: #00c;
  --stroke-input--invalid: #f00;
  --stroke-input--read-only: #000;
  --stroke-input: #00f;
  --stroke-output: transparent;
  --stroke-tab: #000;
  --stroke: #000;
}

@import '_/base';
@import '_/form';
@import '_/icon';
@import '_/alert';
@import '_/lot';
@import '_/content';

@import '_/type';

@import '_/media';