$x: 24px;
$y: 24px;

$z: 16px;
$h: $y;

$mono: monospace;
$sans: sans-serif;
$serif: serif;

$color: #000;
$color-back: #fff;
$color-back-button: #00f;
$color-back-mark: #ff0;

$color-button: #fff;

$color-error: #c00;
$color-border-error: #f00;

$color-link: #00f;

@mixin appearance($appearance: none) {
  -webkit-appearance: $appearance;
  -moz-appearance: $appearance;
  appearance: $appearance;
}

@mixin placeholder($opacity: 1, $color: inherit) {
  color: $color;
  opacity: $opacity;
}

@mixin transform($value) {
  -webkit-transform: $value;
  -moz-transform: $value;
  transform: $value;
}

@mixin user-select($select: normal) {
  -webkit-user-select: $select;
  -moz-user-select: $select;
  user-select: $select;
}

@import '_/h';
@import '_/base';
@import '_/form';
@import '_/field';
@import '_/icon';
@import '_/alert';
@import '_/lot';
@import '_/content';

@import '_/media';
