.is\:light {
  @each $type in (file, folder, page) {
    --fill-#{$type}--active: #{shade(98%)};
    --fill-#{$type}--current: #{shade(97%)};
    --fill-#{$type}--focus: #{shade(98%)};
    --fill-#{$type}--hover: #{shade(98%)};
    --stroke-#{$type}--active: #{shade(98%)};
    --stroke-#{$type}--current: #{shade(97%)};
    --stroke-#{$type}--focus: #{shade(98%)};
    --stroke-#{$type}--hover: #{shade(98%)};
    --stroke-#{$type}: #{shade(100%)};
    // --fill-#{$type}: #{shade(100%)};
  }
  --color--disabled: #{shade(65%)};
  --color-bar-info: #{shade(30%)};
  --color-bar-link--active: #{shade(30%)};
  --color-bar-link--current: #{shade(30%)};
  --color-bar-link--disabled: #{shade(75%)};
  --color-bar-link--focus: #{shade(30%)};
  --color-bar-link--hover: #{shade(40%)};
  --color-bar-link: #{shade(40%)};
  --color-button--active: #{shade(100%)};
  --color-button--disabled: #{shade(90%)};
  --color-button--focus: #{shade(100%)};
  --color-button--hover: #{shade(100%)};
  --color-button: #{shade(100%)};
  --color-info: #{shade(50%)};
  --color-input--disabled: #{shade(50%)};
  --color-input--hover: #{shade(20%)};
  --color-input--invalid: #{mix(red, shade(20%), 50%)};
  --color-input: #{shade(20%)};
  --color-link--active: #{shade(30%)};
  --color-link--disabled: #{shade(75%)};
  --color-link--focus: #{shade(30%)};
  --color-link--hover: #{shade(40%)};
  --color-link: #{shade(40%)};
  --color-menu-info: #{shade(30%)};
  --color-menu-link--active: #{shade(30%)};
  --color-menu-link--current: #{shade(30%)};
  --color-menu-link--disabled: #{shade(75%)};
  --color-menu-link--focus: #{shade(30%)};
  --color-menu-link--hover: #{shade(40%)};
  --color-menu-link: #{shade(40%)};
  --color-stack--active: #{shade(30%)};
  --color-stack--current: #{shade(30%)};
  --color-stack--disabled: #{shade(65%)};
  --color-stack--focus: #{shade(30%)};
  --color-stack--hover: #{shade(30%)};
  --color-stack-link--active: #{shade(30%)};
  --color-stack-link--disabled: #{shade(75%)};
  --color-stack-link--focus: #{shade(30%)};
  --color-stack-link--hover: #{shade(40%)};
  --color-stack-link: #{shade(40%)};
  --color-stack: #{shade(30%)};
  --color-tab--active: #{shade(30%)};
  --color-tab--current: #{shade(30%)};
  --color-tab--disabled: #{shade(65%)};
  --color-tab--focus: #{shade(30%)};
  --color-tab--hover: #{shade(30%)};
  --color-tab-link--active: #{shade(30%)};
  --color-tab-link--disabled: #{shade(75%)};
  --color-tab-link--focus: #{shade(30%)};
  --color-tab-link--hover: #{shade(40%)};
  --color-tab-link: #{shade(40%)};
  --color-tab: #{shade(30%)};
  --color: #{shade(30%)};
  --fill-alert: #{shade(98%)};
  --fill-bar-info: #{shade(95%)};
  --fill-bar-link--active: #{shade(98%)};
  --fill-bar-link--focus: #{shade(98%)};
  --fill-bar-link--hover: #{shade(98%)};
  --fill-button--active: #{darken(shade(40%), 5%)};
  --fill-button--disabled: #{shade(60%)};
  --fill-button--focus: #{lighten(shade(40%), 5%)};
  --fill-button--hover: #{shade(40%)};
  --fill-button: #{shade(40%)};
  --fill-code-block: #{shade(95%)};
  --fill-file-icon: #{shade(100%)};
  --fill-fix: #{shade(95%)};
  --fill-folder-icon: #{shade(60%)};
  --fill-input--active: #{shade(90%)};
  --fill-input--disabled: #{shade(95%)};
  --fill-input--focus: #{shade(90%)};
  --fill-input--hover: #{shade(90%)};
  --fill-input: #{shade(90%)};
  --fill-mark: #{shade(90%)};
  --fill-menu-info: #{shade(95%)};
  --fill-menu-link--active: #{shade(98%)};
  --fill-menu-link--current: #{shade(97%)};
  --fill-menu-link--focus: #{shade(98%)};
  --fill-menu-link--hover: #{shade(98%)};
  --fill-stack--current: none;
  --fill-stack--hover: #{shade(98%)};
  --fill-stack: #{shade(98%)};
  --fill-tab--current: none;
  --fill-tab--hover: #{shade(98%)};
  --fill-tab: #{shade(98%)};
  --fill: #{shade(100%)};
  --shadow-button--focus: 0 0 0 3px rgba(0, 0, 0, .05);
  --shadow-input--focus: 0 0 0 3px rgba(0, 0, 0, .05);
  --shadow-input--invalid: 0 0 0 3px rgba(255, 0, 0, .15);
  --shadow-menu: 0 1px 5px rgba(0, 0, 0, .25);
  --stroke-code-block: #{shade(65%)};
  --stroke-file-icon: #{shade(60%)};
  --stroke-fix: #{shade(60%)};
  --stroke-input--active: #{shade(60%)};
  --stroke-input--disabled: #{shade(75%)};
  --stroke-input--focus: #{shade(50%)};
  --stroke-input--hover: #{shade(60%)};
  --stroke-input--invalid: #{mix(red, shade(60%), 50%)};
  --stroke-input: #{shade(60%)};
  --stroke-output: transparent;
  --stroke-stack: #{shade(65%)};
  --stroke-tab: #{shade(65%)};
  --stroke: #{shade(65%)};
  @each $name in (option-picker, tag-picker) {
    --color-#{$name}: var(--color-input);
    --corner-#{$name}: var(--corner-input);
    --fill-#{$name}: var(--fill-input);
    --shadow-#{$name}: var(--shadow-input);
    --stroke-#{$name}: var(--stroke-input);
    @if option-picker == $name {
      --color-#{$name}__option: var(--color-input);
      --color-#{$name}__options--open: var(--color-input);
      --color-#{$name}__options: var(--color-input);
      --fill-#{$name}__option--active: rgba(0, 0, 0, .025);
      --fill-#{$name}__option--focus: rgba(0, 0, 0, .025);
      --fill-#{$name}__option--hover: rgba(0, 0, 0, .025);
      --fill-#{$name}__option--selected: rgba(0, 0, 0, .05);
      --fill-#{$name}__option: none;
      --fill-#{$name}__options: var(--fill-input);
      --stroke-#{$name}__options--open: var(--stroke-input--focus, var(--stroke-input));
      --stroke-#{$name}__options: var(--stroke-input);
      @each $v in (hover, focus, active, selected, disabled) {
        --color-#{$name}__option--#{$v}: var(--color-input--#{$v}, var(--color-input));
      }
      .#{$name}::after {
        --stroke-#{$name}--open: var(--color-#{$name});
        --stroke-#{$name}: var(--color-#{$name});
      }
      .#{$name}__option--selected {
        --fill-#{$name}__option--active: rgba(0, 0, 0, .075);
        --fill-#{$name}__option--focus: rgba(0, 0, 0, .075);
        --fill-#{$name}__option--hover: rgba(0, 0, 0, .075);
      }
    }
    @if tag-picker == $name {
      --color-#{$name}__tag--active: #{shade(35%)};
      --color-#{$name}__tag--disabled: #{shade(50%)};
      --color-#{$name}__tag--focus: #{shade(35%)};
      --color-#{$name}__tag--hover: #{shade(30%)};
      --color-#{$name}__tag--read-only: #{shade(30%)};
      --color-#{$name}__tag--selected: #{shade(30%)};
      --color-#{$name}__tag: #{shade(30%)};
      --fill-#{$name}__tag--active: #{shade(80%)};
      --fill-#{$name}__tag--disabled: #{shade(90%)};
      --fill-#{$name}__tag--focus: #{shade(75%)};
      --fill-#{$name}__tag--hover: #{shade(80%)};
      --fill-#{$name}__tag--read-only: #{shade(80%)};
      --fill-#{$name}__tag--selected: #{shade(75%)};
      --fill-#{$name}__tag: #{shade(80%)};
      @each $v in (focus) {
        .#{$name}--#{$v} {
          // Force #1
          --color-input: var(--color-input--#{$v});
          --fill-input: var(--fill-input--#{$v});
          --shadow-input: var(--shadow-input--#{$v});
          --stroke-input: var(--stroke-input--#{$v});
          // Force #2
          --color-#{$name}: var(--color-input);
          --fill-#{$name}: var(--fill-input);
          --shadow-#{$name}: var(--shadow-input);
          --stroke-#{$name}: var(--stroke-input);
          // Force #3
          @each $v in (hover, focus, active) {
            --color-#{$name}--#{$v}: var(--color-input);
            --fill-#{$name}--#{$v}: var(--fill-input);
            --shadow-#{$name}--#{$v}: var(--shadow-input);
            --stroke-#{$name}--#{$v}: var(--stroke-input);
          }
        }
      }
    }
    @each $v in (hover, focus, active) {
      --color-#{$name}--#{$v}: var(--color-input--#{$v}, var(--color-input));
      --fill-#{$name}--#{$v}: var(--fill-input--#{$v}, var(--fill-input));
      --shadow-#{$name}--#{$v}: var(--shadow-input--#{$v}, var(--shadow-input));
      --stroke-#{$name}--#{$v}: var(--stroke-input--#{$v}, var(--stroke-input));
    }
    .#{$name}__source {
      @each $v in (read-only, disabled) {
        &:#{$v} {
          + .#{$name},
          + .#{$name}--focus {
            --color-#{$name}--#{$v}: var(--color-input--#{$v}, var(--color-input));
            --fill-#{$name}--#{$v}: var(--fill-input--#{$v}, var(--fill-input));
            --shadow-#{$name}--#{$v}: var(--shadow-input--#{$v}, var(--shadow-input));
            --stroke-#{$name}--#{$v}: var(--stroke-input--#{$v}, var(--stroke-input));
          }
        }
      }
    }
  }
  blockquote,
  caption,
  figcaption,
  .description {
    color: #{shade(35%)};
  }
  .lot\:menu {
    a {
      &:focus,
      &:hover,
      &:active {
        --fill-menu-link--current: #{shade(96%)};
      }
    }
  }
  .is\:folder {
    &::after {
      --fill-folder-icon: #{darken(shade(70%), 15%)};
    }
  }
  @each $v in (file, folder, page) {
    .lot\:#{$v} {
      &:hover,
      &:active {
        --fill-#{$v}--current: #{shade(96%)};
        --stroke-#{$v}--current: #{shade(96%)};
      }
    }
  }
}