.lot\:field.type\:blob {
  > label {
    + div,
    + br + div {
      input {
        border: 1px dashed;
        border-color: var(--stroke);
        height: auto;
        line-height: normal;
        padding: var(--y) var(--x);
        @each $v in (hover, focus, active) {
          &:#{$v} {
            border-color: var(--stroke--#{$v}, var(--stroke));
          }
        }
        @each $v in (-ms-browse, -webkit-file-upload-button, file-selector-button) {
          &::#{$v} {
            background: none;
            border: 0;
            color: var(--color-link);
            font: inherit;
            margin: 0;
            margin-inline-end: calc(var(--x) / 2);
            padding: 0;
            @each $w in (hover, focus, active) {
              &:#{$w} {
                color: var(--color-link--#{$w}, var(--color-link));
              }
            }
          }
        }
      }
    }
  }
}