.option-picker {
  height: calc(var(--y) * 1.5);
  line-height: calc((var(--y) * 1.5) - (var(--y) / 2) - 2px); // See `input`
  outline: 0;
  padding: calc(var(--y) / 4) calc(var(--x) / 2);
  width: var(--width-input);
  &--focus {
    @extend :focus-visible;
  }
  &::after {
    right: calc(var(--x) / 2);
  }
  &.has\:width {
    display: flex;
    width: 100%;
  }
  &__options {
    line-height: var(--h);
  }
  &__source {
    + .option-picker {
      margin-left: 0;
    }
    &:not([multiple]) {
      + .option-picker {
        padding-bottom: calc(var(--y) / 4);
        padding-top: calc(var(--y) / 4);
        &--open {
          z-index: 9999; // Buggy! :(
        }
      }
    }
  }
  &__values {
    padding-left: 0;
    padding-right: 0;
  }
}