.lot\:bar {
  background: var(--fill-bar);
  border: 0 solid;
  border-color: var(--stroke-bar);
  border-radius: var(--arc-bar);
  box-shadow: var(--shadow-bar);
  color: var(--color-bar);
  display: flex;
  flex-wrap: wrap;
  line-height: calc(var(--y) * 2);
  .lot\:links {
    > ul,
    > ul > li {
      height: inherit;
      list-style: none;
      margin: 0;
      padding: 0;
      width: auto;
    }
    > ul {
      display: flex;
      height: calc(var(--y) * 2);
      > li {
        > a {
          background: var(--fill-bar-link, var(--fill-link, none));
          color: var(--color-bar-link, var(--color-link));
          display: flex;
          height: inherit;
          overflow: hidden;
          padding: 0 calc(var(--x) * .75);
          position: relative;
          .title {
            .icon {
              &:first-child {
                margin-left: calc(var(--x) / -4);
              }
              &:last-child {
                margin-right: calc(var(--x) / -4);
              }
              &.caret {
                color: var(--color-bar-caret, inherit);
                margin-left: calc(var(--x) / -4);
                margin-right: calc(var(--x) / -4);
              }
            }
            .info {
              background: var(--fill-bar-info);
              border-radius: var(--arc-bar-info);
              box-shadow: var(--shadow-bar-info);
              color: var(--color-bar-info);
              float: right;
              line-height: var(--h);
              margin: calc(var(--y) / 2) 0 0 calc(var(--x) / 4);
              padding: 0 calc(var(--x) / 4);
            }
          }
          @each $v in (hover, focus, active) {
            &:#{$v} {
              background: var(--fill-bar-link--#{$v}, var(--fill-bar-link));
              color: var(--color-bar-link--#{$v}, var(--color-bar-link));
            }
          }
        }
        &.as\:separator {
          background: var(--stroke);
          height: var(--y);
          margin: calc(var(--y) / 2) 0;
          overflow: hidden;
          width: 1px;
          &:first-child,
          &:last-child {
            display: none;
          }
        }
        &.is\:current {
          > a {
            background: var(--fill-bar-link--current, none);
            color: var(--color-bar-link--current, inherit);
          }
        }
        &.not\:active {
          > a {
            background: var(--fill-bar-link--disabled, none);
            color: var(--color-bar-link--disabled, inherit);
          }
        }
      }
    }
    &.of\:links {
      flex: 1;
    }
  }
  .lot\:field {
    height: inherit;
    margin: 0;
    padding: 0;
    width: auto;
    > label {
      + div {
        margin-top: 0;
        > div {
          display: block;
        }
      }
    }
    input {
      border: 0;
      box-shadow: none;
      display: block;
      height: calc(var(--y) * 2);
      line-height: calc(var(--y) * 2);
      margin: 0;
      padding: 0 calc(var(--x) / 1.5);
      width: calc(var(--x) * 8);
    }
    label {
      display: none;
    }
    > * {
      margin-left: 0;
      margin-right: 0;
    }
  }
  > .description,
  > .title {
    line-height: inherit;
    margin: 0;
    padding: 0 calc(var(--x) * .75);
  }
  > .title {
    font-size: 100%;
    font-weight: bold;
  }
}