.lot\:card {
  @extend .lot\:page;
  flex-direction: column;
  width: var(--width-card, calc(var(--x) * 10));
  > div {
    min-height: 0;
    + div {
      margin-top: calc(var(--y) / 2);
    }
    > .image {
      height: calc(var(--x) * 10 - var(--x));
      min-height: calc(var(--x) * 10 - var(--x));
      min-width: 100%;
      width: 100%;
    }
    > .description,
    > .title {
      white-space: normal;
      word-wrap: break-word;
    }
    > .title {
      .title {
        > span {
          white-space: normal;
          word-wrap: break-word;
        }
      }
    }
  }
}