.lot\:page {
  @extend .lot\:file;
  background: var(--fill-page, var(--fill-file, none));
  border-color: var(--stroke-page, var(--stroke-file, transparent));
  border-radius: var(--arc-page, var(--arc-file));
  box-shadow: var(--shadow-page, var(--shadow-file));
  padding: calc(var(--y) / 2) calc(var(--x) / 4);
  @each $v in (focus, hover, active) {
    &:#{$v} {
      background: var(--fill-page--#{$v}, var(--fill-page));
      border-color: var(--stroke-page--#{$v}, var(--stroke-page));
      box-shadow: var(--shadow-page--#{$v}, var(--shadow-page));
    }
  }
  &.is\:current {
    background: var(--fill-page--current, var(--fill-page));
    border-color: var(--stroke-page--current, var(--stroke-page));
    box-shadow: var(--shadow-page--current, var(--shadow-page));
  }
  > * {
    margin: 0 calc(var(--x) / 4);
  }
  > div {
    min-height: calc(var(--y) * 2.25);
    &:first-child {
      + div {
        flex: 1;
      }
    }
    > .title {
      display: block;
      font-size: calc(var(--z) * 1.25);
    }
  }
  .description {
    margin: calc(var(--y) / 4) 0 0;
  }
  .image {
    display: block;
    height: calc(var(--y) * 2.25);
    max-height: calc(var(--y) * 2.25);
    max-width: calc(var(--y) * 2.25);
    min-height: 0;
    min-width: 0;
    width: calc(var(--y) * 2.25);
  }
  &.is\:file,
  &.is\:folder {
    padding-left: calc(var(--x) / 4);
    &::before,
    &::after {
      display: none;
    }
  }
}