.lot\:proxy {
  background: var(--fill-proxy, var(--fill));
  border: 0 solid;
  border-color: var(--stroke-proxy, var(--stroke));
  bottom: 0;
  box-shadow: var(--shadow-proxy, 0 2px 10px black);
  display: flex;
  flex-direction: column;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 9999;
  > footer {
    background: var(--fill-stack); // TODO
    display: flex;
    padding: calc(var(--y) / 1.5) calc(var(--x) / 1.5);
    > .lot\:tasks {
      margin-left: auto;
    }
  }
  > header {
    border: 0 solid;
    border-color: var(--stroke-proxy, var(--stroke));
    display: flex;
    height: calc(var(--y) * 2);
    line-height: calc(var(--y) * 2);
    padding: 0 calc(var(--x) / 2);
    > .title {
      flex: 1;
      padding: 0 calc(var(--x) / 6);
    }
  }
  > header + div,
  > div:first-child {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  &.has\:gap {
    margin: var(--y) var(--x);
  }
  &.has\:modal {
    + .with\:modal {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 9998;
      background: var(--fill-overlay, rgba(0, 0, 0, .5));
    }
  }
  &:not(.has\:width) {
    margin-left: auto;
    margin-right: auto;
    max-width: calc(var(--x) * 36);
  }
  .busy {
    animation: busy 1s linear infinite alternate;
    margin: auto;
    opacity: 1;
    padding: 0;
  }
}

@keyframes busy {
  to {
    opacity: 0;
  }
}