.lot\:bar {
  background: var(--fill-bar, none);
  color: var(--color-bar, inherit);
  display: flex;
  flex-wrap: wrap;
  line-height: calc(var(--y) * 2);
  .lot\:links {
    > ul,
    > ul > li {
      height: inherit;
      list-style: none;
      margin: 0;
      padding: 0;
      width: auto;
    }
    > ul {
      display: flex;
      height: calc(var(--y) * 2);
      > li {
        .title {
          small {
            color: var(--color-bar-info);
            float: right;
            margin-left: calc(var(--x) / 4);
          }
          > .icon {
            &:first-child {
              margin-left: calc(var(--x) / -4);
            }
            &:last-child {
              margin-right: calc(var(--x) / -4);
            }
            &.caret {
              margin-left: calc(var(--x) / -4);
              margin-right: calc(var(--x) / -4);
            }
          }
        }
        &.is\:separator {
          background: var(--stroke);
          height: var(--y);
          margin: calc(var(--y) / 2) 0;
          overflow: hidden;
          width: 1px;
          &:first-child,
          &:last-child {
            display: none;
          }
        }
        > a {
          background: var(--fill-bar-link, var(--fill-link, none));
          color: var(--color-bar-link, var(--color-link));
          display: flex;
          height: inherit;
          overflow: hidden;
          padding: 0 calc(var(--x) * .75);
          $states: hover, focus, active;
          @each $state in $states {
            &:#{$state} {
              background: var(--fill-bar-link--#{$state}, var(--fill-bar-link, var(--fill-link--#{$state}, var(--fill-link, none))));
              color: var(--color-bar-link--#{$state}, var(--color-bar-link, var(--color-link--#{$state}, var(--color-link))));
            }
          }
        }
        &.is\:active,
        &.is\:current {
          > a {
            background: var(--fill-bar-link--current, none);
            color: var(--color-bar-link--current, inherit);
          }
        }
      }
    }
    &.of\:links {
      flex: 1;
    }
  }
  .lot\:field {
    height: inherit;
    margin: 0;
    padding: 0;
    width: auto;
    > label {
      + div,
      + br + div {
        margin-top: 0;
      }
    }
    .input {
      border: 0;
      display: block;
      height: calc(var(--y) * 2);
      line-height: calc(var(--y) * 2);
      margin: 0;
      padding: 0 calc(var(--x) / 1.5);
      width: calc(var(--x) * 8);
    }
    label {
      display: none;
    }
    > * {
      margin-left: 0;
      margin-right: 0;
    }
  }
  > .description,
  > .title {
    line-height: inherit;
    margin: 0;
    padding: 0 calc(var(--x) * .75);
  }
  > .title {
    font-size: 100%;
    font-weight: bold;
  }
}