.lot\:bar {
  display: flex;
  flex-wrap: wrap;
  line-height: ($y * 2);
  .lot\:links {
    > ul,
    > ul > li {
      margin: 0;
      padding: 0;
      list-style: none;
      width: auto;
      height: inherit;
      .title {
        small {
          float: right;
          margin-left: ($x / 4);
        }
      }
    }
    > ul {
      display: flex;
      height: ($y * 2);
      > li {
        &.is\:active,
        &.is\:current {
          > a {
            color: inherit;
          }
        }
        &.is\:separator {
          width: 1px;
          height: $y;
          background: $color;
          margin: ($y / 2) 0;
          overflow: hidden;
          &:first-child,
          &:last-child {
            display: none;
          }
        }
        > a {
          display: flex;
          height: inherit;
          padding: 0 ($x * .75);
          overflow: hidden;
        }
      }
    }
    &.of\:links {
      flex: 1;
    }
  }
  .lot\:field {
    margin: 0;
    padding: 0;
    width: auto;
    height: inherit;
    .input {
      display: block;
      width: ($x * 8);
      height: ($y * 2);
      line-height: ($y * 2);
      margin: 0;
      padding: 0 ($x / 1.5);
      border: 0;
    }
    label {
      display: none;
    }
    > * {
      margin-right: 0;
      margin-left: 0;
    }
  }
  > .title,
  > .description {
    margin: 0;
    padding: 0 ($x * .75);
    line-height: inherit;
  }
  > .title {
    font-size: 100%;
    font-weight: bold;
  }
}
