.lot\:field {
  display: flex;
  gap: 0 var(--x);
  .description {
    display: block;
    font-size: calc(var(--z) * .75);
    line-height: calc(var(--y) / 1.5);
    margin: calc(var(--y) / 3) 0 0;
    code {
      font-size: calc(var(--z) * .65);
    }
  }
  > label {
    display: block;
    overflow: hidden;
    padding: calc(var(--y) / 4) 0;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: calc(var(--x) * 5);
    + br {
      display: none;
    }
    + div,
    + br + div {
      display: block;
      flex: 1;
      min-width: 0; // <https://stackoverflow.com/a/66689926/1163000>
      position: relative;
      .lot\:f {
        display: inline-flex;
        position: relative;
        &.width {
          display: flex;
        }
        > * {
          + * {
            margin-left: -1px;
          }
        }
        > .width {
          flex: 1;
          min-width: 0; // <https://stackoverflow.com/a/66689926/1163000>
          width: auto;
        }
        > .button,
        > .options > .button {
          background: none;
          border-width: 1px;
          color: inherit;
          line-height: calc(var(--h) - 2); // $h - (border-top-width + border-bottom-width)
          &:focus,
          &:active {
            color: inherit;
          }
        }
        .fix {
          @include user-select(none);
          background: var(--fill-input);
          border: 1px solid var(--stroke-input);
          color: var(--color-output);
          cursor: default;
          display: inline-block;
          height: calc(var(--y) * 1.5);
          line-height: calc((var(--y) * 1.5) - (var(--y) / 2) - 2px);
          max-width: 50%;
          min-width: 0;
          overflow: hidden;
          padding: calc(var(--y) / 4) calc(var(--x) / 2);
          position: relative;
          text-align: left;
          text-overflow: ellipsis;
          vertical-align: middle;
          white-space: nowrap;
          width: auto;
          z-index: 0;
          &.icon {
            min-width: calc(var(--x) * 1.5);
            padding: calc((var(--y) / 6) + 1px) 0; // (($y / 6) + border-y-width) 0
            width: calc(var(--x) * 1.5);
          }
        }
      }
      .options {
        display: flex;
        padding: calc(var(--y) / 4) 0;
      }
    }
  }
}

@import 'field/buttons';
@import 'field/colors';
@import 'field/item';
@import 'field/items';
@import 'field/option';
@import 'field/query';
@import 'field/toggle';