.lot\:field {
  display: flex;
  gap: 0 $x;
  .description {
    display: block;
    font-size: ($z * .75);
    line-height: ($y / 1.5);
    margin: ($y / 3) 0 0;
    code {
      font-size: ($z * .65);
    }
  }
  .output {
    display: inline-block;
    vertical-align: middle;
    border: 0;
    background: none;
    color: inherit;
    width: auto;
    height: auto;
    font: inherit;
    line-height: $h;
    padding: ($y / 4) 0;
    text-align: inherit;
    position: relative;
    z-index: 0;
    &.width {
      width: 100%;
    }
  }
  > label {
    display: block;
    width: ($x * 5);
    padding: ($y / 4) 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: right;
    + br {
      display: none;
    }
    + div,
    + br + div {
      display: block;
      flex: 1;
      position: relative;
      .lot\:f {
        display: inline-flex;
        position: relative;
        * {
          + * {
            margin-left: -1px;
          }
        }
        &.width {
          display: flex;
        }
        .fix {
          @extend .input;
          background: none;
          width: auto;
          max-width: 50%;
          cursor: default;
          white-space: nowrap;
          text-overflow: ellipsis;
          @include user-select(none);
          &.icon {
            width: ($x * 1.5);
            padding: (($y / 6) + 1) 0; // (($y / 6) + border-y-width) 0
          }
        }
        .button {
          background: none;
          color: inherit;
          border-width: 1px;
          line-height: ($h - 2); // $h - (border-top-width + border-bottom-width)
          &:focus,
          &:active {
            background: rgba(0, 0, 0, .05);
            color: inherit;
          }
        }
        .lot\:f {
          .button {
            + .button {
              margin-left: -1px;
            }
          }
        }
      }
      .options {
        display: flex;
        padding: ($y / 4) 0;
      }
    }
  }
}

@import 'field/buttons';
@import 'field/colors';
@import 'field/item';
@import 'field/items';
@import 'field/option';
@import 'field/query';
@import 'field/toggle';
