.lot\:files {
  display: block;
  list-style: none;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  h3,
  p {
    font: inherit;
    margin: 0;
    padding: 0;
  }
  h3 {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    a {
      &.not\:active {
        opacity: 1;
      }
    }
    .title {
      display: inline-flex;
      vertical-align: middle;
    }
  }
  &.count\:0 {
    display: none;
  }
}

.lot\:folders {
  @extend .lot\:files;
}