.lot\:file {
  border: 0 solid var(--fill);
  display: flex;
  list-style: none;
  margin: 0 calc(var(--x) / -4);
  overflow: hidden;
  padding: calc(var(--y) / 4) calc(var(--x) / 2);
  position: relative;
  &::before,
  &::after {
    content: "";
    display: block;
    height: var(--y);
    left: calc(var(--x) / 4);
    position: absolute;
    top: calc(var(--y) / 4);
    width: var(--x);
  }
  > * {
    margin: 0 calc(var(--x) / 8);
  }
  > .lot\:tasks {
    margin-right: calc(var(--x) / -4);
  }
  &.not\:active {
    opacity: .5;
  }
}

.lot\:folder {
  @extend .lot\:file;
}

.is\:file,
.is\:folder {
  padding-left: calc(var(--x) * 1.75);
}

.is\:file {
  &::before {
    border: 1px solid var(--stroke);
    width: 20px; // Magic :(
  }
  &::after {
    border: 3px solid var(--stroke); // Magic :(
    border-right-color: inherit;
    border-top-color: inherit;
    height: 0;
    left: 20px; // Magic :(
    width: 0;
  }
}

.is\:folder {
  &::before {
    background: var(--color);
    height: 18px;
    top: 11px;
  }
  &::after {
    background: var(--color);
    height: 3px;
    top: 7px;
    width: 12px;
  }
}