.lot\:menu {
  background: var(--fill-menu, var(--fill));
  border-radius: var(--corner-menu);
  color: var(--color-menu);
  height: auto;
  line-height: var(--y);
  width: var(--width-menu);
  .lot\:menu {
    box-shadow: var(--shadow-menu);
    display: none;
    left: 100%;
    margin: 0;
    position: absolute;
    top: 0;
    z-index: 9998;
  }
  > ul,
  > li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  > ul {
    > li {
      display: flex;
      position: relative;
      &:hover {
        > a {
          background: var(--fill-menu-link--hover, var(--fill-menu-link));
          color: var(--color-menu-link--hover, var(--color-menu-link));
        }
        > .lot\:menu {
          display: block;
        }
      }
      > a {
        background: var(--fill-menu-link, var(--fill-link, none));
        color: var(--color-menu-link, var(--color-link));
        display: flex;
        flex: 1;
        padding: calc(var(--y) / 4) calc(var(--x) / 2);
        .title {
          flex: 1;
          .icon {
            &:first-child {
              margin-left: calc(var(--x) / -4);
            }
            &:last-child {
              margin-right: calc(var(--x) / 4);
            }
            &.caret {
              margin-left: calc(var(--x) / -4);
              margin-right: calc(var(--x) / -4);
            }
          }
          .info {
            background: var(--fill-menu-info);
            border-radius: var(--corner-menu-info);
            box-shadow: var(--shadow-menu-info);
            color: var(--color-menu-info);
            float: right;
            margin: 0 calc(var(--x) / -4) 0 0;
            padding: 0 calc(var(--x) / 4);
          }
        }
        @each $v in (hover, focus, active) {
          &:#{$v} {
            background: var(--fill-menu-link--#{$v}, var(--fill-menu-link));
            color: var(--color-menu-link--#{$v}, var(--color-menu-link));
          }
        }
        &:focus {
          + ul {
            display: block;
          }
        }
      }
      &.as\:separator {
        background: var(--stroke);
        height: 1px;
        overflow: hidden;
        width: auto;
        &:first-child,
        &:last-child {
          display: none;
        }
      }
      &.is\:current {
        > a {
          background: var(--fill-menu-link--current, none);
          color: var(--color-menu-link--current, inherit);
        }
      }
      &.not\:active {
        > a {
          background: var(--fill-menu-link--disabled, none);
          color: var(--color-menu-link--disabled, inherit);
        }
      }
    }
  }
  > .description {
    @extend .small;
    line-height: calc(var(--y) / 1.5);
    margin: calc(var(--y) / -2) 0 0;
    padding: calc(var(--y) / 2) calc(var(--x) / 2);
  }
  > .title {
    font-size: 100%;
    line-height: inherit;
    padding: calc(var(--y) / 4) calc(var(--x) / 2);
  }
  &.is\:enter {
    display: block;
  }
}

.has\:menu {
  display: inline-flex;
  position: relative;
  .lot\:menu {
    box-shadow: var(--shadow-menu);
    display: none;
    left: 0;
    margin: 0;
    position: absolute;
    top: 100%;
    z-index: 9998;
    &.is\:enter {
      display: block;
    }
    .lot\:menu {
      left: 100%;
      top: 0;
    }
  }
}