.lot\:menu {
  background: var(--fill-menu, var(--fill));
  height: auto;
  line-height: var(--y);
  width: calc(var(--x) * 8);
  .lot\:menu {
    box-shadow: var(--shadow-menu);
    display: none;
    left: 100%;
    margin: 0;
    position: absolute;
    top: 0;
    z-index: 9998;
  }
  ul,
  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  ul {
    li {
      display: flex;
      position: relative;
      .title {
        flex: 1;
        small {
          background: var(--fill-menu-info);
          color: var(--color-menu-info);
          float: right;
          margin-right: calc(var(--x) / -4);
          padding: 0 calc(var(--x) / 4);
        }
        > .icon {
          &:first-child {
            margin-left: calc(var(--x) / -4);
          }
          &:last-child {
            margin-right: calc(var(--x) / 4);
          }
          &.caret {
            margin-left: calc(var(--x) / -4);
            margin-right: calc(var(--x) / -4);
          }
        }
      }
      &.is\:separator {
        background: var(--stroke);
        height: 1px;
        overflow: hidden;
        width: auto;
        &:first-child,
        &:last-child {
          display: none;
        }
      }
      &.is\:current {
        > a {
          color: var(--color-menu-link--current, inherit);
        }
      }
      &:hover {
        > a {
          background: var(--fill-menu-link--hover, var(--fill-menu-link, var(--fill-link, none)));
          color: var(--color-menu-link--hover, var(--color-menu-link, var(--color-link--hover, var(--color-link))));
        }
        > .lot\:menu {
          display: block;
        }
      }
    }
  }
  a {
    background: var(--fill-menu-link, var(--fill-link, none));
    color: var(--color-menu-link, var(--color-link));
    display: flex;
    flex: 1;
    padding: calc(var(--y) / 4) calc(var(--x) / 2);
    $states: hover, focus, active;
    @each $state in $states {
      &:#{$state} {
        background: var(--fill-menu-link--#{$state}, var(--fill-menu-link, var(--fill-link--#{$state}, var(--fill-link, none))));
        color: var(--color-menu-link--#{$state}, var(--color-menu-link, var(--color-link--#{$state}, var(--color-link))));
      }
    }
    &:focus {
      + ul {
        display: block;
      }
    }
  }
}

.has\:menu {
  display: inline-flex;
  position: relative;
  .lot\:menu {
    box-shadow: var(--shadow-menu);
    display: none;
    left: 0;
    margin: 0;
    position: absolute;
    top: 100%;
    z-index: 9998;
    .lot\:menu {
      left: 100%;
      top: 0;
    }
    &.is\:enter {
      display: block;
    }
  }
}