.lot\:page {
  @extend .lot\:file;
  background: var(--fill-page, var(--fill-file, var(--fill)));
  border-color: var(--stroke-page, var(--stroke-file, var(--fill)));
  border-radius: var(--radius-page, var(--radius-file));
  box-shadow: var(--shadow-page, var(--shadow-file));
  margin: 0 calc(var(--x) / -2);
  padding: calc(var(--y) / 2) calc(var(--x) / 4);
  $states: focus, hover, active;
  @each $state in $states {
    &:#{$state} {
      background: var(--fill-page--#{$state}, var(--fill-page));
      border-color: var(--stroke-page--#{$state}, var(--stroke-page));
      box-shadow: var(--shadow-page--#{$state}, var(--shadow-page));
    }
  }
  &.is\:current {
    background: var(--fill-page--current, var(--fill-page));
    border-color: var(--stroke-page--current, var(--stroke-page));
    box-shadow: var(--shadow-page--current, var(--shadow-page));
  }
  > * {
    margin: 0 calc(var(--x) / 4);
  }
  > div {
    min-height: calc(var(--y) * 2.25);
    &:first-child {
      + div {
        flex: 1;
      }
    }
  }
  h3 {
    font-size: calc(var(--z) * 1.25);
  }
  img,
  .img {
    display: block;
    height: calc(var(--y) * 2.25);
    max-height: calc(var(--y) * 2.25);
    max-width: calc(var(--y) * 2.25);
    min-height: 0;
    min-width: 0;
    width: calc(var(--y) * 2.25);
  }
  .description {
    margin: calc(var(--y) / 4) 0 0;
  }
  &.is\:file,
  &.is\:folder {
    padding-left: calc(var(--x) / 4);
    &::before,
    &::after {
      display: none;
    }
  }
}