.lot\:stack {
  background: var(--fill-stack, none);
  border: 1px solid;
  border-color: var(--stroke-stack, var(--stroke));
  border-radius: var(--arc-stack);
  box-shadow: var(--shadow-stack);
  margin: 0;
  position: relative;
  @each $v in (focus, hover, active) {
    &:#{$v} {
      background: var(--fill-stack--#{$v}, var(--fill-stack));
      border-color: var(--stroke-stack--#{$v}, var(--stroke-stack));
      box-shadow: var(--shadow-stack--#{$v}, var(--shadow-stack));
    }
  }
  > h3 {
    @include user-select(none);
    color: var(--color-stack);
    font: inherit;
    > a {
      color: inherit;
      cursor: pointer;
      display: block;
      position: relative;
      @each $v in (hover, focus, active) {
        &:#{$v} {
          color: var(--color-stack--#{$v}, var(--color-stack));
        }
      }
      .title {
        display: flex;
        padding: calc((var(--y) / 2) - ((var(--h) - var(--z)) / 2)) calc(var(--y) / 2);
        .icon {
          margin: 0 calc(var(--z) / -4);
          &:first-child {
            margin-right: calc(var(--z) / 4);
          }
          &:last-child {
            margin-left: calc(var(--z) / 4);
          }
          &:only-child {
            margin-left: calc(var(--z) / -4);
            margin-right: calc(var(--z) / -4);
          }
        }
      }
    }
  }
  > .content,
  > .lot {
    display: none;
    padding: calc((var(--y) / 2) - ((var(--h) - var(--z)) / 2)) calc(var(--y) / 2);
  }
  &.has\:link {
    > h3 {
      color: var(--color-stack-link, var(--color-stack));
      > a {
        @each $v in (hover, focus, active) {
          &:#{$v} {
            color: var(--color-stack-link--#{$v}, var(--color-stack-link));
          }
        }
      }
    }
  }
  &.is\:current {
    background: var(--fill-stack--current, var(--fill-stack));
    border-color: var(--stroke-stack--current, var(--stroke-stack));
    box-shadow: var(--shadow-stack--current, var(--shadow-stack));
    > .content,
    > .lot {
      border-top: 1px solid;
      border-top-color: inherit;
      display: block;
    }
    &:not(.can\:toggle) {
      > h3 {
        > a {
          cursor: inherit;
        }
      }
    }
  }
  &.not\:active {
    > h3 {
      > a {
        color: var(--color-stack--disabled, var(--color-stack));
        cursor: not-allowed;
      }
    }
  }
  &:first-of-type {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  &:last-of-type {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  + .lot\:stack {
    margin-top: -1px;
    &:not(:last-of-type) {
      border-radius: 0;
    }
  }
}