.lot\:tabs {
  .lot\:links {
    ul,
    li {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
    }
    ul {
      flex-wrap: wrap;
    }
    li {
      @include user-select(none);
      color: var(--color-tab);
      position: relative;
      a {
        color: inherit;
        display: flex;
        $states: hover, focus, active;
        @each $state in $states {
          &:#{$state} {
            color: var(--color-tab--#{$state}, var(--color-tab));
          }
        }
      }
      &.has\:link {
        color: var(--color-tab-link, var(--color-tab));
        > a {
          $states: hover, focus, active;
          @each $state in $states {
            &:#{$state} {
              color: var(--color-tab-link--#{$state}, var(--color-tab-link));
            }
          }
        }
      }
      &.is\:current {
        color: var(--color-tab--current, var(--color-tab));
      }
      &.not\:active {
        color: var(--color-tab--disabled, var(--color-tab));
        > a {
          $states: hover, focus, active;
          @each $state in $states {
            &:#{$state} {
              color: inherit;
            }
          }
        }
      }
    }
    .title {
      .icon {
        margin: 0 calc(var(--z) / -2);
        &:first-child {
          margin-right: calc(var(--z) / 4);
        }
        &:last-child {
          margin-left: calc(var(--z) / 4);
        }
        &:only-child {
          margin-left: calc(var(--z) / -2);
          margin-right: calc(var(--z) / -2);
        }
      }
    }
  }
  &.count\:0 {
    display: none;
  }
  &.count\:1 {
    .lot\:links {
      display: none;
    }
    .lot\:tab {
      margin-top: 0;
    }
  }
}