.lot\:tabs {
  .lot\:links {
    ul,
    li {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
    }
    ul {
      flex-wrap: wrap;
      overflow: hidden;
    }
    li {
      position: relative;
      &.not\:active {
        background: var(--fill-tab--disabled, var(--fill-tab));
        border-color: var(--stroke-tab--disabled, var(--stroke-tab));
        color: var(--color-tab--disabled, var(--color-tab));
      }
    }
    a {
      display: flex;
    }
    .title {
      .icon {
        margin: 0 calc(var(--z) / -2);
        &:first-child {
          margin-right: calc(var(--z) / 4);
        }
        &:last-child {
          margin-left: calc(var(--z) / 4);
        }
        &:only-child {
          margin-left: calc(var(--z) / -2);
          margin-right: calc(var(--z) / -2);
        }
      }
    }
  }
  &.count\:0 {
    display: none;
  }
  &.count\:1 {
    .lot\:links {
      display: none;
    }
    .lot\:tab {
      margin-top: 0;
    }
  }
}