.lot\:tabs {
  .lot\:links {
    ul,
    li {
      display: flex;
      margin: 0;
      padding: 0;
      list-style: none;
    }
    ul {
      overflow: hidden;
    }
    li {
      position: relative;
      &.not\:active {
        opacity: 1;
        .not\:active {
          opacity: .5;
        }
      }
    }
    a {
      display: flex;
    }
    .title {
      .icon {
        margin: 0 (-($z / 2));
        &:first-child {
          margin-right: ($z / 4);
        }
        &:last-child {
          margin-left: ($z / 4);
        }
        &:only-child {
          margin-right: (-($z / 2));
          margin-left: (-($z / 2));
        }
      }
    }
  }
  &.count\:0 {
    display: none;
  }
  &.count\:1 {
    .lot\:links {
      display: none;
    }
    .lot\:tab {
      margin-top: 0;
    }
  }
}
