@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i,700,700i|Roboto+Mono:400,400i,700,700i');
html {
  font-family:"Roboto Condensed",Helmet,FreeSans,sans-serif;
  background:#000;
  color:#fff;
  border-bottom:4px solid transparent;
  min-height:100%;
}
body {
  background:#fff;
  color:#000;
}
a {color:#00a}
a:focus,
a:active {color:#a00}
code,.code {
  font-family:"Roboto Mono","Courier New",Courier,"Nimbus Mono L",monospace;
  font-size:85%;
}
pre {
  background:#000;
  color:#bbb;
  padding:1em;
  line-height:1;
  font-size:86%;
}
fieldset {border-style:solid}
.table {background:#fff}
.table th {background:#fea}
.button,
.input,
.select,
.textarea {
  background:#fff;
  border-color:inherit;
  box-shadow:inset 0 1px 2px rgba(0,0,0,.25);
}
.select option[value=""] {color:#f00}
.button {
  background:#00a;
  color:#fff;
  box-shadow:0 1px 2px rgba(0,0,0,.25);
}
.button:focus,
.button:active {
  background:#a00;
  color:#fff;
}
.button.x,
.button[disabled] {background:#666}
.input:focus:invalid,
.textarea:focus:invalid {box-shadow:inset 0 1px 2px rgba(0,0,0,.25),0 0 2px #f00}
.input[type="checkbox"],
.input[type="color"],
.input[type="file"],
.input[type="radio"],
.input[type="range"],
.input[readonly],
.textarea[readonly] {box-shadow:none}
.m {background:#ffa}
.m .m-button {border-color:#ee9}
.m .page {box-shadow:inset 0 -4px 0 #eec,0 1px 2px rgba(0,0,0,.25)}
.m .page figure {background:#ffc}
.m .page.is-parent {
  border-color:inherit;
  box-shadow:inset 0 -4px 0 #cde,0 1px 2px rgba(0,0,0,.25);
}
.m .page.as-,
.m .page.is-active {
  border-color:inherit;
  box-shadow:inset 0 -4px 0 #fdc,0 1px 2px rgba(0,0,0,.25);
}
.m .file {box-shadow:0 1px 2px rgba(0,0,0,.25)}
.n ul {
  background:#000;
  color:#fff;
  border-color:#abc;
}
.n a i {
  background:#d00;
  color:#fff;
}
.n a:focus,
.n a:active {color:#def}
.n .is-current a,
.n .is-current a:focus,
.n .is-current a:hover {
  background:none;
  border-color:#fba;
}
.n ul + span {color:#fff}
.s-setting {background:#fea}
.i-d {background:#89a}
.i-f:before {border-color:#89a}
.i-f:after {
  border-bottom-color:#89a;
  border-left-color:#89a;
}
.s .input,
.s .select,
.s .textarea {background-color:#afa}
.h {
  background:#fea;
  border-top:1px solid #ed9;
}
.f + .h {
  background:none;
  border:0;
  color:#a65;
}
.message {background:#ee8}
.p-enter {background:#ffa}
.p-enter body,
.p-enter .m {background:none}
.p-404 {background:#ffa}
.p-404 body {background:none}