.tags {font:inherit}
.tags-output span,
.tags-input + span {
  padding-top:0;
  padding-bottom:0;
  border-radius:0;
}
.input.tags {
  height:auto;
  min-height:2.1538461538461537em;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}
.input.tags .tags-input {
  padding:0 .25em;
  margin:0;
}
.input.tags .tag {
  padding:0 .35em 0 .25em;
  box-shadow:0 1px 2px rgba(0,0,0,.25);
}
.input.tags .tag a {font-family:Arial,sans-serif}