[role='alert'] {
  background: var(--fill-alert);
  border: 0 solid;
  border-color: var(--stroke-alert);
  border-radius: var(--arc-alert);
  box-shadow: var(--shadow-alert);
  color: var(--color-alert);
  padding: calc(var(--z) * .75) calc(var(--z) * 1.25);
  .lot\:tasks {
    float: right;
    margin-right: calc(var(--x) / -4);
  }
  + [role='alert'] {
    margin-top: calc(var(--y) / 2);
  }
}