$base: #222;
$mix: #fff;

@function shade($percent: 0%) {
  @return mix($mix, $base, $percent);
}

:root {
  --color-code-block: inherit;
  --color-fix: inherit;
  --color-mark: inherit;
  --color-output: inherit;
  --shadow-option-picker__options: 0 1px 4px rgba(0, 0, 0, .25);
}

.lot\:cards,
.lot\:files,
.lot\:folders,
.lot\:pages {
  .lot\:tasks {
    gap: 0;
    > * {
      .title {
        span {
          display: none; // Remove title
        }
      }
    }
  }
}

.has\:menu {
  .lot\:menu {
    > .description,
    > .title {
      display: none; // Remove description and title
    }
  }
}

.lot\:menu {
  .lot\:menu {
    > .description,
    > .title {
      display: none; // Remove description and title
    }
  }
}

@import '_dark';
@import '_light';