html {
  font-family: "Roboto Condensed", Roboto, sans-serif;
  background: #fff;
  color: #000;
}
a {
  color: #009;
}
a:focus,
a:active {
  color: #900;
}
mark {
  background: #ff0;
}
pre {
  background: #333;
  color: #fff;
}
code,
.code {
  font-family: "Roboto Mono", "Courier New", Courier, "Nimbus Mono L", monospace;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #66a;
}
blockquote,
figcaption,
caption {
  color: #808080;
}
.alert p {
  background: #eee;
  padding: 12px 18px;
}
.alert .error {
  background: #fcc;
  color: inherit;
}
.alert .info {
  background: #ccf;
  color: inherit;
}
.alert .success {
  background: #cfc;
  color: inherit;
}
.button,
.input,
.select,
.textarea {
  background: #ffa;
  color: #000;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .25);
}
.button {
  background: #009;
  color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .25);
}
.button:focus,
.button:active {
  background: #900;
  color: #fff;
}
.input[disabled],
.input.not\:active,
.select[disabled],
.select [disabled],
.select.not\:active,
.select .not\:active,
.textarea[disabled],
.textarea.not\:active {
  background: #ffd;
  color: #999;
  opacity: 1;
}
.select [disabled],
.select .not\:active {
  background: #fff;
}
.button[disabled],
.button.not\:active {
  background: #bfbfe5; /* opacity: .25 */
  opacity: 1;
  box-shadow: none;
}
.button.is\:text {
  background: none;
  border: 0;
  color: #009;
  border-radius: 0;
  box-shadow: none;
}
.button.is\:text:focus,
.button.is\:text:active {
  background: none;
  color: #900;
  border-radius: 0;
  box-shadow: none;
}
.button.is\:text[disabled],
.button.is\:text.not\:active {
  color: #bfbfe5; /* opacity: .25 */
}
.input[readonly],
.select[readonly],
.textarea[readonly] {
  box-shadow: none;
}
.input:focus:invalid,
.textarea:focus:invalid {
  color: #f00;
  border-color: #f00;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .25), 0 0 0 2px rgba(255, 0, 0, .25);
}
.input[pattern]:focus:valid,
.textarea[pattern]:focus:valid,
.input[required]:focus:valid,
.textarea[required]:focus:valid {
  color: #090;
  border-color: #090;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .25), 0 0 0 2px rgba(0, 153, 0, .25);
}
.input[type="file"] {
  box-shadow: none;
}
.select optgroup,
.select option {
  background: #fff;
}
.input[type="checkbox"],
.input[type="color"],
.input[type="image"],
.input[type="radio"],
.input[type="range"] {
  background: none;
  border: 0;
  padding: 0;
  box-shadow: none;
}
.description {
  color: #888;
}
.field.is\:required > label > span::before {
  color: #f00;
}
.input.is\:plain {
  background: none;
  border: 0;
  box-shadow: none;
}
.lot\:bar {
  background: #1a1a1a;
  color: #ccc;
}
.lot\:bar li.is\:main {
  background: #fff;
  color: #000;
}
.lot\:bar li.is\:main > a {
  color: #009;
}
.lot\:bar li.is\:main > a:focus,
.lot\:bar li.is\:main > a:active {
  color: #900;
}
.lot\:bar li.is\:main.is\:active > a {
  background: inherit;
  color: inherit;
  position: relative;
  z-index: 9999; /* Must be greater than the `.lot:menu` index to hide the top shadow from its drop menu */
}
.lot\:bar > ul > li.is\:separator {
  background: #222;
}
.lot\:bar > ul > li > a {
  color: #ddd;
}
.lot\:bar > ul > li > a > .title svg.caret {
  color: #777;
}
.lot\:bar > ul > li > a:hover > .title svg.caret,
.lot\:bar > ul > li > a:focus > .title svg.caret {
  color: #999;
}
.lot\:bar .field .input {
  background: #000;
  color: #fff;
}
.lot\:bar > ul > li > a:focus,
.lot\:bar > ul > li > a:active,
.lot\:bar > ul > li.is\:active > a {
  color: #fafafa;
}
.lot\:file li {
  background: #fff;
  border: 0 solid #fff;
}
.lot\:file li:focus,
.lot\:file li:hover {
  background: #eef;
  border-color: #eef;
}
.lot\:file .lot\:task > * {
  margin: 0;
}
.lot\:file .lot\:task > * .title span {
  display: none;
}
.lot\:file .is\:active {
  background: #fec;
  border-color: #fec;
}
.lot\:file .is\:file::before {
  background: #fea;
  border-color: #000;
}
.lot\:file .is\:file::after {
  border-color: #000;
  border-top-color: inherit;
  border-right-color: inherit;
}
.lot\:file .is\:folder::before {
  background: #d00;
}
.lot\:file .is\:folder::after {
  border-top-color: #a00;
}
.lot\:input .fix {
  background: #dda;
}
.lot\:input .button {
  background: #bdf;
  box-shadow: none;
}
.lot\:input .button:focus,
.lot\:input .button:active {
  background: #cef;
}
.lot\:menu,
.lot\:menu ul {
  background: #fff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .05), 0 4px 8px rgba(0, 0, 0, .25);
}
.lot\:menu li.is\:current > a {
  background: #d00;
  color: #fff;
}
.lot\:menu li.is\:current > a:focus,
.lot\:menu li.is\:current > a:hover,
.lot\:menu li.is\:current.is\:active > a {
  background: #ce0000;
  color: #fff;
}
.lot\:menu li.is\:current.is\:active > a:focus,
.lot\:menu li.is\:current.is\:active > a:hover {
  background: #c40000;
}
.lot\:menu li.is\:current a.not\:active {
  background: #ea6565;
}
.lot\:menu li.is\:current.is\:active a.not\:active {
  background: #e16565;
}
.lot\:menu.is\:static {
  box-shadow: none;
}
.lot\:menu li.is\:separator {
  background: #000;
}
.lot\:menu a {
  color: #009;
}
.lot\:menu .title > svg.caret {
  color: #000;
  opacity: .25;
}
.lot\:menu a:focus,
.lot\:menu a:active {
  color: #900;
}
.lot\:menu a:focus,
.lot\:menu a:hover,
.lot\:menu li.active > a {
  background: #eef;
}
.lot\:menu li.is\:active > a:focus,
.lot\:menu li.is\:active > a:hover {
  background: #d5d5ff;
}
.lot\:menu a.not\:active {
  background: #f5f5f5;
  color: #888;
  opacity: 1;
}
.lot\:menu li.is\:active a.not\:active {
  background: #eee;
}
.lot\:pager > span {
  padding: 0;
}
.lot\:pager > span > a,
.lot\:pager > span > b,
.lot\:pager > span > span {
  background: #009;
  color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .25);
}
.lot\:pager > span > a:focus,
.lot\:pager > span > b:focus,
.lot\:pager > span > span:focus {
  background: #900;
  color: #fff;
}
.lot\:pager > span > b,
.lot\:pager > span > span {
  background: none;
  color: inherit;
  box-shadow: none;
}
.lot\:tab > nav li {
  box-shadow: inset 0 3px 0 #fcc;
}
.lot\:tab > nav .is\:active {
  box-shadow: inset 0 3px 0 #ccf;
}
.lot\:tab > nav .has\:link {
  box-shadow: inset 0 3px 0 #cfc;
}
.lot\:tab > nav li.not\:active {
  opacity: 1;
}
.lot\:tab > nav li a.not\:active {
  opacity: 1;
  background: #f5f5f5;
  color: #aaa;
  box-shadow: inset 0 3px 0 #ddd;
}
.lot\:table .table th,
.lot\:table .table td {
  background: #eef;
  color: inherit;
  cursor: default;
}
.lot\:table .table tbody tr:hover td {
  background: #dde;
}
.lot\:table .table th {
  background: #ccd;
}

/* Custom Appearance for Modern Browsers */
.input[type="checkbox"],
.input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .125);
}
.input[type="checkbox"] {
  background: #090;
}
.input[type="radio"] {
  background: #08a;
}
.input[type="checkbox"]:focus::before,
.input[type="radio"]:focus::before {
  visibility: hidden;
}
.input[type="checkbox"]::before,
.input[type="radio"]::before {
  content: "";
  position: absolute;
  top: 2px;
  right: 2px;
  bottom: 2px;
  left: 2px;
  background: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .125);
}
.input[type="radio"],
.input[type="radio"]::before {
  border-radius: 100%;
}
.input[type="checkbox"]:checked::before {
  top: 1px;
  right: 5px;
  bottom: 4px;
  left: 5px;
  background: none;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  visibility: visible;
  box-shadow: none;
}
.input[type="radio"]:checked::before {
  background: none;
  border: 2px solid #fff;
  visibility: visible;
}
.input[type="checkbox"][disabled],
.input[type="radio"][disabled] {
  background: #999;
}
.field\:toggle .input[type="checkbox"] {
  width: 30px;
  height: 20px;
  background: #c00;
  border-width: 0;
  border-radius: 10px;
}
.field\:toggle .input[type="checkbox"]::before {
  border: 0;
  width: 16px;
  height: 16px;
  top: 2px;
  left: 2px;
  background: #fff;
  border-radius: 8px;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  transform: rotate(0);
  visibility: visible;
}
.field\:toggle .input[type="checkbox"]:checked {
  background: #090;
}
.field\:toggle .input[type="checkbox"]:checked::before {
  left: 12px;
}
.field\:toggle .input[type="checkbox"][disabled] {
  background: #999;
}

@media (max-width: 720px) {
  .field > label {
    font-weight: bolder;
  }
  .lot\:tab > nav li {
    background: none;
    box-shadow: none;
  }
  .lot\:tab > nav li:not(.has\:link) a {
    color: #009;
  }
  .lot\:tab > nav li.is\:active {
    box-shadow: none;
  }
  .lot\:tab > nav li.is\:active a {
    color: inherit;
  }
}