@mixin appearance($appearance: none) {
  -webkit-appearance: $appearance;
  -moz-appearance: $appearance;
  appearance: $appearance;
}

@mixin placeholder($opacity: 1, $color: inherit) {
  color: $color;
  opacity: $opacity;
}

@mixin transform($value) {
  -webkit-transform: $value;
  -moz-transform: $value;
  transform: $value;
}

@mixin user-select($select: normal) {
  -webkit-user-select: $select;
  -moz-user-select: $select;
  user-select: $select;
}

@mixin any {
  *,
  ::after,
  ::before {
    background: none;
    border: 0;
    box-sizing: border-box;
    color: inherit;
    font: inherit;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-transform: none;
  }
  ::-moz-focus-inner {
    border: 0;
    margin: 0;
    outline: 0;
    padding: 0;
  }
  ::placeholder {
    @include placeholder(0.5);
  }
  :focus {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    outline: 0;
  }
  :focus-visible {
    box-shadow: var(--shadow--focus-visible, none);
    outline: 3px solid var(--stroke--focus-visible, transparent);
    z-index: 1;
  }
  :where(address, article, aside, blockquote, dd, details, div, dl, dt, fieldset, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, main, nav, ol, p, pre, search, section, table, ul) {
    & + & {
      margin-top: var(--y);
    }
  }
  li {
    &:where(:not(:first-child)) {
      > :where(address, article, aside, blockquote, dd, details, div, dl, dt, fieldset, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, main, nav, p, pre, search, section, table) {
        &:where(:first-child) {
          margin-top: var(--y);
        }
      }
    }
  }
  :root, body {
    min-height: 100%;
  }
  :root {
    background: var(--fill, none);
    border: 0 solid;
    border-color: var(--stroke, transparent);
    color: var(--color, inherit);
    font: normal normal var(--font-size)/var(--font-height) var(--font-face);
    scroll-behavior: smooth;
    text-align: left;
  }
  a {
    @extend .a;
  }
  abbr {
    border: 0 solid transparent;
    border-width: 0 0 1px;
    cursor: inherit;
    text-decoration: none;
    &[title]:hover {
      border-color: var(--stroke, transparent);
      cursor: help;
    }
  }
  article,
  aside,
  footer,
  header,
  main,
  nav,
  search,
  section {
    display: block;
  }
  b,
  dt,
  legend,
  strong,
  th {
    @extend .b;
  }
  dfn,
  em,
  i,
  var {
    @extend .i;
  }
  audio,
  iframe,
  video {
    display: block;
    height: auto;
    width: 100%;
  }
  caption,
  figure {
    text-align: center;
  }
  code {
    @extend .code;
  }
  del,
  s {
    @extend .s;
  }
  details {
    > summary {
      @extend a, :where(:any-link);
    }
    &[open] {
      > summary {
        margin-bottom: var(--y);
      }
    }
  }
  dialog {
    background: var(--fill-dialog, var(--fill, none));
    border: 0 solid;
    border-color: var(--stroke-dialog, var(--stroke, transparent));
    bottom: 0;
    box-shadow: var(--shadow-dialog, var(--shadow, none));
    color: var(--color-dialog, var(--color, inherit));
    display: block;
    height: fit-content;
    left: 0;
    margin: auto;
    max-width: 100%;
    min-width: calc(var(--x) * 12);
    padding: var(--y) var(--x);
    position: fixed;
    right: 0;
    top: 0;
    width: fit-content;
    [role='group'] {
      display: flex;
      flex-wrap: wrap;
      gap: calc(var(--x) / 4);
      justify-content: end;
    }
    > form {
      > p {
        > input,
        > select,
        > textarea {
          display: block;
          min-width: 100%;
          width: 100%;
        }
      }
    }
    &:not([open]) {
      display: none;
    }
    &::backdrop {
      @include user-select(none);
      background: var(--fill-dialog--backdrop, rgba(0, 0, 0, 0.5));
    }
  }
  img {
    @extend .img;
  }
  ins,
  u {
    @extend .u;
  }
  kbd,
  small,
  sub,
  sup {
    @extend .small;
  }
  sub,
  sup {
    line-height: 0;
    position: relative;
  }
  sub {
    top: 0.125em;
    vertical-align: sub;
  }
  sup {
    top: -0.125em;
    vertical-align: super;
  }
  mark {
    background: var(--fill-mark, var(--fill, none));
    color: var(--color-mark, var(--color, inherit));
  }
  pre {
    font-style: normal;
    font-weight: normal;
    overflow: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    code {
      background: var(--fill-code-block, var(--fill-code, var(--fill, none)));
      border: 0 solid;
      border-color: var(--stroke-code-block, var(--stroke-code, var(--stroke, transparent)));
      border-radius: var(--arc-code-block, var(--arc-code, var(--arc, 0)));
      box-shadow: var(--shadow-code-block, var(--shadow-code, var(--shadow, none)));
      color: var(--color-code-block, var(--color-code, var(--color, inherit)));
      display: block;
      padding: calc(var(--y) - var(--z)) calc(var(--x) / 2);
    }
    &.is\:text {
      code {
        background: none;
        border-style: dotted;
        border-width: 1px;
        color: inherit;
        display: inline-block;
      }
    }
  }
  table {
    @extend .table;
  }
  @each $v in (-moz-color-swatch, -webkit-color-swatch) {
    ::#{$v} {
      border: 0;
    }
  }
  ::-webkit-color-swatch-wrapper {
    padding: 0;
  }
  ::-webkit-inner-spin-button,
  ::-webkit-outer-spin-button {
    @include appearance(none);
    margin: 0;
  }
  @each $v in (-ms-browse, -webkit-file-upload-button, file-selector-button) {
    ::#{$v} {
      background: var(--fill-input__file-selector-button, var(--fill-button, var(--fill, none)));
      border: 0 solid;
      border-color: var(--stroke-input__file-selector-button, var(--stroke-button, var(--stroke, transparent)));
      border-radius: var(--arc-input__file-selector-button, var(--arc-button, var(--arc, 0)));
      box-shadow: var(--shadow-input__file-selector-button, var(--shadow-button, var(--shadow, none)));
      color: var(--color-input__file-selector-button, var(--color-button, var(--color-link, var(--color, inherit))));
      font: inherit;
      margin: 0;
      margin-inline-end: calc(var(--x) / 2);
      padding: calc(var(--y) / 4) calc(var(--x) / 2);
      @each $w in (hover, focus, active) {
        &:#{$w} {
          background: var(--fill-input__file-selector-button--#{$w}, var(--fill-input__file-selector-button, var(--fill-button--#{$w}, var(--fill-button, var(--fill--#{$w}, var(--fill, none))))));
          border-color: var(--stroke-input__file-selector-button--#{$w}, var(--stroke-input__file-selector-button, var(--stroke-button--#{$w}, var(--stroke-button, var(--stroke--#{$w}, var(--stroke, transparent))))));
          border-radius: var(--arc-input__file-selector-button--#{$w}, var(--arc-input__file-selector-button, var(--arc-button--#{$w}, var(--arc-button, var(--arc--#{$w}, var(--arc, 0))))));
          box-shadow: var(--shadow-input__file-selector-button--#{$w}, var(--shadow-input__file-selector-button, var(--shadow-button--#{$w}, var(--shadow-button, var(--shadow--#{$w}, var(--shadow, none))))));
          color: var(--color-input__file-selector-button--#{$w}, var(--color-input__file-selector-button, var(--color-button--#{$w}, var(--color-button, var(--color-link--#{$w}, var(--color-link--#{$w}, var(--color-link, var(--color--#{$w}, var(--color, inherit)))))))));
        }
      }
    }
  }
  @each $v in (hover, focus, active, disabled) {
    @each $w in (-ms-browse, -webkit-file-upload-button, file-selector-button) {
      input:#{$v}::#{$w} {
        background: var(--fill-input__file-selector-button--#{$v}, var(--fill-input__file-selector-button, var(--fill-button--#{$v}, var(--fill-button, var(--fill--#{$v}, var(--fill, none))))));
        border-color: var(--stroke-input__file-selector-button--#{$v}, var(--stroke-input__file-selector-button, var(--stroke-button--#{$v}, var(--stroke-button, var(--stroke--#{$v}, var(--stroke, transparent))))));
        border-radius: var(--arc-input__file-selector-button--#{$v}, var(--arc-input__file-selector-button, var(--arc-button--#{$v}, var(--arc-button, var(--arc--#{$v}, var(--arc, 0))))));
        box-shadow: var(--shadow-input__file-selector-button--#{$v}, var(--shadow-input__file-selector-button, var(--shadow-button--#{$v}, var(--shadow-button, var(--shadow--#{$v}, var(--shadow, none))))));
        color: var(--color-input__file-selector-button--#{$v}, var(--color-input__file-selector-button, var(--color-button--#{$v}, var(--color-button, var(--color-link--#{$v}, var(--color-link--#{$v}, var(--color-link, var(--color--#{$v}, var(--color, inherit)))))))));
      }
    }
  }
  [hidden] {
    display: none !important;
  }
  [role='switch'],
  button,
  input[type='button'],
  input[type='checkbox'],
  input[type='color'],
  input[type='file'],
  input[type='image'],
  input[type='radio'],
  input[type='range'],
  input[type='reset'],
  input[type='submit'],
  label,
  select,
  summary {
    @include user-select(none);
    cursor: pointer;
  }
  input[type='number'],
  input[type='search'] {
    @include appearance(textfield);
  }
  button,
  input,
  select,
  textarea {
    &:disabled {
      cursor: not-allowed;
    }
  }
  button {
    white-space: nowrap;
  }
  @for $i from 0 through 5 {
    h#{$i + 1} {
      @if 0 == $i {
        font-size: calc(var(--z) * 2);
      } @else {
        font-size: calc(var(--z) * (2 - (#{$i} / 4)));
      }
      line-height: 1;
    }
  }
  kbd {
    cursor: pointer;
    display: inline-block;
    padding: 0 calc(var(--z) / 2);
    vertical-align: middle;
  }
  blockquote {
    font-size: calc(var(--z) * 1.1);
    margin: {
      right: var(--x);
      left: var(--x);
    }
  }
  dl {
    margin: {
      left: var(--x);
      right: var(--x);
    }
  }
  figure {
    img {
      display: block;
      margin: 0 auto;
    }
    figcaption {
      + * {
        margin-top: calc(var(--y) / 2);
      }
    }
    * {
      + figcaption {
        margin-top: calc(var(--y) / 2);
      }
    }
  }
  ol,
  ul {
    margin-left: calc(var(--x) + var(--z));
  }
  ol,
  ul {
    & & {
      margin-left: var(--z);
    }
  }
  ul {
    list-style: square;
  }
  fieldset,
  hr {
    border: 1px solid;
    border-color: var(--stroke, transparent);
    color: inherit;
  }
  fieldset {
    padding: var(--y) var(--x);
    legend {
      margin-bottom: calc(var(--h) / -2);
      padding: 0 calc(var(--x) / 3);
    }
  }
  hr {
    border-style: dashed;
    border-width: 1px 0 0;
  }
  [role='button'] {
    @extend button;
    &:not(:any-link) {
      @extend :disabled;
    }
  }
  [role='deletion'] {
    @extend del;
  }
  [role='img'] {
    @extend img;
  }
  [role='insertion'] {
    @extend ins;
  }
  [role='link'] {
    @extend a;
  }
  [role='mark'] {
    @extend mark;
  }
}