.field\:query {
  .tag-picker {
    min-height: ($y * 1.5);
    height: auto;
    padding: 2px;
    .tag {
      height: ($y * 1.5) - 4 - 4 - 2; /* ($y * 1.5) - (margin * 2) - (padding:parent * 2) - (border-width:parent * 2) */
      padding: 0 (($z / 2) - 1);
      margin: 2px;
      border: 1px solid transparent;
      a {
        &::before {
          font-family: sans-serif;
        }
      }
    }
  }
}
