.lot\:tasks {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: ($y / 4) ($x / 4);
  &\.link {
    .title {
      gap: ($y / 8) ($x / 8);
      > .icon {
        margin-right: 0;
        margin-left: 0;
      }
    }
  }
}
