@mixin alert {
  [role='alert'] {
    background: var(--fill-alert, var(--fill, none));
    border: 0 solid;
    border-color: var(--stroke-alert, var(--stroke, transparent));
    border-radius: var(--arc-alert, var(--arc, 0));
    box-shadow: var(--shadow-alert, var(--shadow, none));
    color: var(--color-alert, var(--color, inherit));
    padding: calc(var(--z) * .75) calc(var(--z) * 1.25);
    > [role='group'] {
      display: flex;
      .lot-tasks {
        gap: calc(var(--y) / 6) calc(var(--x) / 6);
        margin: {
          left: auto;
          right: calc(var(--x) / -4);
        }
      }
    }
  }
}

@mixin markdown {
  [role='doc-endnotes'] {
    @extend .small;
    color: var(--color-description);
    margin-top: calc(var(--y) * 1);
  }
}