@use 'sass:math';

@mixin appearance($appearance: none) {
  -webkit-appearance: $appearance;
  -moz-appearance: $appearance;
  appearance: $appearance;
}

@mixin placeholder($opacity: 1, $color: inherit) {
  color: $color;
  opacity: $opacity;
}

@mixin transform($value) {
  -webkit-transform: $value;
  -moz-transform: $value;
  transform: $value;
}

@mixin user-select($select: normal) {
  -webkit-user-select: $select;
  -moz-user-select: $select;
  user-select: $select;
}

@import '../node_modules/@taufik-nurrohman/option-picker/index.scss';
@import '../node_modules/@taufik-nurrohman/tag-picker/index.scss';

.tag-picker__tag:focus {
  outline: 0;
}

:root {
  // Gap
  --x: 24px;
  --y: 24px;
  // Font
  --h: var(--y);
  --z: 16px;
  --font-face-mono: monospace;
  --font-face-sans: sans-serif;
  --font-face-serif: serif;
  --font-face: var(--font-face-sans);
  --font-height: var(--h);
  --font-size: var(--z);
  --width-input: calc(var(--x) * 8);
  --width-menu: calc(var(--x) * 8);
  @each $name in (option-picker, tag-picker) {
    --width-#{$name}: var(--width-input);
  }
  // Pallete
  --color--disabled: #666;
  --color-bar-link--active: #009;
  --color-bar-link--disabled: #66f;
  --color-bar-link--focus: #00c;
  --color-bar-link--hover: #00f;
  --color-bar-link: #00f;
  --color-bar-status: #f00;
  --color-button--active: #fff;
  --color-button--disabled: #fff;
  --color-button--focus: #fff;
  --color-button--hover: #fff;
  --color-button: #fff;
  --color-code-block: #fff;
  --color-input--disabled: #666;
  --color-input--hover: #000;
  --color-input--invalid: #f00;
  --color-input: #000;
  --color-link--active: #009;
  --color-link--disabled: #66f;
  --color-link--focus: #00c;
  --color-link--hover: #00f;
  --color-link: #00f;
  --color-mark: #000;
  --color-menu-link--active: #009;
  --color-menu-link--disabled: #66f;
  --color-menu-link--focus: #00c;
  --color-menu-link--hover: #00f;
  --color-menu-link: #00f;
  --color-menu-status: #fff;
  --color-menus-link--active: #009;
  --color-menus-link--disabled: #66f;
  --color-menus-link--focus: #00c;
  --color-menus-link--hover: #00f;
  --color-menus-link: #00f;
  --color-menus-status: #fff;
  --color-output: #000;
  --color-stack--disabled: #666;
  --color-stack-link--active: #009;
  --color-stack-link--disabled: #66f;
  --color-stack-link--focus: #00c;
  --color-stack-link--hover: #00f;
  --color-stack-link: #00f;
  --color-stack: #000;
  --color-status: #f00;
  --color-tab--disabled: #666;
  --color-tab-link--active: #009;
  --color-tab-link--disabled: #66f;
  --color-tab-link--focus: #00c;
  --color-tab-link--hover: #00f;
  --color-tab-link: #00f;
  --color-tab: #000;
  --color: #000;
  --fill-alert: #ff0;
  --fill-button--active: #009;
  --fill-button--disabled: #66f;
  --fill-button--focus: #00c;
  --fill-button--hover: #00f;
  --fill-button: #00f;
  --fill-code-block: #000;
  --fill-input--disabled: #eee;
  --fill-input--hover: #fff;
  --fill-input: #fff;
  --fill-mark: #ff0;
  --fill-menu-status: #f00;
  --fill-menus-status: #f00;
  --fill-output: none;
  --fill: #fff;
  --shadow-button--disabled: none;
  --shadow-dialog: 0 calc(var(--y) / 12) calc(var(--y) / 2) rgba(0, 0, 0, .5);
  --shadow-input--disabled: none;
  --shadow-menu: 0 calc(var(--y) / 12) calc(var(--y) / 4) rgba(0, 0, 0, .25);
  --shadow-menus: none;
  --shadow-option-picker__options: 0 calc(var(--y) / 12) calc(var(--y) / 4) rgba(0, 0, 0, .25);
  --shadow-output: none;
  --stroke--focus-visible: rgba(0, 0, 255, .25);
  --stroke-button--active: #009;
  --stroke-button--disabled: #66f;
  --stroke-button--focus: #00c;
  --stroke-button--hover: #00f;
  --stroke-button: #00f;
  --stroke-code-block: #000;
  --stroke-file: #fff;
  --stroke-folder: #fff;
  --stroke-input--active: #000;
  --stroke-input--disabled: #666;
  --stroke-input--focus: #000;
  --stroke-input--hover: #000;
  --stroke-input--invalid: #f00;
  --stroke-input: #000;
  --stroke-output: transparent;
  --stroke-page: #fff;
  --stroke-stack: #000;
  --stroke-tab: #000;
  --stroke: #000;
  @each $name in (option-picker, tag-picker) {
    --arc-#{$name}: var(--arc-input);
    --color-#{$name}: var(--color-input);
    --fill-#{$name}: var(--fill-input);
    --shadow-#{$name}: var(--shadow-input);
    --stroke-#{$name}: var(--stroke-input);
    @if option-picker == $name {
      --color-#{$name}__option--disabled: var(--color--disabled);
      --color-#{$name}__option--selected: var(--color-link);
      --color-#{$name}__option: var(--color-input);
      --color-#{$name}__options--open: var(--color-input);
      --color-#{$name}__options: var(--color-input);
      --fill-#{$name}__option--disabled: none;
      --fill-#{$name}__option--selected: none;
      --fill-#{$name}__option: none;
      --fill-#{$name}__options: var(--fill-input);
      --stroke-#{$name}__options--open: var(--stroke-input--focus, var(--stroke-input));
      --stroke-#{$name}__options: var(--stroke-input);
      @each $v in (hover, focus, active) {
        --color-#{$name}__option--#{$v}: var(--color-button--#{$v}, var(--color-button));
        --fill-#{$name}__option--#{$v}: var(--fill-button--#{$v}, var(--fill-button));
      }
      .#{$name}::after {
        --stroke-#{$name}--open: var(--color-#{$name});
        --stroke-#{$name}: var(--color-#{$name});
      }
    }
    @if tag-picker == $name {
      --color-#{$name}__tag-x: #fff;
      --color-#{$name}__tag: #000;
      --fill-#{$name}__tag--disabled: #f66;
      --fill-#{$name}__tag--focus: #c00;
      --fill-#{$name}__tag--read-only: #f66;
      --fill-#{$name}__tag--selected: #c00;
      --fill-#{$name}__tag: #f00;
      @each $v in (focus) {
        .#{$name}--#{$v} {
          // Force #1
          --color-input: var(--color-input--#{$v});
          --fill-input: var(--fill-input--#{$v});
          --shadow-input: var(--shadow-input--#{$v});
          --stroke-input: var(--stroke-input--#{$v});
          // Force #2
          --color-#{$name}: var(--color-input);
          --fill-#{$name}: var(--fill-input);
          --shadow-#{$name}: var(--shadow-input);
          --stroke-#{$name}: var(--stroke-input);
          // Force #3
          @each $v in (hover, focus, active) {
            --color-#{$name}--#{$v}: var(--color-input);
            --fill-#{$name}--#{$v}: var(--fill-input);
            --shadow-#{$name}--#{$v}: var(--shadow-input);
            --stroke-#{$name}--#{$v}: var(--stroke-input);
          }
        }
      }
    }
    @each $v in (hover, focus, active) {
      --color-#{$name}--#{$v}: var(--color-input--#{$v}, var(--color-input));
      --fill-#{$name}--#{$v}: var(--fill-input--#{$v}, var(--fill-input));
      --shadow-#{$name}--#{$v}: var(--shadow-input--#{$v}, var(--shadow-input));
      --stroke-#{$name}--#{$v}: var(--stroke-input--#{$v}, var(--stroke-input));
    }
    .#{$name}__source {
      @each $v in (read-only, disabled) {
        &:#{$v} {
          + .#{$name},
          + .#{$name}--focus {
            --color-#{$name}--#{$v}: var(--color-input--#{$v}, var(--color-input));
            --fill-#{$name}--#{$v}: var(--fill-input--#{$v}, var(--fill-input));
            --shadow-#{$name}--#{$v}: var(--shadow-input--#{$v}, var(--shadow-input));
            --stroke-#{$name}--#{$v}: var(--stroke-input--#{$v}, var(--stroke-input));
          }
        }
      }
    }
  }
}

@import './_/alert.scss';
@import './_/base.scss';
@import './_/content.scss';
@import './_/form.scss';
@import './_/icon.scss';
@import './_/lot.scss';
@import './_/type.scss';

@import './_/media.scss';