html {
  font-family:Helmet,FreeSans,sans-serif;
  background:#000;
  color:#fff;
  border-bottom:4px solid transparent;
}
body {
  background:#fff;
  color:#000;
}
a {color:#00a}
a:focus,
a:active {color:#a00}
mark {
  background:#ff0;
  color:inherit;
}
blockquote {
  border-left:4px solid;
  padding-left:1em;
}
code,.code {
  font-family:"Courier New",Courier,"Nimbus Mono L",monospace;
  font-size:90%;
}
.button,
.input,
.select,
.textarea {
  background:#fff;
  border-color:inherit;
}
.button {
  background:#00a;
  color:#fff;
}
.button:focus,
.button:active {
  background:#a00;
  color:#fff;
}
.button.x {background:#666}
.input:invalid,
.textarea:invalid {
  color:#f00;
  box-shadow:0 0 2px #f00;
}
.c {
  display:table;
  width:100%;
  table-layout:fixed;
}
.c > form {
  display:table-row;
  margin-top:0;
}
.m,.s {
  display:table-cell;
  vertical-align:top;
  padding:1em;
}
.m {
  background:#ffa;
  padding-bottom:4em;
}
.s {width:16em}
.m section + section,
.s section + section {margin-top:1em}
.m section:after {
  content:"";
  display:table;
  clear:both;
}
.m .m-buttons {
  border-bottom:1px dashed #ee9;
  padding-bottom:1em;
  text-align:right;
}
.m .page {
  background:#fff;
  border:1px solid;
  width:16em;
  float:left;
  margin:0 1em 1em 0;
  padding:1em 1.25em 4em 1.25em;
  height:22em;
  position:relative;
  overflow:hidden;
}
.m .page h3 {
  font:inherit;
  font-weight:bold;
  margin:0 0 1em;
}
.m .page section,
.m .page footer {
  font-size:90%;
  overflow:visible;
}
.m .page footer {
  position:absolute;
  right:0;
  bottom:0;
  left:0;
  line-height:3em;
  padding:0 1em;
}
.m .page.is-parent {box-shadow:inset 0 0 0 4px #def}
.m .page.as-home {box-shadow:inset 0 0 0 4px #fed}
.m .page.on-draft {border-style:dotted}
.m .page.as-placeholder {
  border-style:dotted;
  opacity:.2;
}
.n ul,
.n li {
  margin:0;
  list-style:none;
}
.n {
  background:#000;
  color:#fff;
  line-height:3em;
  box-shadow:inset 0 -2px 0 #9ab;
}
.n ul:after {
  content:"";
  display:table;
  clear:both;
}
.n li {
  float:left;
  position:relative;
}
.n a {
  display:block;
  padding:0 1.25em;
  border:0 solid transparent;
  border-bottom-width:2px;
  color:inherit;
  cursor:pointer;
}
.n a i {
  font:inherit;
  font-weight:bold;
  background:#d00;
  color:#fff;
  float:right;
  padding:0 .25em;
  line-height:1.5em;
  margin:.5em -.5em 0 0;
}
.n a:focus,
.n a:active {color:#def}
.n .is-current a,
.n .is-current a:focus,
.n .is-current a:hover {
  background:none;
  border-color:#fba;
}
.n ul ul {
  position:absolute;
  top:100%;
  left:0;
  margin-top:-2px;
  z-index:9999;
  background:#000;
  min-width:10em;
  box-shadow:0 1px 2px rgba(0,0,0,.4),0 1px 5px rgba(0,0,0,.4);
  display:none;
}
.n li:hover > ul {display:block}
.n ul ul ul {
  top:0;
  left:100%;
  margin-top:0;
}
.n ul ul li {
  float:none;
  display:block;
  font-size:96%;
  line-height:2.5em;
}
.n ul ul a {border-width:0 0 0 2px}
.n ul ul a {padding:0 1em}
.n ul + span {
  position:absolute;
  top:0;
  right:0;
  padding:0 3.25em 0 1.25em;
  font-weight:bold;
}
.n ul + span img {
  display:block;
  position:absolute;
  top:.5em;
  right:.5em;
  width:2em;
  height:2em;
  background:none;
}
.s-setting {
  background:#fea;
  padding:1em;
  margin:-.5em -.5em .5em;
}
.s-setting th,
.s-setting td {padding:.25em .5em}
.s-setting th {
  font-size:85%;
  font-weight:normal;
  background:rgba(0,0,0,.05);
}
.s section + .s-setting {margin-top:1.5em}
.s section h3 {
  font-size:100%;
  margin:0 0 .4em 0;
  padding:0;
}
.s section ul {
  list-style:none;
  margin:.2em 0 0 .4em; /* indent */
  padding:0;
  overflow:hidden;
}
.s section li {
  margin:0;
  padding:0 0 0 1.4em; /* indent + .2em */
  position:relative;
}
.s section ul ul {margin:0 0 0 .2em}
.s section li:before {
  content:"";
  display:block;
  width:0;
  height:999em;
  border-left:1px solid;
  position:absolute;
  bottom:.7em;
  left:0;
  margin-bottom:-1px;
}
.s section li:after {
  content:"";
  display:block;
  width:1em; /* indent - .2em */
  border-top:1px solid;
  position:absolute;
  top:.7em;
  bottom:0;
  left:0;
  background:#fff; /* same with page background */
}
.s .s-nav {
  position:sticky;
  top:1em;
}
.m-footer {
  margin:3em .5em 0;
  clear:both;
}
.search .input {
  display:block;
  width:100%;
}
.search .button {display:none}
.f {
  display:table;
  table-layout:fixed;
  width:100%;
}
.f > label,
.f > label + span {
  display:table-cell;
  vertical-align:top;
}
.f > label {
  width:8em;
  padding:.25em 1em 0 0;
  height:2.1538461538461537em;
  text-align:right;
}
.f.expand,
.f.expand > label + span {display:block}
.f.expand > label {display:none}
.s h3 {font-size:100%}
.s h4 {font-size:90%}
.s .input,
.s .select,
.s .textarea {background:#afa}

.h {font-style:italic}

.message {background:#ee8}
.messages + section {margin-top:1em}

.p-enter {background:#ffa}
.p-enter body,
.p-enter .m {background:none}
.p-enter .f > label[for="f-enter"] + span {text-align:center}

.p-set .m {
  padding-top:4em;
  padding-bottom:4em;
}
.p-set .m form {
  max-width:50em;
  margin-right:auto;
  margin-left:auto;
}

.p-404 {background:#ffa}
.p-404 body {background:none}

/* TODO */
.n-asset,
.n-cache,
.n-extend,
.n-shield {display:none}