@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i|Roboto+Mono:400,400i,700,700i');

* {
  margin:0;
  padding:0;
  font:inherit;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}
html {
  background:#fff;
  font:normal normal 13px/1.5384615384615385em "Roboto",Helmet,FreeSans,sans-serif;
  color:#000;
}
a {
  color:#00a;
  text-decoration:none;
}
a:focus,
a:active {color:#a00}
blockquote {
  border-left:4px solid;
  padding-left:1em;
}
code {
  font-family:"Roboto Mono","Courier New",Courier,"Nimbus Mono L",monospace;
  font-size:86%;
}
h1 {font-size:240%}
h2 {font-size:190%}
h3 {font-size:150%}
h4 {font-size:120%}
h6 {font-size:90%}
h1,h2,h3,h4 {line-height:1}
blockquote,
dl,
fieldset,
figcaption,
figure,
form,
h1,h2,h3,h4,h5,h6,
hr,ol,p,pre,table,ul {margin:1rem 0 0}
ol,ul,dd {margin-left:2em}
ol ol,
ol ul,
ul ol,
ul ul {
  margin-top:0;
  margin-left:1em;
}
ul {list-style:square}
fieldset,hr {
  color:inherit;
  border:1px solid;
}
fieldset {padding:1em}
legend {
  padding:0 .25em;
  font-weight:bold;
}
legend + fieldset,
legend + p {margin-top:0}
hr {border-width:1px 0 0}
.button,
.input,
.select,
.textarea {
  display:inline-block;
  vertical-align:middle;
  background:#fff;
  border:1px solid;
  padding:.25em .5em;
  width:12em;
  height:2.1538461538461537em;
  text-align:left;
}
.button::-moz-focus-inner,
.input::-moz-focus-inner {
  margin:0;
  padding:0;
  border:0;
  outline:0;
}
.button {
  width:auto;
  text-align:center;
  background:#00a;
  color:#fff;
  border-width:0;
  padding-right:.6em;
  padding-left:.6em;
  cursor:pointer;
}
.button:focus,
.button:active {
  background:#a00;
  color:#fff;
}
.select,
.input[type="color"],
.input[type="range"] {cursor:pointer}
.textarea {
  height:5em;
  resize:vertical;
}
.textarea.expand {height:30em}
.input[type="checkbox"],
.input[type="radio"] {
  margin:0;
  padding:0;
  width:auto;
  height:auto;
}
.block {
  display:block;
  width:100%;
}
.container {
  display:table;
  width:100%;
  table-layout:fixed;
}
.main,
.secondary {
  display:table-cell;
  vertical-align:top;
  padding:1em;
}
.main {background:#ffa}
.secondary {width:16em}
.nav ul,
.nav li {
  margin:0;
  list-style:none;
}
.nav {
  background:#000;
  color:#fff;
  line-height:3em;
}
.nav ul {overflow:hidden}
.nav li {float:left}
.nav a {
  display:block;
  padding:0 1.25em;
  color:inherit;
}
.nav a:focus,
.nav a:hover {background:#00a}
.main-footer {margin:4em .5em 0}
.search .input {
  display:block;
  width:100%;
}
.search .button {display:none}
.control {
  display:table;
  table-layout:fixed;
  width:100%;
}
.control label,
.control label + span {
  display:table-cell;
  vertical-align:top;
}
.control label {
  border:1px solid transparent;
  width:8em;
  padding:.25em 1em 0 0;
  height:2.1538461538461537em;
  text-align:right;
}
.control.expand,
.control.expand label + span {display:block}
.control.expand label {display:none}
.secondary h3 {
  font-size:100%;
  font-weight:bold;
}
.secondary .input,
.secondary .select,
.secondary .textarea {background:#afa}
.main h2:first-child,
.main form:first-child,
.main form:first-child fieldset:first-child,
.secondary h3:first-child {margin-top:0}