html {
  font-family:Helmet,FreeSans,sans-serif;
  background:#000;
  color:#fff;
  border-bottom:4px solid transparent;
}
body {
  background:#fff;
  color:#000;
}
a {color:#00a}
a:focus,
a:active {color:#a00}
mark {
  background:#ff0;
  color:inherit;
}
blockquote {
  border-left:4px solid;
  padding-left:1em;
}
code,.code {
  font-family:"Courier New",Courier,"Nimbus Mono L",monospace;
  font-size:90%;
}
.button,
.input,
.select,
.textarea {
  background:#fff;
  border-color:inherit;
}
.button {
  background:#00a;
  color:#fff;
}
.button:focus,
.button:active {
  background:#a00;
  color:#fff;
}
.button.x {background:#666}
.input:invalid,
.textarea:invalid {
  color:#f00;
  box-shadow:0 0 2px #f00;
}
.container {
  display:table;
  width:100%;
  table-layout:fixed;
}
.container > form {
  display:table-row;
  margin-top:0;
}
.main,
.secondary {
  display:table-cell;
  vertical-align:top;
  padding:1em;
}
.main {background:#ffa}
.secondary {width:16em}
.main section + section,
.secondary section + section {margin-top:1em}
.main section:after {
  content:"";
  display:table;
  clear:both;
}
.main .main-buttons {
  border-bottom:1px dashed #ee9;
  padding-bottom:1em;
  text-align:right;
}
.main .page {
  background:#fff;
  border:1px solid;
  width:16em;
  float:left;
  margin:0 1em 1em 0;
  padding:1em 1.25em 4em 1.25em;
  height:22em;
  position:relative;
  overflow:hidden;
}
.main .page h3 {
  font:inherit;
  font-weight:bold;
  margin:0 0 1em;
}
.main .page section,
.main .page footer {
  font-size:90%;
  overflow:visible;
}
.main .page footer {
  position:absolute;
  right:0;
  bottom:0;
  left:0;
  line-height:3em;
  padding:0 1em;
}
.main .page.is-parent {box-shadow:inset 0 0 0 4px #def}
.main .page.as-home {box-shadow:inset 0 0 0 4px #fed}
.main .page.on-draft {border-style:dotted}
.main .page.as-placeholder {
  border-style:dotted;
  opacity:.2;
}
.nav ul,
.nav li {
  margin:0;
  list-style:none;
}
.nav {
  background:#000;
  color:#fff;
  line-height:3em;
}
.nav ul:after {
  content:"";
  display:table;
  clear:both;
}
.nav li {
  float:left;
  position:relative;
}
.nav a {
  display:block;
  padding:0 1.25em;
  color:inherit;
  cursor:pointer;
}
.nav a i {
  font:inherit;
  font-weight:bold;
  background:#d00;
  color:#fff;
  float:right;
  padding:0 .25em;
  line-height:1.5em;
  margin:.5em -.5em 0 0;
}
.nav a:focus,
.nav a:hover,
.nav li:hover > a {background:#00a}
.nav .is-current a,
.nav .is-current a:focus,
.nav .is-current a:hover {
  background:none;
  color:#fbb;
  font-weight:bold;
}
.nav ul ul {
  position:absolute;
  top:100%;
  left:0;
  z-index:9999;
  background:#000;
  min-width:10em;
  box-shadow:0 1px 2px rgba(0,0,0,.4);
  display:none;
}
.nav li:hover > ul {display:block}
.nav ul ul ul {
  top:0;
  left:100%;
}
.nav ul ul li {
  float:none;
  display:block;
  font-size:96%;
  line-height:2.5em;
}
.nav ul ul a {padding:0 1em}
.secondary-config {
  background:#fea;
  padding:1em;
  margin:-.5em -.5em .5em;
}
.secondary section + .secondary-config {margin-top:1.5em}
.secondary .secondary-nav {
  position:sticky;
  top:1em;
}
.main-footer {
  margin:3em .5em 0;
  clear:both;
}
.search .input {
  display:block;
  width:100%;
}
.search .button {display:none}
.f {
  display:table;
  table-layout:fixed;
  width:100%;
}
.f > label,
.f > label + span {
  display:table-cell;
  vertical-align:top;
}
.f > label {
  width:8em;
  padding:.25em 1em 0 0;
  height:2.1538461538461537em;
  text-align:right;
}
.f.expand,
.f.expand > label + span {display:block}
.f.expand > label {display:none}
.secondary h3 {font-size:100%}
.secondary h4 {font-size:90%}
.secondary .input,
.secondary .select,
.secondary .textarea {background:#afa}

.message {background:#ee8}
.messages + section {margin-top:1em}

.path-enter {background:#ffa}
.path-enter body {background:none}
.path-enter .f > label[for="f-enter"] + span {text-align:center}

.path-404 {background:#ffa}
.path-404 body {background:none}