@import url('//fonts.googleapis.com/css?family=Roboto+Condensed:400,700,400i,700i|Roboto+Mono:400,700,400i,700i');


$x: 24px;
$y: 24px;

$z: 16px;
$h: $y;

$sans: 'Roboto Condensed', Roboto, sans-serif;
$mono: 'Roboto Mono', 'Courier New', Courier, 'Nimbus Mono L', monospace;

$color: #000;
$color-back: #fff;

$color-back-alert: #eee;

$color-back-input: #ffa;
$color-back-input-fix: #dda;
$color-back-button-fix: #bdf;

$color-is-error: #f00;
$color-is-success: #090;

$color-link: #009;
$color-link-focus: #900;
$color-link-active: #900;

$color-secondary: #888;

$color-title: #66a;

$color-button: $color-back;

$color-back-button: $color-link;
$color-back-button-focus: $color-link-focus;
$color-back-button-active: $color-link-active;

$color-back-list-hover: #eef;
$color-back-list-active: #fec;

$color-back-icon-file: #fea;
$color-back-icon-folder: #d00;

$color-back-menu-hover: #eef;
$color-back-menu-current: #d00;

$color-back-table-data: #eef;
$color-back-table-title: #ccd;
$color-back-table-data-hover: #dde;

$color-back-code-block: #333;
$color-back-text-block: #fee;

$color-accent-tab: #fcc;
$color-accent-tab-active: #ccf;
$color-accent-tab-link: #cfc;

$color-back-item: #08a;
$color-back-items: #090;

$color-back-toggle: #c00;
$color-back-toggle-active: #090;


html {
  font-family: $sans;
  background: $color-back;
  color: $color;
}

a[href] {
  color: $color-link;
  &:focus {
    color: $color-link-focus;
  }
  &:active {
    color: $color-link-active;
  }
}

pre {
  &.is\:text {
    background: $color-back-text-block;
    code {
      background: none;
      color: inherit;
    }
  }
  code {
    background: $color-back-code-block;
    color: $color-back;
  }
}

code,
.code {
  font-family: $mono;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-title;
}

blockquote,
figcaption,
caption {
  color: $color-secondary;
}

$color-back-alert: (
  'error': #fcc,
  'info': #ccf,
  'success': #cfc
);

.alert {
  p {
    background: darken($color-back, 5%);
    padding: ($z * .75) ($z * 1.25);
  }
  @each $k, $v in $color-back-alert {
    .#{$k} {
      background: $v;
      color: inherit;
    }
  }
}

.button,
.input,
.select,
.textarea {
  background: $color-back-input;
  color: $color;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .25);
}

.button {
  background: $color-back-button;
  color: $color-button;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .25);
  &:focus {
    background: $color-back-button-focus;
    color: $color-button;
  }
  &:active {
    background: $color-back-button-active;
    color: $color-button;
  }
  &[href] {
    &,
    &:focus,
    &:active {
      color: $color-button;
    }
  }
}

.button {
  &.is\:text {
    &,
    &:focus,
    &:active {
      background: none;
      border: 0;
      color: $color-link;
      border-radius: 0;
      box-shadow: none;
    }
    &:focus {
      color: $color-link-focus;
    }
    &:active {
      color: $color-link-active;
    }
  }
}

[disabled],
.not\:active {
  .button& {
    background: rgba($color-back-button, .25);
    opacity: 1;
    box-shadow: none;
    &.is\:text {
      background: none;
      color: rgba($color-link, .25);
    }
  }
  .input&,
  .select&,
  .textarea& {
    background: rgba($color-back-input, .25);
    color: rgba($color, .25);
    opacity: 1;
  }
  .select & {
    opacity: 1;
  }
}

[readonly] {
  .input&,
  .select&,
  .textarea& {
    box-shadow: none;
  }
}

:focus {
  &:valid {
    [pattern]&,
    [required]&, {
      .input&,
      .textarea& {
        color: $color-is-success;
        border-color: $color-is-success;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .25), 0 0 0 2px rgba($color-is-success, .25);
      }
    }
  }
  &:invalid {
    .input&,
    .textarea& {
      color: $color-is-error;
      border-color: $color-is-error;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, .25), 0 0 0 2px rgba($color-is-error, .25);
    }
  }
}

.input {
  &[type='checkbox'],
  &[type='color'],
  &[type='image'],
  &[type='radio'],
  &[type='range'] {
    background: none;
    border: 0;
    padding: 0;
    box-shadow: none;
  }
  &[type='file'],
  &[type='range'] {
    background: none;
    box-shadow: none;
  }
}

.select {
  optgroup,
  option {
    background: $color-back;
  }
}

.description {
  color: $color-secondary;
}

.is\:separator {
  opacity: .125;
}

.lot\:bar {
  background: lighten($color, 10%);
  color: darken($color-back, 40%);
  > ul {
    > li {
      > a:focus,
      > a:active,
      &.is\:active > a {
        color: darken($color-back, 10%);
      }
      > a {
        color: darken($color-back, 20%);
        &:focus {
          > .title {
            svg {
              &.caret {
                color: darken($color-back, 50%);
              }
            }
          }
        }
        > .title {
          svg {
            &.caret {
              color: darken($color-back, 60%);
            }
          }
        }
      }
      &.is\:separator {
        background: $color-back;
      }
    }
  }
  .field {
    .input {
      background: $color;
      color: $color-back;
    }
  }
  .js\:alert {
    &.is\:active {
      a {
        span {
          color: #0f0;
        }
      }
    }
  }
}

.lot\:file,
.lot\:page {
  li {
    background: $color-back;
    border: 0 solid $color-back;
    &:focus,
    &:hover {
      background: $color-back-list-hover;
      border-color: $color-back-list-hover;
    }
  }
  h3 {
    color: inherit;
  }
  .lot\:task {
    &,
    > * {
      margin: 0;
    }
    > * {
      .title {
        span {
          display: none;
        }
      }
    }
  }
  .is\:active {
    background: $color-back-list-active;
    border-color: $color-back-list-active;
  }
  .is\:file {
    &::before {
      background: $color-back-icon-file;
      border-color: $color;
    }
    &::after {
      border-color: $color;
      border-top-color: inherit;
      border-right-color: inherit;
    }
  }
  .is\:folder {
    &::before {
      background: $color-back-icon-folder;
    }
    &::after {
      border-top-color: darken($color-back-icon-folder, 10%);
    }
  }
}

.lot\:input {
  .button {
    background: $color-back-button-fix;
    box-shadow: none;
    &:focus,
    &:active {
      background: lighten($color-back-button-fix, 20%);
    }
  }
  .fix {
    background: $color-back-input-fix;
  }
}

.lot\:menu {
  a {
    &.not\:active {
      &,
      &:focus,
      &:hover,
      &:active {
        background: lighten($color-secondary, 42%);
        color: $color-secondary;
        opacity: 1;
      }
    }
  }
  &,
  ul {
    background: $color-back;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .05), 0 4px 8px rgba(0, 0, 0, .25);
  }
  li {
    a:focus,
    a:hover {
      background: $color-back-menu-hover;
    }
    a:active {
      background: darken($color-back-menu-hover, 2%);
    }
    &.is\:active {
      a {
        &.not\:active {
          background: #eee; // TODO
        }
      }
    }
    &.is\:current {
      a {
        &.not\:active {
          background: lighten($color-back-menu-current, 10%);
        }
      }
      &.is\:active {
        a {
          &.not\:active {
            background: darken(lighten($color-back-menu-current, 10%), 4%);
          }
        }
      }
      > a {
        background: $color-back-menu-current;
        color: $color-back;
        &:focus,
        &:hover {
          background: darken($color-back-menu-current, 2%);
          color: $color-back;
        }
        &:active {
          background: darken($color-back-menu-current, 4%);
        }
      }
    }
    &.is\:separator {
      background: $color;
    }
  }
  .title {
    svg {
      &.caret {
        color: $color;
        opacity: .25;
      }
    }
  }
  &.is\:static {
    box-shadow: none;
  }
}

.lot\:pager {
  > span {
    > a {
      background: $color-back-button;
      color: $color-button;
      box-shadow: 0 1px 1px rgba(0, 0, 0, .25);
      &:focus {
        background: $color-back-button-focus;
        color: $color-button;
      }
      &:active {
        background: $color-back-button-active;
        color: $color-button;
      }
    }
  }
}

.lot\:tab {
  > nav {
    li {
      box-shadow: inset 0 3px 0 $color-accent-tab;
      &.not\:active {
        opacity: 1;
      }
      a {
        &.not\:active {
          opacity: 1;
          background: lighten($color-secondary, 50%);
          color: $color-secondary;
          box-shadow: inset 0 3px 0 lighten($color-secondary, 30%);
        }
      }
    }
    .has\:link {
      box-shadow: inset 0 3px 0 $color-accent-tab-link;
    }
    .is\:active {
      box-shadow: inset 0 3px 0 $color-accent-tab-active;
    }
  }
}

.lot\:table {
  .table {
    th,
    td {
      background: $color-back-table-data;
      color: inherit;
      cursor: default;
    }
    th {
      background: $color-back-table-title;
    }
    tbody {
      tr {
        &:hover {
          td {
            background: $color-back-table-data-hover;
          }
        }
      }
    }
  }
}


// Custom Appearance for Modern Browsers

.input {
  &[type='checkbox'],
  &[type='radio'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .125);
    &[disabled] {
      background: $color-secondary;
    }
    &::before {
      content: "";
      position: absolute;
      top: 2px;
      right: 2px;
      bottom: 2px;
      left: 2px;
      background: $color-back;
      box-shadow: 0 1px 1px rgba(0, 0, 0, .125);
    }
  }
  &[type='checkbox'] {
    background: $color-back-items;
    &:checked {
      &::before {
        top: 1px;
        right: 5px;
        bottom: 4px;
        left: 5px;
        background: none;
        border-right: 2px solid $color-back;
        border-bottom: 2px solid $color-back;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        transform: rotate(45deg);
        visibility: visible;
        box-shadow: none;
      }
    }
    &:focus {
      background: darken($color-back-items, 10%);
    }
  }
  &[type='radio'] {
    background: $color-back-item;
    &:checked {
      &::before {
        background: none;
        border: 2px solid $color-back;
        visibility: visible;
      }
    }
    &:focus {
      background: darken($color-back-item, 10%);
    }
    &,
    &::before {
      border-radius: 100%;
    }
  }
}

label {
  &.is\:frozen {
    opacity: 1;
    > .input {
      &[type='checkbox'] {
        + span {
          color: darken($color-back-items, 10%);
        }
      }
      &[type='radio'] {
        + span {
          color: darken($color-back-item, 10%);
        }
      }
    }
  }
}

.field\:toggle {
  .input {
    &[type='checkbox'] {
      width: ($z * 2);
      height: ($z * 1.25);
      background: $color-back-toggle;
      border-width: 0;
      border-radius: (($z * 1.25) / 2);
      &[disabled] {
        background: $color-secondary;
      }
      &::before {
        border: 0;
        width: (($z * 1.25) - 4);
        height: (($z * 1.25) - 4);
        top: 2px;
        left: 2px;
        background: $color-back;
        border-radius: ((($z * 1.25) - 4) / 2);
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        transform: rotate(0);
        visibility: visible;
      }
      &:focus {
        background: darken($color-back-toggle, 10%);
      }
      &:checked {
        background: $color-back-toggle-active;
        &::before {
          left: ($z - 2);
        }
        &:focus {
          background: darken($color-back-toggle-active, 10%);
        }
      }
    }
  }
}

.field\:query {
  .tag-picker {
    .tag {
      &:not(.editor) {
        box-shadow: 0 1px 1px rgba(0, 0, 0, .25);
      }
    }
  }
}

@media (min-width: 719px) {
  .lot\:bar {
    li {
      &.is\:main {
        background: $color-back;
        color: $color;
        &.is\:active {
          > a {
            background: inherit;
            color: inherit;
            position: relative;
            z-index: 9999; /* Must be greater than the `.lot\:menu` index to hide the top shadow from its drop menu */
          }
        }
        > a {
          color: $color-link;
          &:focus {
            color: $color-link-focus;
          }
          &:active {
            color: $color-link-active;
          }
        }
      }
    }
  }
}

@media (max-width: 720px) {
  .field {
    > label {
      font-weight: bolder;
    }
  }
  .lot\:tab {
    > nav {
      li {
        background: none;
        box-shadow: none;
        &.is\:active {
          box-shadow: none;
          a {
            color: inherit;
          }
        }
        &:not(.has\:link) {
          a {
            color: $color-link;
          }
        }
      }
    }
  }
}

.hl-name,.hl-strong{font-weight:bold}.hl-code,.hl-emphasis{font-style:italic}.hl-tag{color:#62c8f3}.hl-variable,.hl-template-variable,.hl-selector-id,.hl-selector-class{color:#ade5fc}.hl-string,.hl-bullet{color:#a2fca2}.hl-type,.hl-title,.hl-section,.hl-attribute,.hl-quote,.hl-built_in,.hl-builtin-name{color:#ffa}.hl-number,.hl-symbol,.hl-bullet{color:#d36363}.hl-keyword,.hl-selector-tag,.hl-literal{color:#fcc28c}.hl-comment,.hl-deletion,.hl-code{color:#888}.hl-regexp,.hl-link{color:#c6b4f0}.hl-meta{color:#fc9b9b}.hl-deletion{background-color:#fc9b9b;color:#333}.hl-addition{background-color:#a2fca2;color:#333}.hl a{color:inherit}.hl a:focus,.hl a:hover{color:inherit;text-decoration:underline}
