@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,700,400i,700i|Source+Sans+Pro:400,700,400i,700i|Work+Sans:400,700,400i,700i');

// TINT #EDF3F6,#EFF4F7,#F2F6F8,#F4F8F9,#F7F9FB,#F9FBFC,#FCFDFD
// SHADE #EDF3F6,#CBD0D2,#A9ADAF,#878A8C,#656869,#434546,#212223
// HUE #EDEFF6,#EDF0F6,#EDF1F6,#EDF3F6,#EDF4F6,#EDF5F6,#EDF6F5
// SATURATION #F6F6F6,#EDF3F6,#D9ECF6,#C5E5F6,#B1DFF6,#9ED8F6,#8AD2F6
// VALUE #8A8E90,#9EA2A4,#B2B6B8,#C5CACD,#D9DEE1,#EDF3F6,#F5FBFF
// #83A6B8,#EDF3F6,#39657B

$color: #656869;
$color-back: #fcfdfd;
$color-back-button: #83a6b8;
$color-back-input: #edf3f6;
$color-border: #c5cacd;
$color-button: #fcfdfd;
$color-link: #39657b;

:root {
  background: $color-back;
  font-family: 'Source Sans Pro', sans-serif;
  color: $color;
}

a[href] {
  color: $color-link;
  &:focus,
  &:active {
    color: darken($color-link, 10%);
  }
}

blockquote,
caption,
figcaption,
.description {
  color: lighten($color, 10%);
}

code, .code {
  font-family: 'IBM Plex Mono', monospace;
}

fieldset, hr {
  border-color: $color-border;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Work Sans', 'Source Sans Pro', sans-serif;
}

pre {
  > code {
    background: lighten($color-back-input, 1%);
    color: inherit;
  }
}

.alert {
  p {
    background: darken($color-back, 5%);
  }
}

.button,
.button[href] {
  background: $color-back-button;
  color: $color-button;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .25);
  &:not(.not\:active):focus {
    background: lighten($color-back-button, 5%);
    color: $color-button;
  }
  &:not(.not\:active):active {
    background: darken($color-back-button, 10%);
    color: $color-button;
  }
}

.input,
.select,
.textarea {
  background: $color-back-input;
  border-color: $color-border;
  color: darken($color, 10%);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .125);
}

.lot\:field {
  .tag-picker {
    .tag {
      &:not(.editor) {
        background: lighten($color-back-button, 20%);
        color: inherit;
        box-shadow: 0 1px 1px rgba(0, 0, 0, .125);
        &:focus {
          background: lighten($color-back-button, 25%);
        }
      }
    }
  }
}

.lot\:input {
  .fix {
    background: lighten($color-back, 1%);
    border-color: $color-border;
  }
}

.lot\:menu {
  background: $color-back;
  color: $color;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
  a {
    &:focus,
    &:hover {
      background: darken($color-back, 1%);
    }
  }
  li {
    &:focus,
    &:hover {
      > a {
        background: darken($color-back, 1%);
      }
    }
    &.is\:current {
      > a {
        background: darken($color-back, 2%);
        &:focus,
        &:hover {
          background: darken($color-back, 3%);
        }
      }
    }
  }
}

.lot\:file {
  .is\:file {
    &::before {
      background: lighten($color-back, 1%);
      border-color: $color;
    }
    &::after {
      border-bottom-color: $color;
      border-left-color: $color;
    }
  }
  .is\:folder {
    &::before {
      background: darken($color-back-button, 10%);
    }
    &::after {
      background: $color-back-button;
    }
  }
}

.lot\:file,
.lot\:page {
  li {
    border: 0 solid $color-back;
    &:hover {
      background: darken($color-back, 1%);
      border-color: darken($color-back, 1%);
    }
    &.is\:active {
      background: darken($color-back, 2%);
      border-color: darken($color-back, 2%);
      &:hover {
        background: darken($color-back, 3%);
        border-color: darken($color-back, 3%);
      }
    }
  }
  .lot\:task {
    &,
    > * {
      margin: 0;
    }
    > * {
      .title {
        span {
          display: none;
        }
      }
    }
  }
}

.lot\:pager {
  > span {
    > a {
      background: $color-back-button;
      color: $color-button;
      box-shadow: 0 1px 1px rgba(0, 0, 0, .25);
      &:focus {
        background: lighten($color-back-button, 5%);
        color: $color-button;
      }
      &:active {
        background: darken($color-back-button, 10%);
        color: $color-button;
      }
    }
    > b,
    > span {
      background: none;
      color: inherit;
    }
  }
}

.lot\:tab {
  > nav {
    li {
      border-color: lighten($color-border, 10%);
      &.is\:active {
        &::before,
        &::after {
          border-color: lighten($color-border, 10%);
        }
      }
      &:not(.is\:active) {
        background: darken($color-back, 1%);
        color: lighten($color, 10%);
      }
    }
  }
}

.input {
  &[type='checkbox'],
  &[type='radio'] {
    &::before {
      background: $color-button;
      box-shadow: 0 1px 1px rgba(0, 0, 0, .25);
    }
  }
  &[type='checkbox'] {
    background: $color-back-button;
    &:not(.not\:active):focus {
      background: lighten($color-back-button, 5%);
    }
    &:not(.not\:active):active {
      background: darken($color-back-button, 10%);
    }
    &:checked {
      &::before {
        border-right-color: $color-button;
        border-bottom-color: $color-button;
        box-shadow: none;
      }
    }
  }
  &[type='radio'] {
    background: $color-back-button;
    &:not(.not\:active):focus {
      background: lighten($color-back-button, 5%);
    }
    &:not(.not\:active):active {
      background: darken($color-back-button, 10%);
    }
    &:checked {
      &::before {
        background: none;
        border-color: $color-button;
      }
    }
  }
}
