.is\:dark {
  background: #222222;
  border-color: #2d2d2d;
  font-family: "Nimbus Sans L", sans-serif;
  color: #a7a7a7;
}

.is\:dark a[href] {
  color: #7a7a7a;
}

.is\:dark a[href]:focus, .is\:dark a[href]:active {
  color: #919191;
}

.is\:dark a.not\:active {
  color: #4e4e4e;
}

.is\:dark blockquote,
.is\:dark caption,
.is\:dark figcaption,
.is\:dark .description {
  color: #919191;
}

.is\:dark code, .is\:dark .code {
  font-family: "Nimbus Mono L", monospace;
}

.is\:dark fieldset, .is\:dark hr,
.is\:dark .table td,
.is\:dark .table th {
  border-color: #2d2d2d;
}

.is\:dark pre > code {
  background: #2d2d2d;
  color: inherit;
}

.is\:dark pre.is\:text > code {
  background: none;
  border-color: #2d2d2d;
}

.is\:dark .alert p {
  background: #242424;
}

.is\:dark .button, .is\:dark .button[href] {
  background: #646464;
  color: #f4f4f4;
}

.is\:dark .button:not(.not\:active):focus, .is\:dark .button[href]:not(.not\:active):focus {
  background: #7a7a7a;
  color: #f4f4f4;
}

.is\:dark .button:not(.not\:active):active, .is\:dark .button[href]:not(.not\:active):active {
  background: #4e4e4e;
  color: #f4f4f4;
}

.is\:dark .input,
.is\:dark .select,
.is\:dark .textarea {
  background: #2d2d2d;
  border-color: #383838;
  color: #bdbdbd;
}

.is\:dark .input:focus:invalid,
.is\:dark .select:focus:invalid,
.is\:dark .textarea:focus:invalid {
  border-color: #9c1c1c;
  color: #de5f5f;
}

.is\:dark .input.not\:active, .is\:dark .input.not\:active:focus, .is\:dark .input.not\:active:active, .is\:dark .input[disabled], .is\:dark .input[disabled]:focus, .is\:dark .input[disabled]:active,
.is\:dark .select.not\:active,
.is\:dark .select.not\:active:focus,
.is\:dark .select.not\:active:active,
.is\:dark .select[disabled],
.is\:dark .select[disabled]:focus,
.is\:dark .select[disabled]:active,
.is\:dark .textarea.not\:active,
.is\:dark .textarea.not\:active:focus,
.is\:dark .textarea.not\:active:active,
.is\:dark .textarea[disabled],
.is\:dark .textarea[disabled]:focus,
.is\:dark .textarea[disabled]:active {
  opacity: 1;
  background: none;
  border-color: #2d2d2d;
}

.is\:dark .input[type='color'], .is\:dark .input[type='file'], .is\:dark .input[type='image'], .is\:dark .input[type='range'] {
  background: none;
}

.is\:dark .field.not\:active .fix {
  opacity: 1;
  background: none;
  color: #4e4e4e;
  border-color: #2d2d2d;
}

.is\:dark .field\:toggle .input[type='checkbox']::before {
  background: #e9e9e9;
}

.is\:dark .field\:toggle .input[type='checkbox']:checked::before {
  background: #e9e9e9;
}

.is\:dark .lot\:bar > ul > li > a:focus, .is\:dark .lot\:bar > ul > li > a:hover {
  background: #242424;
}

.is\:dark .lot\:bar > ul > li.is\:current > a {
  background: #262626;
}

.is\:dark .lot\:bar > ul > li.is\:current > a:focus, .is\:dark .lot\:bar > ul > li.is\:current > a:hover {
  background: #292929;
}

.is\:dark .lot\:bar > ul > li.is\:separator {
  background: #2d2d2d;
}

.is\:dark .lot\:field > .description {
  border-bottom-color: #2d2d2d;
}

.is\:dark .lot\:field .tag-picker .tag:not(.editor) {
  background: #434343;
  color: inherit;
}

.is\:dark .lot\:field .tag-picker .tag:not(.editor):focus {
  background: #4e4e4e;
}

.is\:dark .lot\:input .fix {
  background: #2b2b2b;
  border-color: #383838;
}

.is\:dark .lot\:menu {
  background: #222222;
  color: #a7a7a7;
}

.is\:dark .lot\:menu a:focus, .is\:dark .lot\:menu a:hover {
  background: #242424;
}

.is\:dark .lot\:menu li:focus > a, .is\:dark .lot\:menu li:hover > a {
  background: #242424;
}

.is\:dark .lot\:menu li.is\:current > a {
  background: #262626;
}

.is\:dark .lot\:menu li.is\:current > a:focus, .is\:dark .lot\:menu li.is\:current > a:hover {
  background: #292929;
}

.is\:dark .lot\:menu li.is\:separator {
  background: #2d2d2d;
}

.is\:dark .lot\:file .is\:file::before {
  background: #222222;
  border-color: #646464;
}

.is\:dark .lot\:file .is\:file::after {
  border-bottom-color: #646464;
  border-left-color: #646464;
}

.is\:dark .lot\:file .is\:folder::before {
  background: #a7a7a7;
}

.is\:dark .lot\:file .is\:folder::after {
  background: #7a7a7a;
}

.is\:dark .lot\:file li,
.is\:dark .lot\:page li {
  border: 0 solid #222222;
}

.is\:dark .lot\:file li:hover,
.is\:dark .lot\:page li:hover {
  background: #242424;
  border-color: #242424;
}

.is\:dark .lot\:file li.is\:active,
.is\:dark .lot\:page li.is\:active {
  background: #262626;
  border-color: #262626;
}

.is\:dark .lot\:file li.is\:active:hover,
.is\:dark .lot\:page li.is\:active:hover {
  background: #292929;
  border-color: #292929;
}

.is\:dark .lot\:file .lot\:task,
.is\:dark .lot\:file .lot\:task > *,
.is\:dark .lot\:page .lot\:task,
.is\:dark .lot\:page .lot\:task > * {
  margin: 0;
}

.is\:dark .lot\:file .lot\:task > * .title span,
.is\:dark .lot\:page .lot\:task > * .title span {
  display: none;
}

.is\:dark .lot\:pager > span > a {
  background: #646464;
  color: #f4f4f4;
}

.is\:dark .lot\:pager > span > a:focus {
  background: #7a7a7a;
  color: #f4f4f4;
}

.is\:dark .lot\:pager > span > a:active {
  background: #4e4e4e;
  color: #f4f4f4;
}

.is\:dark .lot\:pager > span > b,
.is\:dark .lot\:pager > span > span {
  background: none;
  color: inherit;
}

.is\:dark .lot\:tab > nav li {
  border-color: #2d2d2d;
}

.is\:dark .lot\:tab > nav li a:not(.has\:link) {
  color: inherit;
}

.is\:dark .lot\:tab > nav li.is\:current::before, .is\:dark .lot\:tab > nav li.is\:current::after {
  border-color: #2d2d2d;
}

@media (min-width: 720px) {
  .is\:dark .lot\:tab > nav li:not(.is\:current) {
    background: #242424;
    color: #a7a7a7;
  }
}

.is\:dark .lot\:tab > nav li.not\:active {
  opacity: 1;
  color: #4e4e4e;
}

.is\:dark .input[type='checkbox'], .is\:dark .input[type='radio'] {
  background: #646464;
}

.is\:dark .input[type='checkbox']:not(.not\:active):focus, .is\:dark .input[type='radio']:not(.not\:active):focus {
  background: #7a7a7a;
}

.is\:dark .input[type='checkbox']:not(.not\:active):active, .is\:dark .input[type='radio']:not(.not\:active):active {
  background: #4e4e4e;
}

.is\:dark .input[type='checkbox'].not\:active, .is\:dark .input[type='checkbox'].not\:active:focus, .is\:dark .input[type='checkbox'].not\:active:active, .is\:dark .input[type='checkbox'][disabled], .is\:dark .input[type='checkbox'][disabled]:focus, .is\:dark .input[type='checkbox'][disabled]:active, .is\:dark .input[type='radio'].not\:active, .is\:dark .input[type='radio'].not\:active:focus, .is\:dark .input[type='radio'].not\:active:active, .is\:dark .input[type='radio'][disabled], .is\:dark .input[type='radio'][disabled]:focus, .is\:dark .input[type='radio'][disabled]:active {
  opacity: 1;
  background: #4e4e4e;
}

.is\:dark .input[type='checkbox']::before, .is\:dark .input[type='radio']::before {
  background: #222222;
}

.is\:dark .input[type='checkbox']:checked::before, .is\:dark .input[type='radio']:checked::before {
  background: none;
}

.is\:dark .input[type='checkbox']:checked::before {
  border-right-color: #f4f4f4;
  border-bottom-color: #f4f4f4;
}

.is\:dark .input[type='radio']:checked::before {
  border-color: #222222;
}
