:root {
  --color-code-block: inherit;
  --color-fix--hover: inherit;
  --color-fix: inherit;
  --color-mark: inherit;
  --color-output: inherit;
}

.lot\:files .lot\:tasks,
.lot\:folders .lot\:tasks,
.lot\:pages .lot\:tasks {
  gap: 0;
}

.lot\:files .lot\:tasks > * .title span,
.lot\:folders .lot\:tasks > * .title span,
.lot\:pages .lot\:tasks > * .title span {
  display: none;
}

.is\:dark {
  --fill-file--active: #242424;
  --fill-file--current: #262626;
  --fill-file--hover: #242424;
  --fill-file: #222222;
  --stroke-file--active: #242424;
  --stroke-file--current: #262626;
  --stroke-file--hover: #242424;
  --stroke-file: #222222;
  --fill-folder--active: #242424;
  --fill-folder--current: #262626;
  --fill-folder--hover: #242424;
  --fill-folder: #222222;
  --stroke-folder--active: #242424;
  --stroke-folder--current: #262626;
  --stroke-folder--hover: #242424;
  --stroke-folder: #222222;
  --fill-page--active: #242424;
  --fill-page--current: #262626;
  --fill-page--hover: #242424;
  --fill-page: #222222;
  --stroke-page--active: #242424;
  --stroke-page--current: #262626;
  --stroke-page--hover: #242424;
  --stroke-page: #222222;
  --color--disabled: #4e4e4e;
  --color-bar-info: #b2b2b2;
  --color-bar-link--active: #919191;
  --color-bar-link--current: #a7a7a7;
  --color-bar-link--disabled: #4e4e4e;
  --color-bar-link--focus: #919191;
  --color-bar-link--hover: #7a7a7a;
  --color-bar-link: #7a7a7a;
  --color-button--active: #f4f4f4;
  --color-button--disabled: #4e4e4e;
  --color-button--focus: #f4f4f4;
  --color-button--hover: #f4f4f4;
  --color-button: #f4f4f4;
  --color-input--disabled: #4e4e4e;
  --color-input--hover: #bdbdbd;
  --color-input--invalid: #de5f5f;
  --color-input: #bdbdbd;
  --color-link--active: #919191;
  --color-link--disabled: #4e4e4e;
  --color-link--focus: #919191;
  --color-link--hover: #7a7a7a;
  --color-link: #7a7a7a;
  --color-menu-info: #b2b2b2;
  --color-menu-link--active: #919191;
  --color-menu-link--current: #a7a7a7;
  --color-menu-link--disabled: #4e4e4e;
  --color-menu-link--focus: #919191;
  --color-menu-link--hover: #7a7a7a;
  --color-menu-link: #7a7a7a;
  --color-tab--active: #bdbdbd;
  --color-tab--current: #a7a7a7;
  --color-tab--disabled: #4e4e4e;
  --color-tab--focus: #bdbdbd;
  --color-tab--hover: #a7a7a7;
  --color-tab-link--active: #919191;
  --color-tab-link--focus: #919191;
  --color-tab-link--hover: #7a7a7a;
  --color-tab-link: #7a7a7a;
  --color-tab: #a7a7a7;
  --color: #a7a7a7;
  --fill-alert: #242424;
  --fill-bar-info: #2d2d2d;
  --fill-bar-link--active: #242424;
  --fill-bar-link--focus: #242424;
  --fill-bar-link--hover: #242424;
  --fill-button--active: #575757;
  --fill-button--disabled: #383838;
  --fill-button--focus: #717171;
  --fill-button--hover: #646464;
  --fill-button: #646464;
  --fill-code-block: #2d2d2d;
  --fill-file-icon: #222222;
  --fill-fix--focus: #222222;
  --fill-fix--hover: #2b2b2b;
  --fill-fix: #2b2b2b;
  --fill-folder-icon: #7a7a7a;
  --fill-input--active: #2d2d2d;
  --fill-input--disabled: #242424;
  --fill-input--focus: #2d2d2d;
  --fill-input--hover: #2d2d2d;
  --fill-input: #2d2d2d;
  --fill-mark: #383838;
  --fill-menu-info: #2d2d2d;
  --fill-menu-link--active: #242424;
  --fill-menu-link--current: #262626;
  --fill-menu-link--focus: #242424;
  --fill-menu-link--hover: #242424;
  --fill-tab--current: none;
  --fill-tab--hover: #242424;
  --fill-tab: #242424;
  --fill: #222222;
  --shadow-button--focus: 0 0 0 3px rgba(255, 255, 255, .025);
  --shadow-input--focus: 0 0 0 3px rgba(255, 255, 255, .025);
  --shadow-input--invalid: 0 0 0 3px rgba(255, 0, 0, .15);
  --shadow-menu: 0 1px 5px rgba(0, 0, 0, .25);
  --stroke-file-icon: #646464;
  --stroke-fix--active: #434343;
  --stroke-fix--focus: #434343;
  --stroke-fix--hover: #383838;
  --stroke-fix: #383838;
  --stroke-input--active: #434343;
  --stroke-input--disabled: #2f2f2f;
  --stroke-input--focus: #434343;
  --stroke-input--hover: #383838;
  --stroke-input--invalid: #a12222;
  --stroke-input: #383838;
  --stroke-output: transparent;
  --stroke-tab: #2d2d2d;
  --stroke: #2d2d2d;
  --color-option-picker: var(--color-input);
  --fill-option-picker: var(--fill-input);
  --radius-option-picker: var(--radius-input);
  --shadow-option-picker: var(--shadow-input);
  --stroke-option-picker: var(--stroke-input);
  --color-option-picker__option: var(--color-input);
  --color-option-picker__options--open: var(--color-input);
  --color-option-picker__options: var(--color-input);
  --fill-option-picker__option--active: rgba(255, 255, 255, .025);
  --fill-option-picker__option--focus: rgba(255, 255, 255, .025);
  --fill-option-picker__option--hover: rgba(255, 255, 255, .025);
  --fill-option-picker__option--selected: rgba(255, 255, 255, .05);
  --fill-option-picker__option: none;
  --fill-option-picker__options: var(--fill-input);
  --stroke-option-picker__options--open: var(--stroke-input--focus);
  --stroke-option-picker__options: var(--stroke-input);
  --color-option-picker__option--hover: var(--color-input--hover);
  --color-option-picker__option--focus: var(--color-input--focus);
  --color-option-picker__option--active: var(--color-input--active);
  --color-option-picker__option--selected: var(--color-input--selected);
  --color-option-picker__option--disabled: var(--color-input--disabled);
  --color-option-picker--hover: var(--color-input--hover, var(--color-input));
  --fill-option-picker--hover: var(--fill-input--hover, var(--fill-input));
  --shadow-option-picker--hover: var(--shadow-input--hover, var(--shadow-input));
  --stroke-option-picker--hover: var(--stroke-input--hover, var(--stroke-input));
  --color-option-picker--focus: var(--color-input--focus, var(--color-input));
  --fill-option-picker--focus: var(--fill-input--focus, var(--fill-input));
  --shadow-option-picker--focus: var(--shadow-input--focus, var(--shadow-input));
  --stroke-option-picker--focus: var(--stroke-input--focus, var(--stroke-input));
  --color-option-picker--active: var(--color-input--active, var(--color-input));
  --fill-option-picker--active: var(--fill-input--active, var(--fill-input));
  --shadow-option-picker--active: var(--shadow-input--active, var(--shadow-input));
  --stroke-option-picker--active: var(--stroke-input--active, var(--stroke-input));
  --color-tag-picker: var(--color-input);
  --fill-tag-picker: var(--fill-input);
  --radius-tag-picker: var(--radius-input);
  --shadow-tag-picker: var(--shadow-input);
  --stroke-tag-picker: var(--stroke-input);
  --color-tag-picker__tag--active: #b2b2b2;
  --color-tag-picker__tag--disabled: #7a7a7a;
  --color-tag-picker__tag--focus: #b2b2b2;
  --color-tag-picker__tag--hover: #a7a7a7;
  --color-tag-picker__tag--read-only: #a7a7a7;
  --color-tag-picker__tag--selected: #a7a7a7;
  --color-tag-picker__tag: #a7a7a7;
  --fill-tag-picker__tag--active: #434343;
  --fill-tag-picker__tag--disabled: #383838;
  --fill-tag-picker__tag--focus: #4e4e4e;
  --fill-tag-picker__tag--hover: #434343;
  --fill-tag-picker__tag--read-only: #434343;
  --fill-tag-picker__tag--selected: #4e4e4e;
  --fill-tag-picker__tag: #434343;
  --color-tag-picker--hover: var(--color-input--hover, var(--color-input));
  --fill-tag-picker--hover: var(--fill-input--hover, var(--fill-input));
  --shadow-tag-picker--hover: var(--shadow-input--hover, var(--shadow-input));
  --stroke-tag-picker--hover: var(--stroke-input--hover, var(--stroke-input));
  --color-tag-picker--focus: var(--color-input--focus, var(--color-input));
  --fill-tag-picker--focus: var(--fill-input--focus, var(--fill-input));
  --shadow-tag-picker--focus: var(--shadow-input--focus, var(--shadow-input));
  --stroke-tag-picker--focus: var(--stroke-input--focus, var(--stroke-input));
  --color-tag-picker--active: var(--color-input--active, var(--color-input));
  --fill-tag-picker--active: var(--fill-input--active, var(--fill-input));
  --shadow-tag-picker--active: var(--shadow-input--active, var(--shadow-input));
  --stroke-tag-picker--active: var(--stroke-input--active, var(--stroke-input));
}

.is\:dark .option-picker::after {
  --stroke-option-picker--open: var(--color-option-picker);
  --stroke-option-picker: var(--color-option-picker);
}

.is\:dark .option-picker__option--selected {
  --fill-option-picker__option--active: rgba(255, 255, 255, .075);
  --fill-option-picker__option--focus: rgba(255, 255, 255, .075);
  --fill-option-picker__option--hover: rgba(255, 255, 255, .075);
}

.is\:dark .option-picker__source:read-only + .option-picker,
.is\:dark .option-picker__source:read-only + .option-picker--focus {
  --color-option-picker--read-only: var(--color-input--read-only, var(--color-input));
  --fill-option-picker--read-only: var(--fill-input--read-only, var(--fill-input));
  --shadow-option-picker--read-only: var(--shadow-input--read-only, var(--shadow-input));
  --stroke-option-picker--read-only: var(--stroke-input--read-only, var(--stroke-input));
}

.is\:dark .option-picker__source:disabled + .option-picker,
.is\:dark .option-picker__source:disabled + .option-picker--focus {
  --color-option-picker--disabled: var(--color-input--disabled, var(--color-input));
  --fill-option-picker--disabled: var(--fill-input--disabled, var(--fill-input));
  --shadow-option-picker--disabled: var(--shadow-input--disabled, var(--shadow-input));
  --stroke-option-picker--disabled: var(--stroke-input--disabled, var(--stroke-input));
}

.is\:dark .tag-picker--focus {
  --color-input: var(--color-input--focus);
  --fill-input: var(--fill-input--focus);
  --shadow-input: var(--shadow-input--focus);
  --stroke-input: var(--stroke-input--focus);
  --color-tag-picker: var(--color-input);
  --fill-tag-picker: var(--fill-input);
  --shadow-tag-picker: var(--shadow-input);
  --stroke-tag-picker: var(--stroke-input);
  --color-tag-picker--hover: var(--color-input);
  --fill-tag-picker--hover: var(--fill-input);
  --shadow-tag-picker--hover: var(--shadow-input);
  --stroke-tag-picker--hover: var(--stroke-input);
  --color-tag-picker--focus: var(--color-input);
  --fill-tag-picker--focus: var(--fill-input);
  --shadow-tag-picker--focus: var(--shadow-input);
  --stroke-tag-picker--focus: var(--stroke-input);
  --color-tag-picker--active: var(--color-input);
  --fill-tag-picker--active: var(--fill-input);
  --shadow-tag-picker--active: var(--shadow-input);
  --stroke-tag-picker--active: var(--stroke-input);
}

.is\:dark .tag-picker__source:read-only + .tag-picker,
.is\:dark .tag-picker__source:read-only + .tag-picker--focus {
  --color-tag-picker--read-only: var(--color-input--read-only, var(--color-input));
  --fill-tag-picker--read-only: var(--fill-input--read-only, var(--fill-input));
  --shadow-tag-picker--read-only: var(--shadow-input--read-only, var(--shadow-input));
  --stroke-tag-picker--read-only: var(--stroke-input--read-only, var(--stroke-input));
}

.is\:dark .tag-picker__source:disabled + .tag-picker,
.is\:dark .tag-picker__source:disabled + .tag-picker--focus {
  --color-tag-picker--disabled: var(--color-input--disabled, var(--color-input));
  --fill-tag-picker--disabled: var(--fill-input--disabled, var(--fill-input));
  --shadow-tag-picker--disabled: var(--shadow-input--disabled, var(--shadow-input));
  --stroke-tag-picker--disabled: var(--stroke-input--disabled, var(--stroke-input));
}

.is\:dark blockquote,
.is\:dark caption,
.is\:dark figcaption,
.is\:dark .description {
  color: #919191;
}

.is\:dark .lot\:menu a:focus,
.is\:dark .lot\:menu a:hover,
.is\:dark .lot\:menu a:active {
  --fill-menu-link--current: #292929;
}

.is\:dark .is\:folder::after {
  --fill-folder-icon: #545454;
}

.is\:dark .lot\:file:hover,
.is\:dark .lot\:file:active {
  --fill-file--current: #292929;
  --stroke-file--current: #292929;
}

.is\:dark .lot\:folder:hover,
.is\:dark .lot\:folder:active {
  --fill-folder--current: #292929;
  --stroke-folder--current: #292929;
}

.is\:dark .lot\:page:hover,
.is\:dark .lot\:page:active {
  --fill-page--current: #292929;
  --stroke-page--current: #292929;
}

.is\:light {
  --color-bar-link: #888;
  --color-input: #333;
  --color-link: #888;
  --color-menu-link: #888;
  --color-tab: #434343;
  --color: #666;
  --fill-button: #797979;
  --fill-input: #fff;
  --fill-tab--current: none;
  --fill-tab: #f5f5f5;
  --fill: #fafafa;
  --stroke-input: #c4c4c4;
  --stroke-tab: #d4d4d4;
  --stroke: #d7d7d7;
}