.alert {
  p {
    background: var(--fill-alert);
    border-radius: var(--radius-alert);
    border: 0 solid var(--stroke-alert);
    box-shadow: var(--shadow-alert);
    color: var(--color-alert);
    padding: calc(var(--z) * .75) calc(var(--z) * 1.25);
    .f\:r .icon {
      margin-right: calc(var(--x) / -4);
    }
    + p {
      margin-top: calc(var(--y) / 2);
    }
  }
}