.alert {
  p {
    background: darken($color-back, 5%);
    padding: ($z * .75) ($z * 1.25);
    .f\:r .icon {
      margin-right: (-$x / 4);
    }
    > small {
      + br {
        display: none;
        + small {
          display: flex;
          flex-wrap: wrap;
          margin: 0 (-$x / 8);
          padding: ($y / 2) 0 ($y / 4);
          a {
            font-size: ($z * .75);
            margin: 0 ($x / 8);
            padding: 0 ($x / 3);
            background: rgba(0, 0, 0, .05);
          }
        }
      }
    }
    + p {
      margin-top: ($y / 2);
    }
  }
}