*,
::before,
::after {
  box-sizing: border-box;
  font: inherit;
  margin: 0;
  padding: 0;
  text-decoration: inherit;
  text-transform: inherit;
}

::-webkit-input-placeholder {
  @include placeholder(.5);
}

::-moz-placeholder {
  @include placeholder(.5);
}

::placeholder {
  @include placeholder(.5);
}

:focus {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  outline: 0;
}

a {
  color: inherit;
  &:any-link {
    background: var(--fill-link, none);
    color: var(--color-link);
    $states: hover, focus, active;
    @each $state in $states {
      &:#{$state} {
        background: var(--fill-link--#{$state}, var(--fill-link, none));
        color: var(--color-link--#{$state}, var(--color-link));
      }
    }
  }
}

:root, body {
  min-height: 100%;
}

:root {
  background: var(--fill);
  border: 0 solid var(--stroke);
  color: var(--color);
  font: normal normal var(--font-size)/var(--font-height) var(--font-face);
  text-align: left;
}

abbr {
  border: 0;
  border-bottom: 1px solid transparent;
  cursor: inherit;
  text-decoration: none;
  &[title]:hover {
    border-bottom-color: var(--stroke);
    cursor: help;
  }
}

article,
aside,
footer,
header,
main,
nav,
section {
  display: block;
}

b,
dt,
legend,
strong,
th {
  @extend .b;
}

dfn,
em,
i,
var {
  @extend .i;
}

caption,
figure {
  @extend .text-center;
}

code {
  @extend .code;
}

del,
s {
  @extend .s;
}

ins,
u {
  @extend .u;
}

kbd,
small,
sub,
sup {
  @extend .small;
}

sub,
sup {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

sub {
  top: .5em;
}

sup {
  top: -.5em;
}

mark {
  background: var(--fill-mark);
  color: var(--color-mark);
}

pre {
  font-style: normal;
  font-weight: normal;
  overflow: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  code {
    background: var(--fill-code-block);
    border: 0 solid;
    border-color: var(--stroke-code-block);
    border-radius: var(--radius-code-block);
    box-shadow: var(--shadow-code-block);
    color: var(--color-code-block);
    display: block;
    padding: calc(var(--y) - var(--z)) calc(var(--x) / 2);
  }
}

img {
  height: auto;
  max-width: 100%;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
}

button,
input[type='checkbox'],
input[type='color'],
input[type='file'],
input[type='image'],
input[type='radio'],
input[type='range'],
label,
select,
summary {
  @include user-select(none);
  cursor: pointer;
}

button,
input,
input[type='checkbox'],
input[type='color'],
input[type='file'],
input[type='image'],
input[type='radio'],
input[type='range'],
select,
textarea {
  &:disabled {
    cursor: not-allowed;
  }
}

@for $i from 0 through 5 {
  h#{$i + 1} {
    @if 0 == $i {
      font-size: calc(var(--z) * 2);
    } @else {
      font-size: calc(var(--z) * (2 - (#{$i} / 4)));
    }
    line-height: 1;
  }
}

kbd {
  cursor: pointer;
  display: inline-block;
  padding: 0 calc(var(--z) / 2);
  vertical-align: middle;
}

blockquote,
details,
dl,
fieldset,
figcaption,
figure,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
ol,
p,
pre,
table,
ul {
  @extend .p;
}

blockquote {
  font-size: calc(var(--z) * 1.1);
  margin-right: var(--x);
  margin-left: var(--x);
}

dd {
  margin-left: var(--x);
}

figure {
  figcaption {
    margin-top: calc(var(--y) / 4);
  }
  img {
    display: block;
    margin: 0 auto;
  }
}

ol,
ul {
  margin-left: calc(var(--x) + var(--z));
}

ol,
ul {
  & & {
    margin-left: var(--z);
  }
}

ul {
  list-style: square;
}

fieldset,
hr {
  border: 1px solid var(--stroke);
  color: inherit;
}

fieldset {
  padding: var(--y) var(--x);
}

hr {
  border-style: dashed;
  border-width: 1px 0 0;
}

legend {
  margin: 0 0 calc(var(--x) / -3);
  padding: 0 calc(var(--x) / 3);
  + .p {
    margin-top: 0;
  }
}