@import 'content/section';
@import 'content/tab';

pre {
  &.is\:text {
    code {
      display: inline-block;
      background: none;
      border: 1px dotted;
      color: inherit;
    }
  }
}

.is\:error {
  display: flex;
  border-top-width: 4px;
  align-items: center;
  align-content: center;
  text-align: center;
  > * {
    flex: 1;
    .title {
      display: inline-flex;
      > .icon + span {
        margin-left: ($x / 4);
      }
    }
  }
}
