@import 'content/column';
@import 'content/columns';
@import 'content/row';
@import 'content/rows';
@import 'content/section';
@import 'content/stack';
@import 'content/tab';

pre {
  &.is\:text {
    code {
      background: none;
      border-style: dotted;
      border-width: 1px;
      color: inherit;
      display: inline-block;
    }
  }
}

.is\:error {
  align-content: center;
  align-items: center;
  border-top-width: 4px;
  display: flex;
  text-align: center;
  > * {
    flex: 1;
    .title {
      display: inline-flex;
      > .icon + span {
        margin-left: calc(var(--x) / 4);
      }
    }
  }
}