.b {
  font-weight: bold;
}

.code {
  font-family: $mono;
  font-size: 80%; // Magic :(
}

.i {
  font-style: italic;
}

.p {
  * + & {
    margin-top: $y;
  }
}

.small {
  font-size: 70%;
}

.s {
  text-decoration: line-through;
}

.u {
  text-decoration: underline;
}

.is\:hidden,
[hidden] {
  display: none !important;
}

.not\:active {
  opacity: .5;
  cursor: not-allowed;
  .not\:active {
    opacity: 1;
  }
}

$aligns: (
  'c': 'center',
  'e': 'end',
  'r': 'right',
  's': 'start'
);

@each $k, $v in $aligns {
  .text-#{$v},
  .ta\:#{$k} {
    text-align: #{$v};
  }
}

.text-justify,
.ta\:j {
  text-align: justify;
}

.align-center,
.align-end,
.align-left,
.align-right,
.align-start,
.a\:c,
.a\:e,
.a\:l,
.a\:r,
.a\:s {
  display: block;
  float: none;
}

.align-center,
.a\:c {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  img {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}

.align-end,
.a\:e {
  margin-top: ($y / 3);
  margin-inline-end: $x;
  margin-bottom: ($y / 1.5);
  float: inline-end;
  text-align: end;
  img {
    display: block;
  }
}

* + .align-center,
* + .a\:c {
  margin-top: $y;
}

.align-left,
.a\:l {
  margin-top: ($y / 3);
  margin-right: $x;
  margin-bottom: ($y / 1.5);
  float: left;
  text-align: left;
  img {
    display: block;
  }
}

.align-right,
.a\:r {
  margin-top: ($y / 3);
  margin-bottom: ($y / 1.5);
  margin-left: $x;
  float: right;
  text-align: right;
}

.align-start,
.a\:s {
  margin-top: ($y / 3);
  margin-inline-start: $x;
  margin-bottom: ($y / 1.5);
  float: inline-start;
  text-align: start;
  img {
    display: block;
  }
}

.f\:e {
  float: inline-end;
}

.f\:l {
  float: left;
}

.f\:r {
  float: right;
}

.f\:s {
  float: inline-start;
}

$sizes: 0, 1, 2;

@each $size in $sizes {
  .m\:#{$size} {
    margin: ($y * $size) ($x * $size);
  }
  .mb\:#{$size} {
    margin-bottom: ($y * $size);
  }
  .me\:#{$size} {
    margin-block-end: ($y * $size);
    margin-inline-end: ($x * $size);
  }
  .meb\:#{$size} {
    margin-block-end: ($y * $size);
  }
  .mei\:#{$size} {
    margin-inline-end: ($x * $size);
  }
  .ml\:#{$size} {
    margin-left: ($x * $size);
  }
  .mr\:#{$size} {
    margin-right: ($x * $size);
  }
  .ms\:#{$size} {
    margin-block-start: ($y * $size);
    margin-inline-start: ($x * $size);
  }
  .msb\:#{$size} {
    margin-block-start: ($y * $size);
  }
  .msi\:#{$size} {
    margin-inline-start: ($x * $size);
  }
  .mt\:#{$size} {
    margin-top: ($y * $size);
  }
  .mx\:#{$size} {
    margin-right: ($x * $size);
    margin-left: ($x * $size);
  }
  .my\:#{$size} {
    margin-top: ($y * $size);
    margin-bottom: ($y * $size);
  }
  .p\:#{$size} {
    padding: ($y * $size) ($x * $size);
  }
  .pb\:#{$size} {
    padding-bottom: ($y * $size);
  }
  .pe\:#{$size} {
    padding-block-end: ($y * $size);
    padding-inline-end: ($x * $size);
  }
  .peb\:#{$size} {
    padding-block-end: ($y * $size);
  }
  .pei\:#{$size} {
    padding-inline-end: ($x * $size);
  }
  .pl\:#{$size} {
    padding-left: ($x * $size);
  }
  .pr\:#{$size} {
    padding-right: ($x * $size);
  }
  .ps\:#{$size} {
    padding-block-start: ($y * $size);
    padding-inline-start: ($x * $size);
  }
  .psb\:#{$size} {
    padding-block-start: ($y * $size);
  }
  .psi\:#{$size} {
    padding-inline-start: ($x * $size);
  }
  .pt\:#{$size} {
    padding-top: ($y * $size);
  }
  .px\:#{$size} {
    padding-right: ($x * $size);
    padding-left: ($x * $size);
  }
  .py\:#{$size} {
    padding-top: ($y * $size);
    padding-bottom: ($y * $size);
  }
}

.table {
  width: 100%;
  border-collapse: collapse;
  caption {
    margin-bottom: ($y / 4);
  }
  th,
  td {
    border: 1px solid;
    padding: ($y / 6) ($x / 2);
    text-align: inherit;
    vertical-align: top;
  }
}