@media (min-width: 720px) {
  .flex {
    display: flex;
    gap: calc(var(--y) + (var(--h) - var(--z))) calc(var(--x) + (var(--h) - var(--z)));
    > * {
      margin: 0;
    }
  }
  .lot\:fields {
    &.flex {
      > .lot\:field {
        gap: 0 var(--x);
        margin: 0;
        min-width: 0; // <https://stackoverflow.com/a/66689926/1163000>
      }
    }
  }
  .lot\:tabs {
    .lot\:links {
      line-height: calc(var(--y) * 2);
      li {
        background: var(--fill-tab);
        border-radius: var(--corner-tab);
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border: 1px solid;
        border-color: var(--stroke-tab);
        border-bottom-width: 0;
        box-shadow: var(--shadow-tab);
        + li {
          margin-left: -1px;
        }
        &.has\:link {
          background: var(--fill-tab-link, var(--fill-tab));
          border-color: var(--stroke-tab-link, var(--stroke-tab));
          @each $v in (hover, focus, active) {
            &:#{$v} {
              background: var(--fill-tab-link--#{$v}, var(--fill-tab-link, var(--fill-tab)));
              border-color: var(--stroke-tab-link--#{$v}, var(--stroke-tab-link, var(--stroke-tab)));
            }
          }
        }
        &.is\:current {
          background: var(--fill-tab--current, var(--fill-tab));
          border-color: var(--stroke-tab--current, var(--stroke-tab));
          z-index: 1;
          &::after {
            border-bottom: 1px solid;
            border-bottom-color: var(--fill);
            bottom: -1px;
            content: "";
            left: 0;
            position: absolute;
            right: 0;
            top: auto;
          }
        }
        &.not\:active {
          background: var(--fill-tab--disabled, var(--fill-tab));
          border-color: var(--stroke-tab--disabled, var(--stroke-tab));
        }
      }
      a {
        padding: 0 calc(var(--z) * 1.25);
      }
    }
    &.has\:gap {
      .content\:tab,
      .lot\:tab {
        background: var(--fill-tab);
        border: 1px solid;
        border-color: var(--stroke-tab);
        padding: var(--y) var(--x);
        &.is\:current {
          background: var(--fill-tab--current, var(--fill-tab));
          border-color: var(--stroke-tab--current, var(--stroke-tab));
        }
      }
    }
    &:not(.count\:1):not(.has\:gap) {
      .content\:tab,
      .lot\:tab {
        border-top: 1px solid;
        border-top-color: var(--stroke-tab);
        padding-top: var(--y);
      }
    }
  }
}

@media (max-width: 720px) {
  @each $type, $v in (b bottom, l left, r right, t top) {
    .m#{$type}\:2 {
      @if left == $v or right == $v {
        margin-#{$v}: var(--x);
      } @else {
        margin-#{$v}: var(--y);
      }
    }
    .p#{$type}\:2 {
      @if left == $v or right == $v {
        padding-#{$v}: var(--x);
      } @else {
        padding-#{$v}: var(--y);
      }
    }
  }
  .mx\:2 {
    margin-left: var(--x);
    margin-right: var(--x);
  }
  .my\:2 {
    margin-bottom: var(--y);
    margin-top: var(--y);
  }
  .m\:2 {
    margin: var(--y) var(--x);
  }
  .px\:2 {
    padding-left: var(--x);
    padding-right: var(--x);
  }
  .py\:2 {
    padding-bottom: var(--y);
    padding-top: var(--y);
  }
  .p\:2 {
    padding: var(--y) var(--x);
  }
  .lot\:bar {
    .lot\:links {
      &.of\:lot {
        flex: 1;
        min-width: 100%;
        width: 100%;
      }
    }
    .has\:form {
      flex: 1;
      .lot\:field {
        .lot\:f {
          display: flex;
          .input {
            flex: 1;
          }
        }
      }
    }
    .has\:menu {
      ul {
        ul {
          left: 25%;
        }
      }
    }
  }
  .lot\:desk,
  .lot\:section {
    padding: calc(var(--y) / 2) calc(var(--x) / 2);
  }
  .lot\:field {
    flex-direction: column;
    width: auto;
    > * {
      + * {
        margin-top: calc(var(--y) / 3);
      }
    }
    > label {
      padding: 0;
      text-align: inherit;
      width: auto;
      + div,
      + br + div {
        padding: 0;
        text-align: inherit;
        width: auto;
      }
    }
  }
  .lot\:pager {
    > span {
      &:first-child,
      &:last-child {
        display: none;
      }
    }
  }
  .lot\:tabs {
    .lot\:links {
      ul {
        gap: 0 var(--x);
      }
      .title {
        svg {
          display: none;
        }
      }
    }
  }
}