@media (min-width: 720px) {
  .is\:flex {
    display: flex;
    gap: var(--y) var(--x);
    > * {
      margin: 0;
    }
  }
  .lot\:fields {
    &.is\:flex {
      > .lot\:field {
        gap: 0 var(--x);
        margin: 0;
        min-width: 0; // <https://stackoverflow.com/a/66689926/1163000>
      }
    }
  }
  .lot\:tabs {
    .lot\:links {
      height: calc(var(--y) * 2);
      line-height: calc(var(--y) * 2);
      li {
        border: 1px solid var(--stroke-tab);
        border-bottom-width: 0;
        + li {
          border-left-width: 0;
        }
        &:not(.has\:link) {
          a {
            color: inherit;
          }
        }
        &.is\:current {
          z-index: 4;
          &::before,
          &::after {
            border-bottom: 1px solid var(--stroke-tab);
            bottom: 0;
            content: "";
            display: block;
            height: 0;
            position: absolute;
            width: 9999em;
          }
          &::before {
            right: 100%;
          }
          &::after {
            left: 100%;
          }
        }
      }
      a {
        padding: 0 calc(var(--z) * 1.25);
      }
    }
  }
}

@media (max-width: 720px) {
  $types: b bottom, l left, r right, t top;
  @each $type, $v in $types {
    .m#{$type}\:2 {
      @if left == $v or right == $v {
        margin-#{$v}: var(--x);
      } @else {
        margin-#{$v}: var(--y);
      }
    }
    .p#{$type}\:2 {
      @if left == $v or right == $v {
        padding-#{$v}: var(--x);
      } @else {
        padding-#{$v}: var(--y);
      }
    }
  }
  .mx\:2 {
    margin-left: var(--x);
    margin-right: var(--x);
  }
  .my\:2 {
    margin-bottom: var(--y);
    margin-top: var(--y);
  }
  .m\:2 {
    margin: var(--y) var(--x);
  }
  .px\:2 {
    padding-left: var(--x);
    padding-right: var(--x);
  }
  .py\:2 {
    padding-bottom: var(--y);
    padding-top: var(--y);
  }
  .p\:2 {
    padding: var(--y) var(--x);
  }
  .lot\:bar {
    .lot\:links {
      &.of\:lot {
        flex: 1;
        min-width: 100%;
        width: 100%;
      }
    }
    .has\:form {
      flex: 1;
      .lot\:field {
        .lot\:f {
          display: flex;
          .input {
            flex: 1;
          }
        }
      }
    }
    .has\:menu {
      ul {
        ul {
          left: 25%;
        }
      }
    }
  }
  .lot\:desk,
  .lot\:section {
    padding: calc(var(--y) / 2) calc(var(--x) / 2);
  }
  .lot\:field {
    flex-direction: column;
    width: auto;
    > * {
      + * {
        margin-top: calc(var(--y) / 3);
      }
    }
    > label {
      padding: 0;
      text-align: inherit;
      width: auto;
      + div,
      + br + div {
        padding: 0;
        text-align: inherit;
        width: auto;
      }
    }
  }
  .lot\:pager {
    > span {
      &:first-child,
      &:last-child {
        display: none;
      }
    }
  }
  .lot\:tabs {
    .lot\:links {
      li {
        margin-right: var(--x);
        &:not(.has\:link).is\:current {
          a {
            color: inherit;
          }
        }
        &:last-child {
          margin-right: 0;
        }
      }
      .title {
        svg {
          display: none;
        }
      }
    }
  }
}